[2015-09-11 18:28] blesh opened #300 "Not working in web workers"
After discussing with @vsavkin, it was determined that our utility for getting a reference to the root or global scope was not properly handling scenarios where RxJS Next was being run in a Web Worker.

In a web worker, the global scope is `self` and not `global` or `window`.

[2015-09-11 18:33] jhusain commented on #298
+1

JH

[2015-09-11 21:04] trxcllnt commented on #298
@blesh I *almost never* `publish().refCount()`, especially if we add something like [`control`](https://github.com/ReactiveX/RxJS/issues/171#issuecomment-131218605), so I will argue vehemently against removing the `publish` variants, or at least removing them but keeping the generic `multicast`.

Ironically, even though it's counter to our performance goals, I think the best way to reduce operator

[2015-09-11 21:05] trxcllnt commented on #300
@blesh @vsavkin we should probably remove the global stuff anyway (in favor of some flavor of DI).

[2015-09-11 21:43] #260 closed

[2015-09-11 21:46] #291 closed

[2015-09-11 21:48] blesh commented on #300
but I can DI anything sideways in JavaScript! :P look at me:

[code]

[2015-09-11 21:48] #300 closed

[2015-09-11 21:58] trxcllnt commented on #300
@blesh that's exactly why we should move to "functor modules" like @steveorsomethin uses.

[2015-09-11 22:15] blesh commented on #298
@trxcllnt That sentence confused me. Can you clarify? You *want* all of the publish variants? Are you saying you actually use `connect` all the time?

I am in favor of a combination of 1 and 3 in @staltz's comment above. including the share variants and basic building blocks in the exported global, but leaving all of the other ones in the repository.

[2015-09-11 22:20] blesh commented on #300
Yeah, I like that idea. I'm concerned about the consumption by "the masses" a little. Just default usage seems like it would be really strange for people.

`Rx().Observable` ... people would be like "why is the namespace a function?". I think i most cases, many developers would end up calling `Rx()` over and over again, rather than caching the result, when 99.999999% of the time they just want one

[2015-09-11 22:34] robwormald commented on #298
The ones that have confused me the most (from a n00b perspective) are the ones that require double chaining like `publish().refCount()` - `.share()` is a much more intuitive operator for that case, so I like @staltz's idea #1.

I'm all for leaving the bulk of the operators out of the exported global, but one thing I'd like to see documented / discussed is what the preferred method is for adding yo

[2015-09-12 00:54] trxcllnt commented on #298
@blesh yes, I almost always `connect`. refCount is almost never the behavior I want, so either I control manually with `connect`, or would use `control` in a world where that existed: `publish().control(connectionStrategy)`.

[2015-09-12 00:58] trxcllnt commented on #298
To be clear I'm fine getting rid of all the specialization of `multicast` as long as we keep `multicast`. It's not that much more difficult to call `source.multicast(_=> new ReplaySubject(10))` rather than `source.replay(10)`.

[2015-09-12 01:05] trxcllnt commented on #300
@blesh my proposal:

- `import Rx from '@ReactiveX/RxJS'` would give you Rx like normal
- `import ObservableFactory from '@ReactiveX/RxJS/Observable'` would give you back the Observable's "functor module" which accepts all its dependencies as parameters (including the classes it would normally import).

Then people can instrument versions of Rx with overridden globals, etc. as would have been the

[2015-09-12 03:35] blesh commented on #300
That might mesh well with Angular's DI, actually. @vsavkin? @jeffbcross?

[2015-09-12 03:39] blesh commented on #298
I think we have a consensus, then. Your `control` (name to be bike shedded) method, `multicast` and the `share` variants would be the ideal.

[2015-09-12 07:56] jinroh opened #302 "SwitchAll / SwitchLatest are broken"
`switch` operators do not seem to unsubscribe properly their inner subscriptions.

Here is a small repro code:

[code]

[2015-09-12 08:08] kwonoj commented on #287
I'm also interested in this topic about expanding operator implementations from existing RxJS. It'd be great if I can participate for some of operator implementations but since it's yet pre-alpha stage not sure if window for PR is opened at this moment. @blesh May I able to ask about milestone plans or PR for operator is acceptable currently?

[2015-09-12 14:48] blesh commented on #287
Anyone may PR any operator they like!

The set that shows up in issue #100 was just a minimum viable set. This library is modular, so we can add operators without including them in the global export if we choose

[2015-09-13 06:53] robwormald commented on #300
@blesh this also fixes the wacky TVJS (appleTV) bug i discovered the other day :+1:

I don't believe we're dependency-injecting Observables anywhere in NG2 (yet) but I'm all for @trxcllnt's proposal.

[2015-09-13 07:25] blesh opened #304 "Marble diagram tests just don't work for synchronous scenarios"
For example: `Observable.of(1,2,3)` ... how are you going to represent 3 values and a completion in 1 frame? `123|`? and then how does that "line up" to expected results? What about 3 values and an error? what about 100ms, then 14 synchronous values, then 200ms then one value and it completes?

It's a shame because I find the look of the test DSL very compelling.

@mattpodwysocki can say "I told y

[2015-09-13 15:43] staltz commented on #304
Why do you even need a marble diagram for purely synchronous cases? I think the DSL should be used only where convenient.

[2015-09-13 15:56] headinthebox commented on #304
And since it is just a string, you can invent new notation for the sync case, like [1,2,3] or 1#2#3.

[2015-09-13 19:25] blesh commented on #304
Imagine `last`,  observable runs for some amount of time, then when it completes, it synchronously nexts, then completes in the same frame. That's not `------a|` by our notation.

I've been thinking of something like @headinthebox was saying, but it messes with the ability to line them up.

[code]

I spouse the upside is, since they're tests you can specify that this shouldn't happen, but it worri

[2015-09-13 19:26] staltz commented on #304
Then just define e3 differently:

e3.withLatestFrom(e1,e2)

[code]

[2015-09-13 19:28] blesh commented on #304
Right. That's what I was saying. I'm just worried that there's something else I'm missing

[2015-09-13 19:28] staltz commented on #304
Completely irrelevant to this thread, but since we're at it, for purely aesthetic purposes I prefer parentheses:

`r ----(cab)--|`

[2015-09-13 19:29] blesh commented on #304
I like that, it doesn't visually match the pipe as much

[2015-09-13 22:17] blesh opened #306 "Add last operator"
Just what it says, we need the `last` operator.

[2015-09-14 16:32] blesh opened #309 "Find all tests with `setTimeout` in them and replace them"
Now that we have the TestScheduler, I'm sick of waiting for the tests with *actual* timing in them. I need to find them and kill them, replacing them with TestScheduler "marble" tests.

[2015-09-14 16:38] kwonoj commented on #309
Candidates are (most of) all test cases exist under /spec/**, is that correct?

[2015-09-14 16:38] blesh commented on #309
Yes, that's what I'm talking about.

[2015-09-14 17:03] #304 closed

[2015-09-14 17:03] #306 closed

[2015-09-15 16:16] blesh commented on #302
Thank you for pointing this out. Looking into this and expanding tests uncovered a variety of anomalies. I've been heads down refactoring code in this area.

[2015-09-16 01:02] blesh commented on #302
@jinroh ... can you please checkout #317 and see if it solves your issues? I suspect it will. I was able to confirm your issue and write tests around it.

[2015-09-16 08:05] jinroh commented on #302
I think it solves one of the problem.
Here the example code I use:

[code]

Outer subscription behaves as expected now:

[code]

*However*, the inner subscriptions (from the map operator in my example) do not seem to be cleaned up. The "inner interval" side effects are still present. It looks like the subscription graph is not entirely disposed as it should be, causing a leak:

[code]

Not sure if

[2015-09-16 14:14] blesh commented on #302
Returning subscriptions from the project function in the operator doesn't do anything special. They're not being cleaned up because you're creating new subscriptions and never unsubscribing therm. I'm actually amazed that worked at all. I'll check that out.

[2015-09-16 15:39] jinroh commented on #302
Thanks !

I'm not sure I understand correctly your comment. `switchLatest` is similar to `flatMapLatest` right ? Shouldn't this operator unsubscribe inner-subscriptions on its own, with a concurrency of one ?

[2015-09-16 16:20] trxcllnt commented on #302
@blesh the project function in this example isn't returning a Subscription, the outer subscribe call is just indented a bit.

[2015-09-16 16:30] jinroh commented on #302
@trxcllnt oh i see what @blesh said now !
edited my comment to remove the ident.

[2015-09-16 16:40] blesh commented on #302
Sorry, I was looking at it from my phone before. Looked like it was all together on that little screen

[2015-09-16 16:41] blesh commented on #302
I see the problem... PR incoming

[2015-09-16 17:03] jinroh commented on #302
(me thinking out loud)
I find this bug quite interesting because it shows that the marble tests, as I understand them, cannot validate the correction of these kind of issues (not that the previous tests forms could, but still...).

Could be interesting to find out how to simply test the unsubscription on inner side-effects...

[2015-09-16 17:10] blesh commented on #302
@jinroh this will require just a regular synchronous test.

[2015-09-16 18:42] kwonoj opened #323 "Align single() interface to last() to allow emit default value?"
In case of [`last`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/last.md) operator, it's allows to specify default value if there isn't any matching element.

`Rx.Observable.prototype.last([predicate], [thisArg], [defaultValue])`

[`single`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/single.md) does similar jobs as operator that

[2015-09-16 19:12] kwonoj commented on #323
Or maybe just use `first` only instead of having `single` and `first` both?

[2015-09-16 19:15] kwonoj commented on #323
At second thought, feel it may be better to leave `single` as is singe `first` does jobs for default value and `single` specifically guarantees if there is only single matching element. Leave issue opened to get clarification for now.

[2015-09-16 23:48] thejameskyle commented on #25
Fixed with https://github.com/ReactiveX/RxJS/commit/09b53209a7c430ba1ce40be76173cd56a2f6804f.

https://github.com/ReactiveX/RxJS/blob/master/CONTRIBUTION.md

[2015-09-16 23:54] thejameskyle commented on #28
Can this be closed? as per https://github.com/ReactiveX/RxJS/issues/57#issuecomment-118560662 and https://github.com/zenparsing/es-observable/issues/35

[2015-09-16 23:58] thejameskyle commented on #73
`ReplaySubject` [now exists](https://github.com/ReactiveX/RxJS/blob/b5a0704314c3cb61936eb8f338895da36b6611ca/src/subjects/ReplaySubject.ts), this can be closed.

[2015-09-17 00:27] thejameskyle commented on #101
The Contributor Covenant is an [open](https://github.com/CoralineAda/contributor_covenant) and [peer reviewed](https://github.com/CoralineAda/contributor_covenant/graphs/contributors) document that is maintained by people of many backgrounds and has been adopted by [dozens of major projects](http://contributor-covenant.org/adopters/).

As a member of the LGBT community and as a person who cares ve

[2015-09-17 00:31] thejameskyle commented on #121
You might want to use GitHub's [protected branches](https://help.github.com/articles/about-protected-branches/) to enforce these.

[2015-09-17 04:02] #25 closed

[2015-09-17 04:03] blesh commented on #28
@thejameskyle I agree. I'll close.

[2015-09-17 04:03] #28 closed

[2015-09-17 04:03] #73 closed

[2015-09-17 04:07] blesh commented on #121
@thejameskyle good tip. I didn't know about that feature. `master` is now protected from force push.

[2015-09-17 17:49] blesh commented on #121
Okay, I've got a start in, mostly copy pasta from this issue with a tip of the hat to @jeffbcross embedded for fun.

https://github.com/ReactiveX/RxJS/commit/a3f3746ab1cac095c72a0e6cfa1fab13087ecb01

Closing.

[2015-09-17 17:49] #121 closed

[2015-09-17 17:51] #302 closed

[2015-09-17 17:58] mattpodwysocki commented on #302
@jinroh you're absolutely right, marble diagrams will not fix this issue and I have said from the beginning that we need a hybrid approach with concrete numbers.  For example, in RxJS the current version, we not only track the results, but also the subscriptions, which is not something the current implementation does.

[2015-09-17 18:41] blesh commented on #302
Marble diagrams are amazing/perfect for verifying sequences of notifications.

What we need to add are the output of additional events that occur during the execution of the observable. Mostly just timings of inner subscriptions and unsubscriptions.

[2015-09-17 20:11] #122 closed

[2015-09-17 21:19] blesh commented on #115
Digging into this, the only prudent course for now is a first step, which is global configuration.

After that, we can move to an optional functional/factory style configuration, because I think we can support both. But to get this feature in in a minimal way, I'm going to opt for just global configuration so we can get Alpha out the door.

[2015-09-17 21:41] blesh opened #332 "Rename `switchLatest` to `switchMap`"
It's really switchMap. (same as `flatMapLatest`), but `switchMap` is the name we landed on from bikeshedding

[2015-09-17 21:43] blesh opened #333 "Rename `flatMap` to `mergeMap`"
Again, the result of bike shedding elsewhere. cc/ @jhusain

However with this one, since flatMap is so popular and known from other languages/libraries, we might want to leave an alias.

[2015-09-17 21:45] blesh opened #334 "rename `switchAll` to `switch`"
The `All` is implied, really. Since it was just `switch` in previous versions of Rx, I think we can leave it `switch`. (this is similar to not wanting `zipMap` and just having `zip`)

[2015-09-17 21:46] blesh commented on #161
For now, I've added the global configuration, since I think we can support both at a later time.

[2015-09-17 22:49] trxcllnt commented on #334
👍

[2015-09-18 00:39] #115 closed

[2015-09-18 02:34] saneyuki commented on #333
I think we __should__ leave `flatMap()` as an alias if we do this change. flatMap is very popular terminology as to flattening mapping name so it's not better to remove `flatMap` name for interoperability of concept of this area.

[2015-09-18 03:42] #334 closed

[2015-09-18 13:58] staltz opened #343 "Discussion: what does a typical performance run look like?"
I ran the performance scripts, and I'm not sure if they ran correctly, because I get a lot of zeroes on this table (while Chrome opened and tests seemed to be running):

[code]

I have not setup my development environment like you have. For instance, I didn't have `protractor` installed globally (it's a devDependency, so it's already installed locally). Instead I ran `./node_modules/.bin/webdriver

[2015-09-18 14:06] staltz commented on #343
Also, I don't see why it's necessary to start `http-server` in the home directory. `npm run perf` seems to run normally without it, because `protractor.config.js` has this:
[code]
I guess README.md is simply outdated?

[2015-09-18 14:41] kwonoj commented on #343
I think README.md is somewhat outdated.

For test results, mentioned bit in https://github.com/ReactiveX/RxJS/pull/263 that benchpress need to be updated once its new version is available.

[2015-09-18 16:07] blesh commented on #343
@staltz There was a change in Chrome that broke Benchpress.

[2015-09-18 16:07] blesh commented on #343
@jeffbcross did give me a .zip of a newer version that should fix it, I just have been too busy to add it in.

[2015-09-18 16:08] blesh commented on #343
... and yes, the README might be a little outdated.

[2015-09-18 16:45] staltz commented on #343
Ok, I'll send a small PR to update the README, and wait for a Chrome fix.

[2015-09-18 18:47] #333 closed

[2015-09-18 19:25] blesh commented on #323
I'm closing this for now, as I think when it was asked, there was some confusion about the behavior of `single`.

[2015-09-18 19:25] #323 closed

[2015-09-18 19:37] blesh commented on #266
I'm going to close this discussion for now. It seems like we can't come up with a valid use case to alter the current design/architecture. At the very least, this discussion has died off, and I can close this issue.

... this does *not*, of course, mean that we won't consider making the proposed changes should we identify a valid need or reason to do so.

[2015-09-18 19:37] #266 closed

[2015-09-18 19:41] blesh commented on #246
This isn't really an issue, right now. Closing.

[2015-09-18 19:41] #246 closed

[2015-09-18 19:43] blesh commented on #222
I think this has been met to some degree by #316. Closing for now.

[2015-09-18 19:43] #222 closed

[2015-09-18 19:44] blesh commented on #206
So to clarify, @abersnaze, the idea is to use some static notifications for common things like empty nexts, and completions, so we're not allocating multiple objects to represent the same thing?

[2015-09-18 19:45] trxcllnt commented on #266
@blesh @jhusain would we need this if we were to successfully model EventTarget as an Observable?

[2015-09-18 19:46] trxcllnt commented on #206
lgtm :thumbsup:

[2015-09-18 19:50] blesh opened #346 "Notification `create` methods could return consts in some cases"
In #206, @abersnaze pointed out that we could save on object allocations in `materialize` and `dematerialize` (as well as our TestScheduler) by returning the same references, or perhaps tokens of some sort (to further reduce object allocations), for common return values like `Notification.createComplete()` and `Notification.createNext(null)`, etc.

[2015-09-18 19:51] blesh commented on #206
Closing this and opening #346 .

[2015-09-18 19:51] #206 closed

[2015-09-18 20:08] blesh commented on #266
cc @zenparsing ^^^

[2015-09-18 20:13] blesh commented on #241
It seems like this issue has gone a little stale. There is some ongoing work around this, though. So I'm going to mention @thejameskyle here, so he sees it, and then I'm going to close it for now. I think we've got a solid foot in the door for documentation, and we're probably going to lean heavily on the reactivex.io site for everything but the API docs.

[2015-09-18 20:13] #241 closed

[2015-09-18 20:16] benlesh opened #347 "Add concurrency parameter to switch and switchMap"
Carried over from #215.

The idea is that you could then switch between more than one of the most recently emitted observables.

I think the usefulness of this in comparison to potential performance degradation is dubious, but it's worth trying and comparing numbers, since it should be a non-breaking change.

[2015-09-18 20:16] blesh commented on #215
Closing in favor of #347

[2015-09-18 20:16] #215 closed

[2015-09-18 20:17] blesh opened #348 "Fix Benchpress"
Benchpress macro perf tests haven't run for the last week or two because of an update to Chrome.

@jeffbcross... I'm throwing you under this bus. Because Google. :P

[2015-09-18 20:17] blesh commented on #343
Closing for #348

[2015-09-18 20:17] #343 closed

[2015-09-18 20:20] blesh commented on #188
Closed for lack of interest.

[2015-09-18 20:20] #188 closed

[2015-09-18 20:21] blesh commented on #167
I think all of these have been met, or are being met by other issues. Closing.

[2015-09-18 20:21] #167 closed

[2015-09-18 20:22] blesh commented on #171
@trxcllnt, can you create an issue for your `connect` operator? I'm going to close this issue as it's gotten stale.

[2015-09-18 20:22] #171 closed

[2015-09-18 20:23] #101 closed

[2015-09-18 20:27] blesh commented on #348
![Benchpress](http://i.imgur.com/itmFq.gif)

This is @jeffbcross and developing Benchpress fixes...

[2015-09-18 20:28] zenparsing commented on #266
No, because calling `addEventListener` will never result in an event being dispatched to the listener before it returns.

[2015-09-18 20:31] thejameskyle commented on #241
Ongoing work over here: https://github.com/thejameskyle/reactivex-experimental-docs

[2015-09-18 20:31] trxcllnt commented on #266
I'm mostly thinking of custom EventTarget implementations. Is there anything specified that prohibits someone from implementing an `addEventListener` that synchronously dispatches an event (say, its latest value) to new listeners?

[2015-09-18 20:36] zenparsing commented on #266
Someone could write their own EventTarget-ish thing that does that, but they shouldn't.  : )

I just looked up Node's EventEmiiter and it does in fact fire an event when `addListener` is called.

https://github.com/nodejs/node/blob/master/lib/events.js#L204

However, it will never actually execute the provided callback before returning.

[2015-09-18 21:17] blesh opened #350 "Add micro perf tests for existing operators"
From #100

- [x] buffer (buffer(obs))
- [ ] bufferTime (bufferWithTime)
- [ ] bufferToggle (buffer(obs, fn))
- [ ] bufferWhen (buffer(fn))
- [ ] delay
- [x] forkJoin
- [x] mapTo (map(obj))
- [ ] multicast
- [ ] publish
- [x] retry
- [ ] retryWhen
- [x] skipUntil
- [ ] subscribeOn
- [ ] switchMap
- [ ] takeUntil
- [x] toPromise
- [ ] window (window(obs))
- [ ] windowTime (windowWithTime)
- [ ] wind

[2015-09-18 21:19] blesh opened #351 "Add macro perf tests for existing operators of interest"
From #100

- [ ] buffer  (buffer(obs))
- [x] bufferCount (bufferWithCount(num, num))
- [x] combineLatest
- [x] groupBy
- [x] merge
- [x] mergeAll
- [x] mergeMap
- [ ] observeOn nextTick
- [ ] window (window(obs))
- [x] windowCount
- [ ] withLatestFrom
- [x] zip

[2015-09-18 21:20] blesh opened #352 "Add micro perf tests for creation methods"
From #100

- [x] fromEvent
- [x] fromEventPattern
- [x] fromPromise
- [x] interval
- [x] timer
- [x] zip

[2015-09-18 21:23] kwonoj commented on #352
- `never` is covered at https://github.com/ReactiveX/RxJS/pull/342 though it might need some investigation separately?

- isn't `just/value` is deprecated and `of` covers it instead?

[2015-09-18 21:25] blesh commented on #100
Moving the remaining perf test additions to their own issues and putting them on [Initial Beta Release](https://github.com/ReactiveX/RxJS/milestones/Initial%20Beta) milestone.

I think we've done enough here, and we already have multiple projects using this library, so it's already being "Alpha'ed", so to speak. Time to move on....

[2015-09-18 21:25] #100 closed

[2015-09-18 21:26] blesh commented on #352
@kwonoj you're correct. That was a copy-pasta mistake. Edited.

[2015-09-20 01:40] kwonoj commented on #352
`fromPromise` also seems covered via https://github.com/ReactiveX/RxJS/pull/303

[2015-09-21 16:20] kwonoj commented on #346
Interested in creating PR for this - which way would be feasible? Initial thought I could think some ways like
- create `NotificationLite` class as similar to RxJava does have
- allow additional parameter into existing interface like `createComplete(getStaticReference?:boolean)` to return specific object reference
- let existing interface automatically returns by value, i.e `createNext(value) { if

[2015-09-21 20:03] pselle commented on #332
Looks like this should be closed

[2015-09-21 20:15] pselle opened #366 "Fresh install unrunnable"
I tried updating my upstream and was unable to run any build commands. When checking out a fresh repo, I got the same errors:

[code]

Looks like `@reactivex/rxjs` is an invalid name. How are you all resolving this as you're working on it? I also updated my node, but that didn't solve the issue.

[2015-09-21 21:35] robwormald commented on #139
@blesh would it be OK to start looking at this now we're at super-alpha-mark-3?

[2015-09-22 04:45] trxcllnt commented on #139
@robwormald I think this is currently sitting in PR #354, but I'm not sure if it's ready yet.

[2015-09-22 04:46] robwormald commented on #139
ah cheers, thanks!

[2015-09-22 05:04] mattpodwysocki commented on #139
@blesh @trxcllnt just be aware that Node seems to be broken where converting from a Promise seems to swallow the error: https://github.com/Reactive-Extensions/RxJS/issues/925  However, I can run the same code in Chrome and Firefox and I get the unhandled error...

[2015-09-22 05:23] blesh commented on #332
Yes. Thank you, @pselle!

[2015-09-22 05:23] #332 closed

[2015-09-22 05:24] blesh commented on #366
It looks like you're running Node v 4? What version of NPM are you using?

`@reactivex/rxjs` should be a valid name, unless NPM changed something...

cc/ @jeffbcross @igorminar ... have you seen anything like this?

[2015-09-22 05:29] blesh commented on #346
I think our current implementation is already pretty "lite"... but we can probably just use a static reference for all `complete` notifications, as well as `undefined` value notifications.

[2015-09-22 05:38] kwonoj commented on #346
Got it, will try to create to return static reference per specific cases as similar to 3rd way's pseudo does.

[2015-09-22 07:48] blesh commented on #366
FWIW: I've only been using Node v 0.12.0 for development... I'll try 4 when I get a chance, but it might be a while.

[2015-09-22 07:54] staltz commented on #366
Come on, Ben, it's just a matter of doing `nvm install v4.1.0`.

I tried reproducing this by deleting node_modules and running `npm install` with node v4.1.0 and npm v2.14.3 and everything worked as it should (my git HEAD is on upstream master right now). I don't think it's a problem of npm not recognizing scoped packages.

[2015-09-22 13:43] pselle commented on #366
I had the issue _before_ I upgraded node as well. Removing the `@` and `/` from the name allow `npm install` to run.. until it puked without  babel.
[code]
plus a lot more error not worth posting bc the babel is the important part. Is babel now a global install dependency? I started https://github.com/ReactiveX/RxJS/wiki/Getting-Started and can update it as things are found

[2015-09-22 13:46] pselle commented on #366
The `prepublish` script runs on `npm install` – is this what you all are looking for?

[2015-09-22 13:50] staltz commented on #366
Shouldn't be, I don't have babel globally installed and everything seems ok to me.

[2015-09-22 14:02] pselle commented on #366
Reading up on the npm docs ... name is okay, but I've seen some issues filed with scoped packages ex https://github.com/npm/npm/issues/9109

[2015-09-22 14:06] pselle commented on #366
Sounds like the name thing may be an issue with my machine/npm, if no one can replicate. Changing the name in package.json so I can install works, after I remove the prepublish line.

As for prepublish, I suspect it's trying to run babel before that package is actually installed (race condition?). Running install without prepublish available and _then_ running prepublish once packages are installe

[2015-09-22 14:08] blesh commented on #366
Haha.. I don't have nvm because I had some issues reinstalling it last time I nuked Node after I broke it playing around.

[2015-09-22 15:56] jeffbcross commented on #366
Scoped packages were introduced in npm 2, so the original issue is an npm version issue. http://blog.npmjs.org/post/98131109725/npm200

I'm surprised `prepublish` is running when installing the package, but this may also be related to the npm version. Prepublish should only run when running `npm install` or `npm publish` from _within_ the RxJS repo. The prepublish script _does_ require global babe

[2015-09-22 16:10] pselle commented on #366
@jeffbcross Ok cool, I'm not consuming, I'm in the RxJS repo. So global babel and tsc are required.

[2015-09-22 17:29] #278 closed

[2015-09-22 18:43] trxcllnt commented on #139
@mattpodwysocki if I recall, RxJS [re-throws errors thrown in `onNext` instead of forwarding them to `onError`](https://github.com/zenparsing/es-observable/issues/47#issuecomment-129563045), so maybe node's Promises are catching them instead?

[2015-09-22 20:21] paulpdaniels commented on #139
@trxcllnt Exactly. Though there appears to be an inconsistency in how libraries handle the issue. Native Promises will throw if there there are no handlers present at the time of rejection. While most libraries I have seen seem to swallow the exception until a handler attaches

[2015-09-22 20:40] blesh commented on #139
I don't see anything in the A+ spec that makes this any clearer. Perhaps @domenic could provide some insight?

[2015-09-22 20:47] domenic commented on #139
This is not true. Their devtools may expose the error, but it is not thrown.

[2015-09-23 06:13] paulpdaniels commented on #139
Ah, yes you are correct @domenic I jumped on the bandwagon too quick. The tests are still spinning even when the dev tools are reporting an unhandled exception. Which still leaves us with the issue of not being able to throw.

[2015-09-23 14:11] blesh commented on #139
@paulpdaniels I can force a global throw on unhandled by adding a second `.then` clause and throwing asynchronously.

[code]

[2015-09-23 14:12] blesh commented on #139
I typed that up on my phone... LOL... Sorry for any typos. Anyhow it'll work, Even if it's ugly

[2015-09-23 17:59] #346 closed

[2015-09-23 22:34] blesh commented on #366
@pselle  is this still an issue for you? I've been unable to reproduce..

[2015-09-23 22:35] blesh commented on #352
Looks like we can close this... thanks for all the hard work @kwonoj!

[2015-09-23 22:35] #352 closed

[2015-09-23 22:38] blesh opened #373 "Comprehensive marble tests for zip"
Match current RxJS unit tests with marble tests for zip

Should adhere to the guidelines in our contribution docs.

[2015-09-23 22:39] blesh opened #374 "Comprehensive marble tests for mergeMap"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:40] blesh opened #375 "Comprehensive marble tests for groupBy"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:40] blesh opened #376 "comprehensive marble tests for window"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:40] blesh opened #377 "comprehensive marble tests for windowTime"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:40] blesh opened #378 "comprehensive marble tests for windowCount"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:41] blesh opened #379 "comprehensive marble tests for toArray"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:41] blesh opened #380 "Comprehensive marble tests for toPromise"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:41] blesh opened #381 "Comprehensive marble tests for buffer"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:41] blesh opened #382 "Comprehensive marble tests for bufferCount"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:41] blesh opened #383 "Comprehensive marble tests for bufferTime"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:42] blesh opened #384 "Comprehensive marble tests for bufferToggle"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:42] blesh opened #385 "Comprehensive marble tests for windowToggle"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:42] blesh opened #386 "Comprehensive marble tests for count()"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:42] blesh opened #387 "Comprehensive marble tests for mergeAll"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:42] blesh opened #388 "Comprehensive marble tests for switch"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:43] blesh opened #389 "Comprehensive marble tests for map"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:43] blesh opened #390 "Comprehensive marble tests for filter"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-23 22:43] blesh opened #391 "Comprehensive marble tests for materialize"
Should duplicate the current RxJS 3/4 tests

Should adhere to our contribution guidelines and operator authoring docs.

[2015-09-24 03:12] pselle commented on #366
Yeah I think we can close, seems like the name thing is on my other machine... got this one working without the name issue.

As for global dependencies, I updated https://github.com/ReactiveX/RxJS/wiki/Getting-Started that the project now requires global babel and browserify in order to contribute, because those need to exist to run `npm install` up to you core folk if that's how you like it (I le

[2015-09-24 03:14] pselle commented on #366
(fwiw, it does not require global tsc _shrug_ or that was installed already in the source that I updated from the upstream)

[2015-09-24 17:32] blesh opened #396 "Bike-shedding: The value of `find` and `findIndex`?"
It seems to me like `find` and `findIndex` were added to observable purely by the merit of the fact they exist on `Array.prototype`, but I don't feel like they add a lot of value.

`find` itself doesn't to much that is discernible from `first`, IMO. `first` is perhaps better because it allows a default argument.

`findIndex` is of little value, IMO, because Observable doesn't allow random access,

[2015-09-24 17:32] blesh commented on #396
@kwonoj this relates to your PR #393

[2015-09-24 18:20] blesh opened #397 "Add special handling for Iterables passed to `zip` operators"
So the idea is this (I'll use `Observable.zip` as an example):

Assume:
[code]

The `iterable` will be treated differently, in that instead of being converted to an Observable and firehosing out nexts, it will get an `iterator` and `next()` once, waiting for the other Observables to emit.. as soon as the `zip` emits, the `iterator` will `next()` once more, and so on.

Each time the `iterator.next(

[2015-09-24 19:24] staltz commented on #396
Agreed.

[2015-09-24 19:39] mattpodwysocki commented on #396
@blesh

Incorrect, we have an operator that already gets the element at a given index, so any of these index operators are perfectly valid.  Remember `elementAt` anyone?

[2015-09-24 21:23] blesh commented on #396
`elementAt` can be accomplished with `first` also:  `myObs.first((x, i) => i === 3)`.

FWIW, I think `elementAt` is weird. `index` is a misnomer. What does that mean in terms of a "hot" observable? Besides isn't `elementAt` really `skip(n).first()` or `skip(n).take(1)`?

I still think there is no concept of "index" in an observable. "count" maybe, but because of the nature of it, it's never really

[2015-09-24 21:25] blesh commented on #396
I'd just really like to limit the API surface area by giving people everything they need to get what they want done and not have a bunch of redundant operators just because we can make them.

Smaller API surface area generally equates directly with higher adoption rates. Kitchen sink APIs are confusing and off-putting.

[2015-09-24 21:29] #379 closed

[2015-09-24 22:01] kwonoj commented on #287
Related with https://github.com/ReactiveX/RxJS/issues/396, it seems some sort of categorization such as *"should have / good to have / need discussion"* would be helpful. @blesh What do you think?

[2015-09-24 23:41] ktrott opened #401 "API surface and packaging strategy"
Need a strategy that improves on management of the API / operator surface and packaging.

Today, it is often the case people try to use lite but it has more than they need but missing an operator they need. Seems like we want people to build their own Rx module of the operators they want.

We would still define the base Rx that has the core set of operators. Extended operators would be allowed in

[2015-09-24 23:53] #20 closed

[2015-09-24 23:56] ktrott opened #402 "Unsubscribe from marble tests"
Can't do tests with the marble tests to show if someone wants to unsubscribe at some point: explicit disposable vs. completion. Need some way to tell the test scheduler to unsubscribe from the test observable at a particular frame.

[2015-09-24 23:56] ktrott commented on #139
Supported now.

[2015-09-24 23:56] #139 closed

[2015-09-25 05:59] staltz commented on #396
Everyone will be fine without `elementAt(i)`: just `skip(i).take(1)`.

[2015-09-25 06:06] staltz commented on #396
Yes to this so much. I've been doing a lot of RxJS and still I bump into operators I've never heard of before. Just imagine how much energy is wasted in beginners' neurons when they are going through each operator in a huge list trying to find that one simple and important operator (such as `combineLatest`, `flatMap`, etc) for their problem at hand.

[2015-09-25 07:01] roganov commented on #396
+1 to reducing the API surface area
If an operator can be trivially expressed via chaining two existing operator, then I believe it shouldn't be in the library.

[2015-09-25 13:59] blesh commented on #287
I had a talk with some folks at Netflix, and I think the prevailing wisdom is to have two sets of operators: core and extended. Where core is actually published as part of Observable, and "extended" operators will simply exist in their own modules. Will discuss further in another issue.

[2015-09-25 16:40] blesh commented on #401
So to reiterate what the direction is here... most of the operators that exists now, and some of those that still need to be developed will be "core" operators. Those operators will be "built-into" the Observable in the `Rx.ts` file.

All other operators will be kept, but put into an `extended` directory under `operators`. They will not be added to the Observable exported from `Rx.ts`.  We *will*

[2015-09-25 16:41] blesh commented on #401
This directly relates to #396

[2015-09-25 16:49] blesh commented on #396
Issue #401 discusses guidance for this. I'm going to get the ball rolling and move `elementAt` and `distinctUntilKeyChanged` over to an `extended` directory and add a "kitchen-sink" module. I think `find` and `findIndex` belong there as well.

I think `first` should be implemented, and should have a result selector to enable the selection of the index.

[2015-09-25 16:49] #396 closed

[2015-09-25 16:52] #397 closed

[2015-09-28 07:16] kwonoj opened #411 "timeout(), timeoutWith() behavior differ to RxJS3?"
Could observe different behavior while try to migrate test cases, would like to confirm if this is expected.

##### timeout()

*RxNew*
[code]

`dueTime` is total time passed after source starts.

*RxOld*
[code]

`dueTime` is time window between each source element emits

##### timeoutWith()

*RxNew*
[code]

source still emits after timeout?

*RxOld*
[code]

`dueTime` is time window between each so

[2015-09-28 17:13] blesh commented on #411
Yeah, that's a bug. The behavior should be identical.

[2015-09-28 17:14] kwonoj commented on #411
Thanks for confirmation. May I give it a try for fix?

[2015-09-29 10:35] staltz commented on #386
I assign myself. (Can't actually do that in Github so I'll just comment :P)

[2015-09-29 10:56] staltz commented on #386
Ok, I remove my assignment because I noticed #406 exists, just before pushing. :P
@blesh we need to really start using the assignee feature here.

[2015-09-29 11:04] staltz commented on #374
I assign myself to this.

[2015-09-29 12:05] staltz opened #415 "update OuterSubscriber notifyNext() signature to match RxJS 4's"
There is a mismatch of API between RxJS 4 and RxJS Next with regards to Outer/Inner-type of operators that support a resultSelector.

For instance
[code]
where
[code]
while in RxJS 4 it's
[code]
because https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/linq/observable/selectmany.js#L38.

We probably want to match RxJS 4's API in this case. I don't see why we should change the API.
A

[2015-09-29 13:10] staltz commented on #402
While making tests for mergeMap I think I figured one potential way of making this happen.

- - -

The subscription is done in `TestScheduler.expect()`:
[code]
We need to keep that subscription inside `expect()`. We can change `expect`'s signature to be

[code]
So you can optionally provide a marble diagram for the unsubscription moment. And then use it like this:
[code]

Notice the second paramet

[2015-09-29 17:00] blesh commented on #411
PRs welcome. ;)

[2015-09-29 17:10] kwonoj commented on #411
Cool, will work on it :smiley:

[2015-09-29 17:11] blesh commented on #374
@staltz ... since I can't "assign" you, I'll put myself on it and follow up.

[2015-09-29 17:22] #401 closed

[2015-09-29 18:04] blesh commented on #402
That's not bad. But wouldn't the unsub marbles be:

[code]

So that the `^` and first `-`'s are aligned?

[2015-09-29 18:23] staltz commented on #402
Correct, was my mistake.

[2015-09-29 19:25] blesh commented on #402
@staltz, I like it, but I think the character should be different than `|`... maybe this is a good place for `!`, since it looks similar. That would also mean fewer changes and assertions in the code to parse the marbles and process them.

[2015-09-29 22:56] blesh opened #417 "Add resultSelector argument to `first()` operator"
This is so first can effectively replace `findIndex`.

[2015-09-29 22:57] blesh opened #418 "Add resultSelector argument to `last()` operator"
This is primarily to dovetail with #417

The bonus here is it's pretty common to `map` right after a `last()` call, so this provides a more performant way of doing that.

[2015-09-29 23:22] robwormald opened #419 "Publish as rxjs to npm?"
Appears to be available, and the `@reactivex/rxjs` namespace is kind of annoying to work with (in regards to tooling and such). I realize that's not exactly the most descriptive issue, but I'll happily expand if need be. The namespace makes sense for something like `@cycle/core` where there's multiple packages under a namespace, but as far as I can tell, there's only ever going to be rxjs.

Sorry.

[2015-09-29 23:34] blesh commented on #419
@robwormald I think this is going to be an issue that remains open for some time... There is more to work out with @mattpodwysocki and friends.

Theoretically, though, we could publish to the same npm, it's just that I *think* `package.json` only allows for one repository field. So it might be best to wait until 5.0.0 is out of beta.

[2015-09-30 07:07] staltz commented on #402
Ok, let's do exclamation then. Another character I considered was underscore, because it would look a bit like the opposite of `^`. Subscribe is up `^`, unsubscribe is down `_`.

[code]

But I'm fine with exclamation:
[code]

[2015-09-30 12:35] staltz opened #422 "Merge semantics for race conditions between synchronous notifications"
This is probably a bug.

While making tests for mergeMap I wrote this marble test based on a RxJS 4 test:

[code]

Notice

`var expected = '----a---(ba)(ba)(ba)c---c---(dc)c---(c|)'`

This test passes for RxJS 4, but does not pass for RxJS Next, which behaves like this

`var expected = '----a---(ba)(ab)(ab)c---c---(cd)c---(c|)'`

I quickly took a look and tried to solve this for mergeMap, but the

[2015-09-30 12:42] staltz commented on #415
`thisIssue.assign(staltz)`

[2015-09-30 14:27] staltz commented on #347
Is this issue done?

[2015-09-30 14:30] staltz commented on #374
All tests for mergeMap are done in PR #423, except for one case: #422

[2015-09-30 14:33] staltz commented on #373
There are still a lot of tests missing to mirror from RxJS 4 (see https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/zip.js), so I feel like assigning myself to this task, unless @adrianomelo plans to continue doing marble tests for this like he started with #407.

@blesh ?

[2015-09-30 15:45] staltz opened #425 "count(predicate) plus tests"
`count()` is currently missing the predicate function as argument.

Should we do this or not?

[2015-09-30 17:00] adrianomelo commented on #373
@staltz,
To be honest, I wasn't expecting replicate all the tests from RxJS 4, but seems fair. I can do this mirroring of tests for zip.

[2015-09-30 20:12] blesh commented on #347
I don't believe so.

[2015-09-30 20:17] blesh commented on #422
I find it puzzling that the order would be `(ba)(ba)(ba)` I would expect `(ab)(ab)(ab)`. Although I think `(ba)(ab)(ab)` is even weirder. That `(ba)` at the beginning is the troubling part.

[2015-09-30 20:18] blesh commented on #422
Also, with the TestScheduler, there shouldn't be any "race conditions".

[2015-09-30 20:19] staltz commented on #422
Yes. Both existing RxJS 4 and RxJS Next behaviors are puzzling, I'd also expect `(ab)(ab)(ab)` for both. See here https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/selectmany.js#L926-L939

[2015-09-30 20:20] blesh commented on #425
Yes, that should be a thing.

[2015-09-30 20:54] blesh opened #428 "Marble testing for when inner observables unsubscribe"
This is related to discussion in #423 ...

Basically the problem is that in something like `switch`, we don't have a way of asserting when inner subscriptions were unsubscribed from.

[2015-09-30 21:02] blesh commented on #428
one thought I had was reusing the `!` in the expectation marbles, and then matching it up to an array of unsusbscription assertions some how:

[code]

.... it's not a particularly good idea, but it's a start.

I don't really like that it junks up the expected marbles, though.

[2015-09-30 21:04] blesh commented on #428
Perhaps the inner subs and unsubs could be in different marble diagrams.

The worst part though will be doing this *without* adding test specific code to the library. We may have to create custom `TestObservable` and `TestSubject` types that deal with this by creating a `TestSubscriber` instead of a `Subscriber` when `subscribe()` is called.

[2015-10-01 01:17] adrianomelo commented on #373
Done in #429

I didn't added a failing test. Should I create a new issue?
There is a commit with this test at https://github.com/adrianomelo/RxJS-1/commit/169c05aba266298b8d13f1d8488a29f5d44ef674.

[2015-10-01 08:19] kwonoj opened #433 "Moving isEmpty() operator?"
Related with operator `every` (https://github.com/ReactiveX/RxJS/pull/432).

`isEmpty` operator can be easily replicated via `source.every(function(_) { return false; })`, case of .net implementation operator itself is even deprecated( [introtoRx](http://www.introtorx.com/Content/v1.0.10621.0/06_Inspection.html#All) / [list of .net api, does not include isEmpty] (https://msdn.microsoft.com/en-us/l

[2015-10-01 10:08] staltz commented on #433
Sounds good to me.

[2015-10-01 13:25] staltz commented on #428
To mirror RxJS 4, the equivalent of this https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/selectmany.js#L240-L244 in our marble diagram tests would be
[code]

I'm not sure though when should the first `-` of `asubs` start, but roughly that's the idea. I think it would work. And maybe we should make `expectSubscriptions` instead of overriding `expect`. Although it would be p

[2015-10-01 17:25] blesh commented on #428
The thing about it, is we *know* that all observables there have a subscription point. And that, in part, that subscription point can be inferred by the marble tests we already have in existance. Subscription starts when the marble line starts, in essence.

So really, I think we only need to assert unsubscriptions when (and *if*) they happen.

[2015-10-01 17:26] blesh commented on #433
I agree.

[2015-10-01 20:33] blesh opened #438 "Move retry and retryWhen to kitchensink?"
This one is debatable, but currently you can accomplish both of these trivially with `catch()`...

retry:
[code]

retryWhen:
[code]

I say this is "debatable" because `.retry()` is pretty readable. Also, trying to do `retry(count)` with `catch()` would mean introducing some state on the part of the user... again, it would be trivial, but it's not *quite* as friendly.

[2015-10-01 20:37] blesh opened #439 "Implement `share` operator"
This is an alias for `publish().refCount()`, but is honestly preferable for simplicity's sake. It's easier to teach people `share()` than `publish().refCount()`, because to a newbie, the latter won't make much sense.

Ideally, this will be implemented by pulling in the `publish` method via import, rather than depending on it being on the Observable. Since this is a modular library, there is no gua

[2015-10-01 20:39] blesh commented on #439
Also, this one would be a core operator.

[2015-10-01 22:38] #417 closed

[2015-10-01 22:38] #418 closed

[2015-10-01 22:58] blesh commented on #386
@staltz can this be closed now? Do we have parody with the old tests?

[2015-10-02 00:11] blesh opened #441 "Look for optimizations"
So similar to the optimization I made on `every` [here](https://github.com/ReactiveX/RxJS/blob/d5120d2e91259da11d2a72b089ded1ca9e7d66c9/src/operators/every.ts#L17-L34), we should look for additional perf gains around detecting scalar and array observables, since they have static values we can exploit.

We've addressed a lot of this in operators with "inner subscriptions" (mergeMap, merge, concat,

[2015-10-02 00:18] blesh opened #442 "Better TestScheduler handling for absolute Dates"
Related to discussion on #421

[2015-10-02 06:50] staltz commented on #386
Yes, can be closed

[2015-10-02 06:53] staltz commented on #441
Can you list the operators you know have that type of optimization? So I know where to look for potential bottlenecks when optimizing.

[2015-10-02 07:09] staltz commented on #425
This is closed by #436 @blesh

[2015-10-02 07:09] staltz commented on #425
Actually I have closing powers, so here we go.

[2015-10-02 07:09] #425 closed

[2015-10-02 07:10] staltz commented on #415
This is done in #424

[2015-10-02 07:10] #415 closed

[2015-10-02 08:00] staltz commented on #428
Let me get it right, you're suggesting this?:

[code]

- - -

I bumped into a case where I want to have _multiple_ subscribers to a shared Observable, so I need `expectObservable` to have a parameter indicating when to subscribe. I'm trying to make tests for share, shareReplay, shareBehavior, etc.

Ideally, I'd like to write this:

[code]

This proposed API wouldn't be an obstacle for the previous

[2015-10-02 09:17] staltz commented on #390
I'll start working on this. There are lots of tests here https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js

[2015-10-02 17:36] #386 closed

[2015-10-02 17:41] staltz commented on #390
Most RxJS legacy tests for filter are now done. Except these:

- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L288
- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L608
- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L668

[2015-10-02 17:55] blesh commented on #428
I like it, but that will only tell the test when to subscribe and unsubscribe. We still don't have a way to assert when inner observables unsubscribe or subscribe. But I think we can use the same diagrams.

Think of testing `switch`, for example. You need to ensure that the inner observables are subscribed to and unsubscribed from at the proper time.

So we can take the same subscription diagrames

[2015-10-02 18:02] staltz commented on #428
Are we roughly in agreement about the overall approach? I can try tackling this issue and also making some tests with any helper I build. (Although I *would* start work on this only next Monday because here it's already Friday evening.)

[2015-10-02 18:08] blesh commented on #428
I think so. No worries, on the delay. I'm unsure if you've looked into it, but basically there are instance methods on `TestScheduler` and I add helpers to a file under `specs/helpers`.

[2015-10-02 21:42] staltz opened #453 "publishBehavior and publishReplay semantics when completed"
Continuing the discussion that started here: https://github.com/ReactiveX/RxJS/pull/235/files

RxJS Legacy (v4) passes these tests:
[code]
and
[code]

Yet RxJS Next behaves basically the opposite way:
[code]

Because in RxJS legacy there is
[code]

While in RxJS Next:
[code]

- - -

In my opinion, the new behavior in RxJS Next is illogical at first sight, and a potential source for a lot of develo

[2015-10-02 21:53] blesh commented on #453
In RxJava this behaves as so:

[code]

outputs:

[code]

however in RxJS 4 the same thing:

[code]

outputs only:

[code]

RxJS 5(Next) was designed to match the semantics of RxJava, and also to remove the potential footgun from people passing the same subject into two `multicast` calls.

[2015-10-02 21:55] staltz commented on #453
Isn't `multicast` less commonly used than the more popular `share` variants?
And nothing actually stops people from passing the same subject to multicast. The point being, if you're using multicast, you should know what you're doing. If you're using `shareFoo` or `publishFoo`, you have a vague yet safe idea of what you're doing.

[2015-10-02 21:55] blesh commented on #453
The the problem RxJS 5 is trying to solve here is that ConnectableObservables should be "reconnectable", and `refCount` should return an observable that is cold until subscribed to, then hot until all subscriptions have ended, then cold again.

[2015-10-02 21:57] staltz commented on #453
Why is the lack of reconnectability a problem?

Also, we're talking about publishFoo so far, not yet about `refCount`. I can understand the `refCount` argument about from cold to hot and back to cold, but what we have here is simply one connect on a publishReplay observable which behaves oddly.

[2015-10-02 22:00] staltz commented on #453
I recall Erik Meijer recommending to "make the correct patterns easy and make the wrong patterns possible", so it's easy to detect bad patterns in code reviews. Passing directly a subject to multicast is easy to catch in code reviews.

[2015-10-02 22:04] blesh commented on #453
If you want to model anything you should be able to reconnect to, say a WebSocket, it's a problem.

The reason I brought up refCount is it's the behavior of RxJS 2/3/4 regarding ConnectableObservables that makes this impossible. FWIW, I don't think any other flavor of Rx behaves like RxJS in this manner.

I'm not sure what you *want* is to make ConnectableObservables broken after the the underlyin

[2015-10-02 22:35] staltz commented on #453
I guess you meant "subject has _completed_". That's what I mean at least. I think the ConnectableObservable could still be connected. Maybe I should explain what should happen in marble diagrams:

[code]
Capital `C` is the `connect()` moment. Notice that I'm not talking about what happens in subsequent connects, but simply what happens for multiple subscribers related to one connect(). If you assu

[2015-10-02 22:39] staltz commented on #453
I had a typo/mistake in the marble diagram. Second subscriber should see `(^|)`. Updated now

[2015-10-02 22:44] blesh commented on #453
Sure that's the behavior of the `BehaviorSubject`, but ConnectableObservables need to be reconnectable, which means it'll need to recreate the underlying BehaviorSubject.

That actually doesn't help, because `fromWebSocket` returns a Subject, and you'd likely need access to the `observer` side of the thing.

It's better to be able to say: `Rx.DOM.fromWebsocket('ws://echo.websockets.org', null).sha

[2015-10-02 22:45] blesh commented on #453
Question: Why is it important to you that ConnectableObservables never allow reconnection? What use case does that serve?

[2015-10-02 22:56] blesh commented on #453
I'm not sure how anything passed in those tests above, though.

[code]

would never assert `true`, because `results1` and `[0,1,2,3,4]` are different instances. You'd need to use `toEqual` rather than `toBe`. Unless something has changed in Jasmine.

[2015-10-02 23:13] blesh commented on #453
... it seems like your issue is specifically with ReplaySubject. Which is the only subject that will actually emit values after it's been disposed/completed/errored.

It seems like the ReplaySubject semantics in RxJS 4/3/2 are actually broken. A Subject that has errored should still emit values. A subject that has completed shouldn't still emit values:

In RxJS 4:

[code]

outputs:

[code]

That d

[2015-10-02 23:40] staltz commented on #453
Reconnectability is not my gripe. It's about what happens in the space between the subject's complete and the next connect. In particular, we are discussing what should happen to `subscriber2` in this case below:

[code]

I'm saying subscriber2 should see `(^|)` because it should refer to its latest Observable. For two reasons: what an observer sees after onComplete is important, and an Observer c

[2015-10-03 00:27] blesh commented on #453
Ah... a side effect of the implementation, I was thinking that this used @trxcllnt's `lift` override on Subject, which would indeed return a BidirectionalSubject, but it wouldn't for `publish()`... hmmm...

[2015-10-03 00:43] #439 closed

[2015-10-05 11:44] staltz commented on #428
Working on this now. Essentially building `ColdObservable`, `HotObservable`, `SubscriptionLog` classes and modifying TestScheduler and specs/helpers.

[2015-10-05 13:38] spboyer opened #458 "no such package available : @reactivex/rxjs"
Getting this when trying to install `npm install @reactivex/rxjs` directly or as a dependency of `npm install angular2`

[2015-10-05 13:40] staltz commented on #458
This library is still a tagged version (i.e. `M.m.p-tag` and not `M.m.p`), so you need to explicitly mention the full version: `npm install @reactivex/rxjs@5.0.0-alpha.2` and not `npm install @reactivex/rxjs` because there still isn't any untagged version of this library published.

[2015-10-05 13:49] spboyer commented on #458
@igorminar

[2015-10-05 14:01] staltz opened #459 "Enforce Observable contract for Subjects"
While working on #428, I found this test which attempts to call onNext after an onError on a Subject. https://github.com/ReactiveX/RxJS/blob/master/spec/operators/bufferTime-spec.js#L62

I suppose Subjects should disallow this internally.

[2015-10-05 14:20] staltz commented on #428
@blesh I identified to case where it would make sense to assert when the inner observables subscribe as well as unsubscribe.

[code]

Could be adapted to assert also:
[code]

Roger?

[2015-10-05 17:25] kwonoj opened #461 "changing signature of startWith() to accept scheduler as last parameter?"
While other operators like `throttle`, `timeout`, `delay`, etcs are accepting `scheduler` as last parameter, [`startWith`] (https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/startwith.md) accept scheduler as first parameter.

[code]

Maybe better to align signature of `startWith` to accept scheduler as last parameter also?

[2015-10-05 17:30] staltz commented on #461
I agree

[2015-10-05 18:16] staltz commented on #428
Should now be done with PR #463.

[2015-10-05 19:42] blesh commented on #461
Yes... schedulers should always be the last argument. At least according the the [Rx Design Guidelines from Microsoft, Article 6.11](http://blogs.msdn.com/b/rxteam/archive/2010/10/28/rx-design-guidelines.aspx)

[2015-10-05 19:43] kwonoj commented on #461
OK, seems I can update currently opened PR directly instead of creating new one.

[2015-10-05 22:29] luisgabriel commented on #389
I'll start migrating tests from: https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/select.js

[2015-10-05 23:44] blesh commented on #459
Subject's already enforce this. That test is okay, but it should probably be refactored to prevent confusion.

[2015-10-05 23:44] #459 closed

[2015-10-05 23:53] #348 closed

[2015-10-06 00:45] blesh commented on #389
Okay, great.

[2015-10-06 04:41] blesh opened #464 "Wanted: Slick solutions for dynamically adding operators to Observable"
So right now we're kind of hacking together the core operators on Observable in the `Rx.ts` output file.

Ideally, people would be able to use just the operators they care about in their app, and not at all include any of the operators they don't need.

There are a ton of possible solutions for this, but I'd love to hear any and all ideas around this.

[2015-10-06 04:44] blesh commented on #464
### Idea: Build-Time Plugins

One option would be to create some sort of TypeScript and/or Babel plugin/addon that statically analyzed operator use, and included or excluded those operators from the output Observable build. Something like RxJS specific tree-shaking... but it's more like "operator-shaking", because it wouldn't be general.

[2015-10-06 07:11] kwonoj opened #465 "lint_src (tslint) does not work on windows yet"
Creating issues to avoid possible confusions if someone new to codebase try to build on windows platform.

This issue is not because of RxJS codebase, occurs due to tslint (https://github.com/palantir/tslint) does not support explicit directory expanding other than glob match.

https://github.com/palantir/tslint/issues/688
https://github.com/palantir/tslint/issues/692

In short, while waiting tsli

[2015-10-06 07:17] staltz commented on #465
Another option is running linting only in CI, and optionally locally. So, when creating PRs, we will still be able to see lint errors.

[2015-10-06 07:22] kwonoj commented on #465
I'd still like to suggest to lint as strict manner to be passed in CI server. At this moment, I'm not sure how many contributors are being impacted by this yet to decide lint as optional. (yes, I'm running windows though :wink:) It may possible to decide if lint can be optional or need to introduce interim script to aid windows platform users once we get to know numbers of people having problems.

[2015-10-06 07:24] kwonoj commented on #465
+Missing part, just build / run test is still works on windows platform by separated command. The only part windows users might have difficulties is once CI complains about lint, has to iterate between local edit-CI to fix lint issues.

[2015-10-06 10:52] staltz commented on #464
Another idea is similar to ESLint configurations: allow people to publish a subset of RxJS operators they like most. Then include that as `import Rx from 'myFavoriteRxFlavor;`.

[2015-10-06 14:09] staltz commented on #375
I'm picking this one.

[2015-10-06 16:55] staltz commented on #374
I would close this issue because we already have a separate issue for the problematic test, #422.

[2015-10-06 16:55] staltz commented on #373
This should be closed.

[2015-10-06 17:01] #374 closed

[2015-10-06 17:01] #373 closed

[2015-10-06 19:55] jeremymwells commented on #464
@blesh - I really like the tree-shaking idea. A consuming app could have something like `rx.json`, which could allow them to build out their particular rx flavor(s) however they want. It also buys shippable configurations similar to what we already know/use in RxJS such as [Main Libraries](https://github.com/Reactive-Extensions/RxJS#main-libraries), [Lite Libraries](https://github.com/Reactive-Ext

[2015-10-06 21:06] Rayman commented on #464
I saw something similar with lodash: https://github.com/megawac/lodash-modularize

It can detect which lodash functions you are using and then output a custom build.

[2015-10-06 21:12] blesh commented on #464
There's a related discussion here: https://github.com/angular/angular/issues/4543#issuecomment-145955252

It's talking about rollup, specifically. I think that would work for the ES6 build of RxJS, but not for other usage.

[2015-10-06 21:19] blesh opened #468 "Move core operators onto Observable directly"
As an aside to the discussion on #464 ... We might want to move all core operators directly onto the Observable itself.

I'm on the fence about this one.

1. It makes overriding operators for better performance on Observables like ScalarObservable and ArrayObservable more straightforward, and require less type checking in the operator implementations themselves.
2. It's less hacky. We'll no longer

[2015-10-06 21:19] blesh commented on #468
attn @jeffbcross

[2015-10-06 22:05] blesh opened #469 "Remove repeated "runtime" code from global output."
Currently the ES6 -> ES5 transpilation process is putting class assertion functions inline with each module file. We should get rid of that so those class related functions are only defined once.

cc/ @jeffbcross @vsavkin

[2015-10-06 22:06] blesh opened #470 "Use Closure Compiler on global output file"
In an effort to reduce library size, use Google Closure compiler on output global `Rx.js` file to create `Rx.min.js` ... currently, uglify isn't doing that great of a job reducing the size of the minified output.

[2015-10-06 23:17] trxcllnt commented on #464
@blesh I've been writing a local `rx` module that imports just the operators (and Subjects, Schedulers, etc.) I need in my app:

[code]

Then in my `index` module, require my `rx` module first.
[code]

Then in the rest of my modules, I can just import the specific type I need instead of pulling in the whole Rx namespace (alternatively, I could import the `Rx.minimal` namespace since I seeded it in

[2015-10-06 23:20] trxcllnt commented on #347
@blesh isn't this just the difference between popping off the end of the pending queue instead of shifting? Though since this is `switchMap` we're talking about, we can implement this as a ring buffer instead of an unbounded Array.

[2015-10-06 23:32] trxcllnt commented on #422
@blesh @staltz I have a hunch this is related to the switch from the default trampoline-style scheduling in RxJS4 to the default recursive-style scheduling in RxJS Next. `(ba)(ab)(ab)` feels like the pattern I'd expect from such a switch.

It's possible the first `(ba)` is a bug in how the TestScheduler sorts its scheduled actions. Or alternatively, `a` and `b` schedule to dispatch at the same tim

[2015-10-07 00:02] tenowg opened #472 "@ in @reactivex/rxjs maybe causing some issues..."
Been trying to get angular2 installed with asp.net and @reactivex/rxjs keeps getting marked as not available by npm on install, after much playing around and head banging, I was able to get reactivex to install manually, which is a fail for asp.net (npm just needs to work on publishing), it seems that the @ symbol is ignored by package restore.

I am going check this out more, and will also drop a

[2015-10-07 00:03] kwonoj commented on #472
Maybe related with this https://github.com/ReactiveX/RxJS/issues/458?

[2015-10-07 00:05] tenowg commented on #472
I did read that issue, but as it seems that he is trying to install with npm, and not though another service just as Visual Studio, I didn't feel it was that same, but it might be related.

[2015-10-07 00:12] kwonoj commented on #472
Would you able to share brief steps? I have VS2015 installed on my machine, can give it a try also to see what's happening.

[2015-10-07 00:22] tenowg commented on #472
sure thing,

add, "angular2": "2.0.0-alpha.39" to package.json in a new MVC 6 project, and restore the package, it will look for reactivex/rxjs instead of @reactivex/rxjs giving a 404 Not Found error and a nice message say to bug reactivex to add to npm.

Some additional steps I have tried, manually installing with npm install in project directory, will install, but will still not register, but wi

[2015-10-07 01:27] kwonoj commented on #472
@tenowg Yes, seems you're correct that #458 is not directly related.

Problem was caused by default node.js packaged in VS2015's web tool's outdated, specifically npm version is about 1.4.x that does not supports some of issues resolved after those version. There are similar issues reported (https://github.com/npm/npm/issues/7496) in npm.

To resolve this, you may need to let Visual Studio use lat

[2015-10-07 01:49] tenowg commented on #472
@kwonoj Very good catch, this is something I would never have looked for. I glazed over the version numbers in the logs, and indeed the version was 1.4.x that was causing the error. Presumably it was because I had just upgraded my installation of node/npm on my machine.

Changing to use PATH first fixed the issue, thanks

[2015-10-07 01:49] #472 closed

[2015-10-07 01:52] blesh commented on #422
No race conditions to see here, just a stupid developer (me) that thought he should sort actual results. derp derp derp...

[2015-10-07 02:14] #422 closed

[2015-10-07 07:20] staltz commented on #468
There is no point keeping `share` and leaving out `shareReplay`, `shareBehavior`, they are all equal specializations of `multicast`. Better just keep `multicast`.

`share` === `multicast(() => new Rx.Subject())` looks trivial.

[2015-10-07 07:27] staltz commented on #470
Seems like this can be closed.

[2015-10-07 07:43] staltz commented on #287
@blesh  Since this is just a suggestion for an operator implementation which isn't core, I would close this issue. It doesn't mean we aren't open to receive PRs to implement this operator as "extended".

[2015-10-07 07:44] staltz commented on #366
@blesh We can close this.

[2015-10-07 07:59] staltz commented on #378
Should not yet be closed. Even though it has received some PRs, there are a few edge cases missing to be tested.

[2015-10-07 08:03] staltz commented on #380
Seems like this could be closed.

I don't see the point making marble tests for this operator, and RxJS 3/4 anyway doesn't have comprehensive tests: https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/topromise.js

[2015-10-07 08:08] staltz commented on #381
Should not yet be closed.

Tests from RxJS 3/4 are mostly covered. Just a few still missing.

[2015-10-07 08:12] staltz commented on #382
Should not yet be closed.

Missing still this test: https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/bufferwithcount.js#L176

[2015-10-07 08:21] staltz commented on #388
This issue can be closed.

PR #467 added the tests that were missing.

[2015-10-07 08:34] staltz opened #475 "Implement dematerialize"
Maybe no one noticed, but we still don't have the `dematerialize` operator, to match the presence of `materialize`.

[2015-10-07 08:35] staltz commented on #402
This issue can be closed since it's fully implemented.

[2015-10-07 08:36] staltz commented on #428
This issue can be closed.

[2015-10-07 08:37] staltz commented on #411
I suppose this issue can be closed?

[2015-10-07 08:38] staltz commented on #419
We could either close this issue or tag it as discussion.

[2015-10-07 08:39] staltz commented on #433
We could close this issue.

[2015-10-07 08:42] staltz commented on #438
I believe it is quite common to use `retry` with a `count`, and it's better to have a dedicated operator than to always teach how to accomplish it with state, so I'd vote for keeping it as core. Just my two cents.

[2015-10-07 08:43] staltz commented on #442
Seems like this can be closed.

[2015-10-07 08:45] staltz commented on #458
I would close this issue and reopen if it persists.

[2015-10-07 08:46] staltz commented on #461
I guess we can close this.

[2015-10-07 10:41] spboyer commented on #458
This is an issue with internal or some enterprise proxies. What happens is the `/` is url-encoded as `%2` in the http request and gets a 404. Straight request to npm is fine even without having to request specific version. Closing issue.

[2015-10-07 10:41] #458 closed

[2015-10-07 11:00] staltz commented on #375
Just a quick report on this issue: writing the marble tests for this operator is not trivial: I am seeing how to improve the TestScheduler so that it can assert also Observables-of-Observables, which is what this operator returns. It's a better solution to, say, applying .mergeAll() after groupBy, or reverting to raw manual tests with the scheduler.

I also fixed a small bug in groupBy, so eventua

[2015-10-07 11:04] staltz commented on #375
Example: we will be able to write this

[code]

Relevant also for window operators.

[2015-10-07 16:28] blesh commented on #468
I guess I'm unconvinced that they're as commonly used, even if they are very similar.

[2015-10-07 16:28] #470 closed

[2015-10-07 16:30] blesh commented on #287
I'll leave this one open but unassigned to any milestone. If someone wants to add it, they can, otherwise it's not a high priority.

[2015-10-07 16:30] #366 closed

[2015-10-07 16:32] blesh commented on #380
I think the thing about this one is it would require a Promise implementation that could use the TestScheduler. We've got some tests around this already, and they're probably enough.

[2015-10-07 16:32] #380 closed

[2015-10-07 16:32] #388 closed

[2015-10-07 16:32] blesh commented on #475
Heh... oops

[2015-10-07 16:33] #411 closed

[2015-10-07 16:39] #402 closed

[2015-10-07 16:39] #428 closed

[2015-10-07 16:39] #433 closed

[2015-10-07 16:40] blesh commented on #438
You're probably right. I'll leave this open for a another week or so, then close it.

[2015-10-07 16:40] #442 closed

[2015-10-07 16:41] #461 closed

[2015-10-07 16:48] blesh commented on #375
Ah, I see the problem.

I think perhaps the API should remain the same, and we'll just need to analyze expected values to see if they are either `ColdObservable` or `HotObservable`, and pull the marbles out of them, convert them to messages, and put them in the outer message value . In contrast, we'll need to subscribe to the resulting observables and do the same thing. The `toDeepEqual` assertion

[2015-10-07 16:49] blesh commented on #375
This is one of the reasons I wanted this one to be one of the ones that was tackled first.

[2015-10-07 17:01] staltz commented on #468
In Cycle.js world, definitely. In other contexts, I don't really know how RxJS is used in Netflix, neither in Angular2.

[2015-10-07 17:06] staltz commented on #375
Yep, I did that. All was good until I noticed that we need to write tests to assert that the outer Observable can be unsubscribed early, but you can still keep subscription to the inner Observables, **which will keep emitting**, because those are GroupSubjects (hot). For these, I wrote this test:

[code]

But it doesn't work in practice, I'm still frying my brain trying to fix the TestScheduler to

[2015-10-07 17:22] luisgabriel opened #476 "Missing doOn* operators"
It seems that [doOnNext](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/doonnext.md), [doOnError](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/doonerror.md) and [doOnCompleted](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/dooncompleted.md) are not implemented here yet.

Is it intentional or should w

[2015-10-07 17:24] staltz commented on #476
`do(onNext, () => {}, () => {})`

`do(() => {}, onError, () => {})`

`do(() => {}, () => {}, onCompleted)`

[2015-10-07 17:27] mattpodwysocki commented on #476
@staltz that's not quite right if you look at the implementation: https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/perf/operators/tap.js#L55-L86

Since you're lacking the default behavior of the `do` semantics as well as lacking the `thisArg`

[2015-10-07 17:30] blesh commented on #476
@mattpodwysocki I'd personally like to do away with `thisArg` in the library, since we're only targeting browsers that have `.bind()` now, and ES7 function bind is coming.

[2015-10-07 17:31] mattpodwysocki commented on #476
@blesh that's fine but Function#bind is very slow and not likely to be much faster in the future, whereas the `thisArg` is rather performant in comparison.

[2015-10-07 17:32] blesh commented on #476
@staltz @luisgabriel ... simpler (and perhaps more explicit) in ES6:

[code]

[2015-10-07 17:34] blesh commented on #476
Related, though, we should make sure `do` handles observers and `null`/`undefined` values passed to it.

[2015-10-07 17:35] mattpodwysocki commented on #438
@blesh retry is super common especially with regards to any data access application, so removing that, you might as well remove catch and finally

[2015-10-07 18:56] blesh commented on #375
In the example above, shouldn't:

[code]

be

[code]

So you can run them and collect the results in the expect values?

[2015-10-07 18:59] blesh commented on #375
I guess what I'm saying is every time a value is emitted that happens to be an observable, you subscribe to it and create the message array, likewise for expectations, when you're converting the outer expectation to an array of messages, if you notice the value is an observable, you pull the marbles from it and create an inner array of messages and use *that* as the value for the outer message.

M

[2015-10-07 19:47] #476 closed

[2015-10-07 20:19] staltz commented on #375
var foo =             'a-b---d---------i-----l-|';
   var bar =                 'c-------g-h---------|';
[code]

Nope because
[code]

treats the inner Observable `groupSubject` as any regular testable Observable, and `expectedInners[groupSubject.key]` as any regular marble string.

Yes, I totally understand this part, and this **is working**. However, it doesn't capture that tricky outer-unsubscri

[2015-10-07 20:30] blesh commented on #375
Oh oh... I'm saying you'd just do only `expectObservable(source).toBe(expected, values)` and *that's all*. Internally, it would build out all inner observables into message arrays and compare them all in the same check, since it would be a array of arrays (basically).

Do you see what I mean?

[2015-10-07 20:34] staltz commented on #375
Yes I do, and I had tried that one already as well.

[code]

[2015-10-07 20:55] blesh commented on #375
Attn @trxcllnt ... any ideas?

[2015-10-07 23:45] blesh opened #480 "Throttle and Debounce may have been switched (again)"
I think I've implemented Throttle and Debounce backwards...

For clarification which of these is Throttle and Which is Debounce?

### A

[code]

### B

[code]

[2015-10-07 23:58] paulpdaniels commented on #480
I believe `debounce` is the second one. Debounce has the cool down period (or what ever one would call it) before it will emit, so if another event comes in during that time it will reset the cool down. In the second instance since it is never firing that means each event is coming before the timer has expired.

`throttle` will only allow one event through during every period which looks like what

[2015-10-08 00:15] kwonoj commented on #480
This seems similar to explanation of .net implementation of `throttle` described in https://msdn.microsoft.com/en-us/library/hh229400(v=vs.103).aspx,

which I was expected to behave when I use .net implementation.

[2015-10-08 01:08] paulpdaniels commented on #480
@kwonoj There was a discussion about this some time ago Reactive-Extensions/RxJS, which at the time was implemented in the way you describe. It led to a great deal of confusion since those implementations counter to how the words are actually defined.

`throttle` = define a maximum number of times the event can be emitted over a period of time (1 / 100 ms).

`debounce`= enforce that a function not

[2015-10-08 01:16] kwonoj commented on #480
@paulpdaniels Thanks for clarification, I could look up those discussions - https://github.com/Reactive-Extensions/RxJS/pull/352 is this right one?

[2015-10-08 01:24] paulpdaniels commented on #480
@kwonoj Yep! That's the one.

[2015-10-08 03:13] trxcllnt commented on #480
@blesh shouldn't the second test look like this?

[code]

[2015-10-08 04:07] trxcllnt commented on #375
I don't think this sentence is correct... disposing the `groupBy` subscription should [dispose the inner GroupedObservables](http://jsbin.com/lirirecapu/1/edit?js,console).

[2015-10-08 05:36] paulpdaniels commented on #480
@trxcllnt I think it would be at least two more dashes? The timer period needs to be at least 3 dashes since it hasn't fired during any of the previous intervals.

[2015-10-08 06:10] trxcllnt commented on #480
@paulpdaniels my bad. I definitely left out at least one dash, assuming the debounce timeout is "three dashes." not sure about the second, but I could be wrong.

[2015-10-08 06:32] mattpodwysocki commented on #375
@trxcllnt no, it's not correct, as the code indicates https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/linq/observable/groupbyuntil.js#L80

[2015-10-08 06:46] staltz commented on #375
What does this test assert then? https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/groupby.js#L829-L921

[2015-10-08 07:04] staltz commented on #480
http://rxmarbles.com/#debounce

<img width="859" alt="screen shot 2015-10-08 at 10 04 20" src="https://cloud.githubusercontent.com/assets/90512/10359735/fb49c638-6da3-11e5-9a34-613674a6c86c.png">

[2015-10-08 07:22] paulpdaniels commented on #480
Perhaps somewhat off topic but I would suggest more closely mirroring @staltz 's example. As it stands (assuming those marbles are actually the tests) they don't really tell you much about what the test is doing.

[2015-10-08 07:26] staltz commented on #480
You mean, you don't think

[code]

is informative? I do.

[2015-10-08 07:28] mattpodwysocki commented on #350
@blesh maybe I'm naive here, but why is `mapTo` required when `map` for example in RxJS supports wrapping objects that are passed in.

[2015-10-08 07:58] staltz commented on #375
Check this

[code]
Produces the output on console:
[code]

- - -

On the other hand, this code (where `groupBy` was swapped with `map`):
[code]

produces the output:
[code]

Try it in the JSBin: https://jsbin.com/weyaju/1/edit?js,console

[2015-10-08 09:37] staltz commented on #375
Ok, now I'm fairly convinced we have a bug in RxJS Next groupBy.

Check how RxJS legacy is collecting subscriptions to both outer and inner observer in a RefCountDisposable. https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/linq/observable/groupbyuntil.js#L41

And how that RefCountDisposable is put in a GroupedObservable https://github.com/Reactive-Extensions/RxJS/blob/master/src/co

[2015-10-08 13:17] Rayman opened #483 "Subject.create error"
I'm having trouble with Subject.create, it keeps throwing an error.
[code]

Here is the code I used. I'm trying to create a subject where I can both send and receive. Is this a bug or am I using the wrong method?
[code]

[2015-10-08 14:58] staltz commented on #375
Please see PR #484.

[2015-10-08 15:33] paulpdaniels commented on #480
@staltz on the contrary I think _that_ is informative. I don't think

[code]

is as much so. But looking at this again in the morning I think I was being too greedy last night in suggesting that marble tests should test specific behavior *and* tell a totally unambiguous story of what exactly the operator is doing.

[2015-10-08 16:13] jeffbcross commented on #468
Neither do I! Actually, we right now only publish observables for component events, and for http requests.  We don't consume them internally, except for in our examples. But the lighter the "core" set of operators can be, the better, as discussed in [this issue](https://github.com/angular/angular/issues/4390).

[2015-10-08 18:34] blesh commented on #483
I'm assuming this is in alpha.2? I'll take a look... thanks.

[2015-10-08 18:43] blesh commented on #483
Looking at this, it looks like `create()` isn't doing what it should. This is a bug. Thanks for finding this.

[2015-10-08 19:43] blesh commented on #480
Okay, I think that we've reached a consensus.

... and it's that I've implemented them "backwards". Heh. I feel like I was doing whatever RxJS 2 was doing. But maybe I just lost my mind.

For verification that this is the idiom, I've checked lodash, and it seems to agree with the consensus of this thread. Sorry for any confusion.

[2015-10-08 19:44] #480 closed

[2015-10-08 19:44] blesh opened #486 "Rename Throttle to Debounce and Vice Versa"
Related to discussion here #480

[2015-10-08 19:46] kwonoj commented on #486
I was giving some effort to create test coverage for those operators, let me create this PR also as starting  point.

[2015-10-08 22:44] #391 closed

[2015-10-08 22:44] #475 closed

[2015-10-08 22:45] #387 closed

[2015-10-08 23:00] #483 closed

[2015-10-08 23:07] #486 closed

[2015-10-08 23:35] blesh commented on #468
cc @steveorsomethin @jhusain

[2015-10-09 01:54] blesh opened #489 "Unable to assert subscriptions on tested observable"
I was unable to get this to assert:

[code]

In `expectSubscriptions(source.subscriptions).toBe(sourceSubs);`, it was complaining that `subscriptions` was `undefined`. Which sort of makes sense, because it's not a test observable type.. however, it seems like we could patch the `subscriptions` values onto the tested source during the test without any serious problems.

Thoughts, @staltz?

[2015-10-09 09:46] Rayman commented on #483
Thanks guys, Subject.create works fine now for my use case.

[2015-10-09 10:44] staltz commented on #489
I bumped into the same problem, but then I notice what I actually want to do is

[code]

And not

[code]

Would be easy to do the fix you suggested, but anyway it also makes sense to test the subscription to the underlying "original" Observable.

[2015-10-09 13:25] staltz commented on #375
All `groupBy` tests are implemented with PR #484, but I noticed `groupBy` in RxJS Next covers also the use case for `groupByUntil`, and we are still missing tests for `groupByUntil`. So I would keep this issue open, and I'll work on `groupByUntil` tests next.

[2015-10-09 14:16] blesh commented on #483
:+1: no, thank you for finding a bug!

[2015-10-09 17:42] kwonoj opened #493 "debounce operator with duration selector"
While trying to migrate test coverage in RxJS4, could observe difference between signature of `debounce` operator

RxJS4
[code]

while current signature only allows first one
`debounce<T>(dueTime: number, scheduler: Scheduler = nextTick)`

Not sure if this is intended design or not - should operator to be updated, or test coverage for latter can be dropped off?

[2015-10-09 18:37] blesh opened #494 "Move linting to start of build_test and have it fail quickly"
Just what it says. I think it would be ideal to know that linting failed immediately, so you don't have to wait for the build and the tests before you realize you have a typo.

[2015-10-09 18:38] blesh opened #495 "A development "watch" process"
I'm sure there are easy ways to do this with command line tools, but I haven't looked into it. Either way I think this would be great, especially if we get #494 done.

[2015-10-09 18:41] blesh commented on #493
Hmmm... I tell you what. Examine the level of complexity with supporting both on the same operator. If it incurs too many conditionals, we should probably seperate them into `debounce` and `debounceTime`

[2015-10-09 18:41] kwonoj commented on #494
This'll be quite quick changes, I'll create PR.

[2015-10-09 18:45] kwonoj commented on #493
It'll also works. Just curious if it was intended.. I'll try to scope out changes and create PR based on those.

[2015-10-09 18:47] kwonoj commented on #495
I'll also look for this as well as #494.

[2015-10-09 18:51] blesh commented on #493
Yeah... looking at this, it's probably best to rename what's there to `debounceTime` and add a `debounce` operator that takes an Observable as an argument. Likewise, we'll need to do this for `throttle` and `throttleTime` ... I'll take a look at that.

[2015-10-09 18:51] blesh commented on #493
What do you think @kwonoj? Do you agree?

[2015-10-09 18:53] blesh opened #496 "Add throttle operator with durationSelector"
Relates to some discussion at #493..

The only thing we need to figure out, is whether to attempt an overload on the existing operator, or rename it to `throttleTime` and add a `throttle` operator that accepts an observable.

It depends on the complexity of the overload and the perf hit.

[2015-10-09 18:54] kwonoj commented on #493
What's interesting is, in case of `throttle` it didn't had durationSelector, (https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/throttle.md)

`Rx.Observable.prototype.throttle(windowDuration, [scheduler])`

only. For alignment, I think it makes sense.

[2015-10-09 19:04] #441 closed

[2015-10-09 19:06] blesh commented on #453
In speaking with some RxJava folks, it might be that we just need to implement `shareValue` and `shareReplay` without Subjects, and rather just create "1 Producer, Many Consumer" observables for them to return directly. It would probably perform better (fewer object allocations) and it might help us "trim the fat" with our publish operators, as it were.

[2015-10-09 19:07] blesh commented on #177
This doesn't seem to have any performance or ergonomic impacts. Closing for now.

[2015-10-09 19:07] #177 closed

[2015-10-09 19:09] blesh commented on #145
I'm going to close this for now, as unsubscription performance is doing quite well, and we haven't identified any issues.

I think it's a good idea to keep this in our back pocket, but as the library is beginning to stabilize, I think it's probably prudent to avoid potentially volatile changes for now.

[2015-10-09 19:09] #145 closed

[2015-10-09 19:10] blesh commented on #111
Given that we're all in agreement about this need/effort, and there's a lot of work underway to get us there. I'm going to close this issue only because it's just a general call-to-arms from the past that we've already heeded.

[2015-10-09 19:10] #111 closed

[2015-10-09 19:11] #161 closed

[2015-10-09 19:13] blesh commented on #261
Right now we have windowCount, I think really window and windowWhen are probably the other two worth testing here. windowTime wouldn't be much different from windowCount, as far as memory alloc goes. I'll open separate issues for those.

[2015-10-09 19:13] #261 closed

[2015-10-09 21:00] staltz commented on #453
That would be a very bold move, would be a big shift in Rx's foundation with regard to cold vs hot.

[2015-10-09 21:29] luisgabriel commented on #389
@blesh Is there a special reason to keep `map()` and `mapTo()` as separate operators?

[2015-10-09 21:46] luisgabriel commented on #390
@staltz Rewriting the test this way it passes:

[code]

Could be a bug in `hot`?

[2015-10-09 21:59] kwonoj commented on #390
Seems subscriptionframe `^` is not honored with plain subscription, all elements prior to subscription is pushed.

[2015-10-09 23:02] blesh opened #499 "Perf regression in `zip` operator"
Micro perf tests are now showing `zip` to be 75% slower than Rx 4. I'm not sure what happened there.

There are a few possibilities:

1. Changes made to `zip` to support iterators caused the regression, but weren't noticed.
2. Rx 4.0.0 has improved `zip` since I've last run the tests against it, and it's quite a bit faster.
3. Both?

Either way, we need to get it back up to speed

[2015-10-09 23:07] mattpodwysocki commented on #499
@blesh pretty safe to say I did a lot of perf work for 4.x to beat 5.x to challenge us all

[2015-10-09 23:07] kwonoj commented on #499
Seems v4 did quite optimization,

new zip() with immediate scheduler x 51,863 ops/sec ±3.46% (84 runs sampled)
        85.77% slower than Rx v 4.0.0

new zip() with immediate scheduler x 56,612 ops/sec ±2.74% (82 runs sampled)
        646.22% faster than Rx v 3.1.2

[2015-10-09 23:54] blesh commented on #499
Cool, @mattpodwysocki!  Well I guess it's not a "regression" then.

[2015-10-09 23:54] blesh commented on #499
... but still, we need it to be faster.

[2015-10-09 23:55] blesh opened #501 "defaultIfEmpty micro perf test broken for Rx 4.0.0"
Currently it's not returning any value at all.

[2015-10-10 00:00] #494 closed

[2015-10-10 00:43] kwonoj commented on #501
Seems I got some clue.. will update PR.

[2015-10-10 01:42] blesh commented on #453
Nah... I'm not talking "all observables" ... just the ones returned from `shareReplay` or `shareValue` for example. The Observable returned from `refCount` is technically a "one producer, many consumers" observable. It's just there's a Subject under the hood. I think we can implement this functionality and skip that completely. Less object allocation, fewer subscriptions.

[2015-10-10 01:59] blesh commented on #389
@luisgabriel there are a few reasons:

1. JavaScript doesn't really have "overloading" of methods. You can leverage dynamic typing and reflection to mimic it, but it's not the same thing. because....
2. reflection/type assertions are slow.

For such a commonly used operator as map, I didn't want to incur a penalty at each call to check to see what type of thing was passed to map.

... so.. we have

[2015-10-10 03:47] blesh commented on #390
That's because plain subscribe would need to be scheduled at `0` on the test scheduler.

[2015-10-10 03:50] blesh commented on #499
It seems there are some bugs in the 4.0 zip implementation. Closing this until we're sure 4.0 zip is working properly.

[2015-10-10 03:50] #499 closed

[2015-10-10 03:52] kwonoj commented on #390
Yes, assumed so. Think do not need to modify behavior of `testScheduler` or either `hot` for above specific cases, @staltz what do you think?

[2015-10-10 04:07] luisgabriel commented on #389
@blesh got it. Makes sense. I'll work on some tests for `mapTo()` then.

[2015-10-10 11:40] staltz commented on #390
Hmm, yeah, I think using `.do()` to make the assert on `invoked` is fine. And now it's clear that it should have been subscribed on the TestScheduler.

[2015-10-10 13:45] blesh commented on #390
Yeah, as a general rule, the only way to know for sure when something will happen is to schedule it on the scheduler.

[2015-10-11 10:51] headinthebox commented on #453
Wow, this is a long thread ;-) But I think that I am with @staltz on this

Until the next `connect` any "publish" variant should behave like the underlying subject.

[2015-10-11 20:39] blesh commented on #453
@headinthebox, I don't disagree with that at all. The thing that @staltz didn't like is if the collectable observable completes, at next connect it recycles the underlying subject. This is how it works in RxJava as well, essentially. RxJS 4/3/2 would instead try to use the same underlying subject, meaning the connectable observable was "single use only". @staltz had come to depend on this behavior

[2015-10-12 05:59] robwormald commented on #468
In Typescript and with generated type definitions, the way the prototype is currently mutated doesn't complain internally, but also doesn't offer autocomplete or anything useful, which is sort of a bummer when y'all are making all this effort with Typescript and tooling.

<img width="601" alt="screen shot 2015-10-11 at 10 56 44 pm" src="https://cloud.githubusercontent.com/assets/534930/10422192/b4

[2015-10-12 07:53] kwonoj opened #507 "accepting promise for forkJoin()?"
RxJS4's [`forkJoin`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/forkjoin.md) accepts promise as well as observables

`args (Arguments | Array): An array or arguments of Observable sequences or Promises to collect the last elements for.`

while current implementation does not. Is this intended design to drop promise? If promise can be accepted, PR https://github.

[2015-10-12 12:44] staltz commented on #375
This issue should be resolved/closed once #508 is merged.

[2015-10-12 13:11] staltz commented on #376
I can take this one.

[2015-10-12 16:06] staltz commented on #376
I'm almost done with this. Now I'm adding tests for the basic cases (empty, never, etc), but since these cases are not specified in RxJS legacy tests, I actually don't know what to expect.

E.g. is this what we should expect?
[code]

The actual execution is:
[code]

[2015-10-12 16:10] blesh commented on #468
Yeah, we'll probably have to go back to at least adding stubs for every operator on the Observable type. It's just so ugly.

Part of me wonders if it might be better just to switch to ES6 and manually maintain the .d.ts files...

[2015-10-12 16:26] #501 closed

[2015-10-12 19:55] blesh commented on #507
Debatable. As long as it doesn't affect performance, I'm okay with it.

[2015-10-13 07:50] staltz commented on #376
This one can be closed.

[2015-10-13 07:51] staltz commented on #375
We can finally close this one.

[2015-10-13 07:51] staltz commented on #377
I can do this.

[2015-10-13 07:51] staltz commented on #378
I can do this.

[2015-10-13 11:19] staltz commented on #376
@blesh some input here would be good. (RxJS legacy tests don't specify the following, by the way)

This tests passes for `window`:
[code]

This test passes for `windowCount`:
[code]

Notice the inconsistency: one returns an empty observable, the other returns an observable with one window, and the window is empty.

We should probably try to make these uniform across the variants of window, otherwi

[2015-10-13 11:59] staltz commented on #376
Ok, I now discovered by trying out code in JSBin that RxJS legacy does this:

[code]

RxJS Next does this:
[code]

I'd consider RxJS Next's `windowCount` behavior a bug, because it's inconsistent with RxJS legacy and also with Next's `window` and `windowTime`.

I think this issue can be closed, because the bug is related to #378.

[2015-10-13 14:42] staltz commented on #381
I can this one.

[2015-10-13 14:42] staltz commented on #382
I'll take this one.

[2015-10-13 17:14] #375 closed

[2015-10-13 17:19] blesh commented on #376
I completely agree, and I wrote it. I think I was working with `bufferCount` in mind, or perhaps I was trying to be too efficient.

This test would fail with RxJS 5, and it shouldn't. (It's probably worth adding for that reason alone)

[code]

[2015-10-13 17:20] blesh commented on #376
Or testing against `Observable.never()`... again... that would probably fail in RxJS 5 right now.

[code]

[2015-10-13 19:29] #493 closed

[2015-10-13 20:23] kwonoj opened #516 "repeat() operator behavior"
In some cases it seems resubscription does not triggered correctly. for example,

`Rx.Observable.interval(40).take(2).repeat(2).subscribe(console.log, null, function(){console.log('completed')});`

*RxJS4*

1
0
1
completed

*RxJS5*

1
(does not complete)

[2015-10-13 20:23] kwonoj commented on #516
I'll try to look into this as well as expanding test coverages of `repeat` operator.

[2015-10-13 20:40] kwonoj opened #518 "skipUntil() operator behavior"
Current implementation of skipUntil() does not handle some cases such as argument observable raises error like

[code]

Marble diagram of [RxJS4 test](https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/skipuntil.js#L41) expected to pass but fail.

[2015-10-13 20:40] kwonoj commented on #518
I'll look into as well as expanding test coverage.

[2015-10-13 21:52] blesh opened #520 "Scalar Observable overrides"
Add shortcut instance methods to ScalarObservable for things like map, filter, etc. For performance purposes.

[2015-10-14 08:45] staltz commented on #377
Please close

[2015-10-14 08:45] staltz commented on #378
Please close

[2015-10-14 08:45] staltz commented on #376
Please close

[2015-10-14 16:41] robwormald opened #528 "(re)consider dist strategery"
per the new changes in Typescript 1.6.2 and Angular2's support to change over to it, some structural issues i've run into while attempting to (properly) bring Rx into NG2 could be eased with some changes:

Having the `typings: "./dist/es6/cjs"` field in package.json is a good start (or will be, once a release ships) but this only allows usage of the root entry point, eg:
`import {Observable} from

[2015-10-14 17:48] #518 closed

[2015-10-14 18:53] #377 closed

[2015-10-14 18:54] #378 closed

[2015-10-14 18:54] #376 closed

[2015-10-14 18:56] blesh commented on #528
As long as it doesn't hurt the behavior of the library, specifically the issue around default exports in CJS, I don't see a problem with it.

[2015-10-14 19:02] blesh commented on #528
Honestly, I was sort of waiting for issues like this to arise. I'm way more likely to use Babel with RxJS than TypeScript, personally. So I haven't really dog-fooded any typings issues.

[2015-10-14 19:08] #381 closed

[2015-10-14 19:14] blesh commented on #381
Looks like `bufferToggle` is the last one on this list requiring tests.

[2015-10-14 19:14] blesh commented on #520
This is addressed with #521

[2015-10-14 19:14] #520 closed

[2015-10-14 19:20] blesh commented on #351
I've narrowed this list down a little bit. Some of them were effectively going to test the same code or the same approach more than once.

[2015-10-14 19:20] #495 closed

[2015-10-14 19:23] blesh commented on #390
Are these complete now, @staltz? I feel like this got wrapped up after this discussion.

[2015-10-14 19:24] #383 closed

[2015-10-14 19:25] #382 closed

[2015-10-14 19:46] staltz commented on #381
Yep

[2015-10-14 19:49] staltz commented on #390
@blesh did the missing test get submitted by @luisgabriel ? I can't recall seeing it.

[2015-10-14 20:01] luisgabriel commented on #390
@staltz @blesh I'll submit a PR.

But I think there are some other tests that @staltz pointed out earlier in this thread still missing. Two of them are related to dispose():
- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L288
- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L608

I'm not sure how to replicate these.

[2015-10-14 20:04] staltz commented on #390
Yeah, me neither, I tried unsubscribing from within the predicate, but I got a chicken-and-egg subscription problem.

[2015-10-14 21:20] kwonoj opened #530 "timer() behavior?"
I tried simple timer comparison as below,

[code]

*RxOld*

{ value: 5, interval: 5008 }

*RxNew*

{ value: 0, interval: 5005 }

could see emitting order is opposite between two implementation.

This causes interesting behavior differences in `skipUntil` operator, such as

[code]

*RxOld*

source : 1004
source : 2002
source : 3002
source : 4002
source : 5003
skip 5005
source : 6002
6
source : 7003

[2015-10-15 03:03] blesh commented on #530
It's likely because the default scheduler implementations are different. RxJS 5 is using recursive scheduling and setTimeout by default.

[2015-10-15 03:06] blesh commented on #530
Also, with these sorts of things, just the latency of the code triggering the setTimeouts can cost a millisecond here or there. I don't think anyone can or should try to rely on consistent timing from scheduling over setTimeout in two different code bases (or in some cases even within the same code base).

[2015-10-15 03:07] blesh commented on #530
I would be more concerned if this was the case on the VirtualScheduler or TestScheduler. But even then, as long as it's consistent within all calls from the same library, it's probably not an issue.

[2015-10-15 03:09] kwonoj commented on #530
Got point and agreed. Just a reference, TestScheduler didn't had same issues with same example. Maybe can close issue?

[2015-10-15 06:38] blesh commented on #530
I'd close it. But I'll leave that to you, if you're satisfied.

[2015-10-15 06:39] kwonoj commented on #530
I also think it can be closed - closing myself :)

[2015-10-15 06:39] #530 closed

[2015-10-15 14:01] staltz commented on #384
Forgot to mention to assign me. But I sent already a PR for this.

[2015-10-15 14:01] staltz commented on #385
Forgot to mention to assign me. But I sent already a PR for this.

[2015-10-15 14:03] staltz opened #540 "Comprehensive marble tests for concatMap"
(I didn't find tests for concatMap, maybe we should have it)

[2015-10-15 17:23] #528 closed

[2015-10-15 17:48] blesh opened #541 "Abandon TypeScript?"
Because of the modular nature of this library. I'm starting to feel like maybe TypeScript isn't a natural fit for what we're doing.

### Why TypeScript to begin with?

If we were to support TypeScript typings, it made sense to "transpile down". There have been other benefits to the project over type as well, but the main thing was for the automatic generation of typings information for our partner

[2015-10-15 17:54] blesh commented on #541
Also, I'll admit that #468 was, at least in part, stemming from the fact that there is some ugliness around our modular operator structure in TypeScript.

[2015-10-15 18:11] staltz commented on #541
I actually think it was a good idea to build it with TypeScript. For the performance argument (avoiding polymorphism) and for the reliability argument (Dynamic typing is really not a sane idea for large codebases, a lot of smart developers advocate types for large projects).

If you just one to get stuff done and get types out of your way, then there isn't anything better than dynamically typed Ja

[2015-10-15 18:15] staltz commented on #541
PS:

ES7 function bind is a Stage 0 feature, we shouldn't make any assumption on its availability.

[2015-10-15 18:25] blesh commented on #541
SHUT YOUR STINKIN' MOUTH @staltz! (I love that feature) 😛

[2015-10-15 18:28] blesh commented on #507
`forkJoin` should also accept "lowercase-o" observables... Meaning any object with an `[Symbol.observable]` method on it that returns an object with a `subscribe` function that accepts an `observer`.

[2015-10-15 18:30] staltz commented on #541
![cs6kykc](https://cloud.githubusercontent.com/assets/90512/10523602/dd4d17f8-7383-11e5-9777-510761dd167e.gif)

[2015-10-15 19:08] mattpodwysocki commented on #541
Yeah, I kept away from TypeScript just because it kept the number of contributions lower in terms of contributions because the barrier to entry was a bit higher. But to each their own...

[2015-10-15 19:43] RyanCavanaugh commented on #541
We're looking at this and want to make sure we understand the scenarios before making any recommendations.

My initial take on this is that you should be using declaration merging to add things to the `Observable` type as they "become available" via imports (but more on that later).

This is the same link as before (intended?) so I don't quite have context on what this means

TypeScript doesn't *d

[2015-10-15 20:53] blesh commented on #541
@RyanCavanaugh ... oops. I meant [this link](https://github.com/ReactiveX/RxJS/blob/8f42b1de91604af6f0584f2e8c55233acb426959/src/observables/ScalarObservable.ts#L59-L122)

Yes, that's part of the original design. Mostly to support dialects that don't have ES7 function bind.

Not really. In *my* ideal world it looks like this:

[code]

... but unfortunately, we have needs in the non-transpiled worl

[2015-10-15 20:57] blesh commented on #541
@RyanCavanaugh .... One big, near-term issue for the Angular team around Rx, is: How do they include the operators people will need without bloating their byte-count? This is one of the reasons the modular design exists.

So, in a world where we need type information for those methods for TypeScript users, I need to export a .d.ts file that shows all possible core operators on Observable if they'r

[2015-10-15 21:01] RyanCavanaugh commented on #541
What does the ideal world, absent the ES7 bind operator, look like?

[2015-10-15 21:29] blesh commented on #541
@RyanCavanaugh I think I'd like it if the TypeScript compiler didn't complain that I'm adding prototype methods to a subclass when the superclass's instance properties of the same name are undefined. Alternatively, I'd love it if there was a way to tack on type information in the .d.ts for properties that may or may not be there.

[2015-10-15 21:34] RyanCavanaugh commented on #541
Either I'm misunderstanding the scenario, or that's already supported:
https://github.com/RyanCavanaugh/TryRx/blob/master/sample.ts
https://github.com/RyanCavanaugh/TryRx/blob/master/augmentations.d.ts

The one piece that would make the whole story work 100% smoothly is if importing a module could cause side effects to types in the global namespace. In that setup, using the example above, you'd ha

[2015-10-15 22:11] blesh commented on #541
I guess, I'm too new to this... is `augmentations.d.ts` some idiomatic way of altering the type information? How does the type system know to pick that up?

[2015-10-15 22:45] RyanCavanaugh commented on #541
The filename there is arbitrary - any file you add to your compilation that declares the same interface or namespace in the same scope adds to that type rather than declaring a new one. You'd still need to `/// <reference` it or otherwise add it to the set of files the compiler sees.

[2015-10-16 01:03] blesh opened #546 "retry and retryWhen don't call unsubscription logic when the source observable errors"
Basically this scenario:

[code]

that `"tear down"` is never logged to console.

[2015-10-16 01:08] BerkeleyTrue commented on #541
+1 for a move to plain ES2015. It is a barrier to entry for a lot of JS developers.

[2015-10-16 07:45] robwormald commented on #541
Thoughts -

I have had my frustrations with TypeScript, but:
- having Type completion as an end user is *amazing* in complex libraries like Rx. The fix @blesh made yesterday that enabled proper typings via npm is really very cool to see in action, and is a huge step forward for how we're consuming it in angular2. :heart:
- The latest version of TypeScript (1.6.2+) makes big steps forward in terms

[2015-10-16 08:54] staltz commented on #546
I can do this

[2015-10-16 13:56] blesh commented on #541
I'll join your parade

[2015-10-16 20:42] kwonoj opened #549 "supporting absoluteTime, selector for delay() operator?"
Current implementation of `delay` operator supports only relative time delay as stated in signature

`delay(delay: number, scheduler: Scheduler)`

compare to RxJS4, which supports `absoluteTime` also `delayDurationSelector`.

would like to ask if it's planned to expand current implementation to support rest of behaviors.

Personally, since it has somewhat polymorphic behavior would like to separat

[2015-10-16 20:43] kwonoj commented on #549
Would like to take this one if this reaches agreement, since I'm working on expanding marble test for this operator.

[2015-10-16 20:46] blesh opened #550 "Pin build dependencies to known-working versions"
There is a comment [here](https://github.com/ReactiveX/RxJS/pull/547#issuecomment-148829837) that describes an issue I had where eslint upgraded to 1.7.0 when I wiped my node_modules directory and reinstalled. 1.7.0 had some false positives. I don't want that to happen to others while trying to create PRs, so I think it's best that we pin our build dependencies to highest known working versions.

[2015-10-16 20:47] blesh commented on #516
It's possible that this and `catch` suffer from the same bugs `retry` and `retryWhen` do, as described here #546

[2015-10-16 20:53] kwonoj commented on #516
I just gave a try quick code snippet like

[code]

which shows result as

tear down

between RxJS4 and this implementation both. Can this be considered as passing sign, or did I try it incorrectly?

[2015-10-16 22:29] #516 closed

[2015-10-16 22:29] kwonoj commented on #507
I'll try to add to accept `promise` as start with performance benchmarking.

[2015-10-16 22:34] blesh opened #554 "Add tests for repeat unsubscription"
We need to make sure that the source observable's tear down logic is called before everything repeats again, so we have to make sure we're unsubscribing from the previous subscription before repeating.

I don't think we have tests around this.

[2015-10-16 22:40] #550 closed

[2015-10-16 23:05] #385 closed

[2015-10-16 23:05] blesh commented on #385
I think #539 closed this.

[2015-10-17 00:05] blesh commented on #540
Yes we should. I just found that same thing for scan: #555. I think we need to go back to @trxcllnt's original mega-pr and make sure we have all of the operators created at that point tested.

[2015-10-17 02:30] blesh commented on #516
Thanks @kwonoj.

[2015-10-17 04:17] kwonoj commented on #465
Recently added `npm cover` invokes `istanbul` has similar problem.

https://github.com/gotwarlost/istanbul/issues/13

[2015-10-17 04:17] blesh commented on #549
That seems reasonable. I'm on mobile, does delayWhen align with bufferWhen? If so, it sounds good to me

[2015-10-17 04:36] kwonoj commented on #549
somewhat similar, but not exactly. Major difference is `bufferWhen` accepts observable directly as closing selector, while above `delayWhen` simply mimic RxJS4 signature to accept `function` as selector. If it's to be aligned, signature will be looks like

`delayWhen(delayDurationSelector: Observable, subscriptionDelay?:Observable)`

not sure if selector observable can get rid of `subscriptionDela

[2015-10-17 04:50] blesh opened #556 "Making Observable "awaitable""
This would make observables "thennable", and therefore "awaitable".

[code]

I think the internals would just be

[code]

Nice and simple. I want to put this together and experiment with it soon.

[2015-10-17 04:51] kwonoj commented on #556
:+1: I would love if I can use async / await. (though browser support is still far away..)

[2015-10-17 04:58] blesh commented on #556
Gross side effect: people can just use them as promises.

[2015-10-17 07:12] kwonoj opened #558 "Strategies for more accurate code coverage report"
Related with PR https://github.com/ReactiveX/RxJS/pull/557

Current code coverage report (i.e, [build 823] (https://coveralls.io/builds/3868169)) is indicating coverage of source points to transpiled results from original typescript based sources. Due to this reason it does not reports accurate coverage percentage also does not allows navigation to coverage detail, makes bit hassle to triage when

[2015-10-17 07:44] blesh commented on #558
It seems like there are ways to compose the sourcemaps. LIke sourcemap to ES6 source map again to Babel.

[2015-10-17 07:45] kwonoj commented on #558
That seems quite feasible solution. I'll try to look for some references.

[2015-10-17 08:27] staltz commented on #384
I guess this can be closed because https://github.com/ReactiveX/RxJS/pull/538

[2015-10-17 14:32] #384 closed

[2015-10-18 04:05] kwonoj commented on #558
Spend some time and could able to list up some options.

##### using `babel --inputSourceMap`
: babel supports to have 'base' sourcemap to generate sourcemap of transpiled results to corresponds original source. This works, but .

- Cons : only supported for **inline source map**, inline source map is probably not acceptable. also options itself is sort of [**undocumented option**] (https://github

[2015-10-18 04:09] kwonoj commented on #558
Order of personal preference is 1.gulp 2.multi-stage-sourcemap (inline source map with babel is out of option for me).

Of course using gulp will require additional effort to replace existing npm based build scripts, but it'll bring some additional side effect of better windows support (specifically dealing with cross-platform environment variable, file glob) along with streamlined source map supp

[2015-10-19 09:58] staltz commented on #546
This can be now closed.

[2015-10-19 09:58] staltz commented on #540
I'll take this one.

[2015-10-19 11:07] staltz commented on #540
Found a potential bug.

RxJS 4 does this:

[code]

while RxJS Next does this:

[code]

If we are to mirror RxJS 4's functionality, then it's a bug. But we might also be redefining how concatMap should work.

Feedback? @blesh ?

[2015-10-19 11:27] staltz commented on #554
I can do this one.

[2015-10-19 13:30] staltz opened #564 "Comprehensive marble tests for merge"
Plus subscription/unsubscription assertions.

[2015-10-20 00:28] kwonoj commented on #558
After give few more try, seems `gulp-sourcemap` also has some issues. Given aspect of coverage check failure affects PR, I'll add changes based on current build script with multi stage sourcemap first.

[2015-10-20 12:41] #546 closed

[2015-10-20 21:16] Frikki opened #568 "ConnectableObservable: TypeError: this.subjectFactory is not a function"
### Overview

Error and stack trace

[code]

### Motivation

In earlier versions of RxJS, <= 4.x.x, we had the `replay()` method. As this was a special case of multicast, behind the scenes, this code `source$.replay(null, 1)` would mean `source$.multicast(new ReplaySubject(1))`. So as we don’t have this extra `replay()` API in RxNext, I would expect the code below in the reproduce example to work.

[2015-10-20 21:31] trxcllnt commented on #540
@staltz not a bug, just an artifact of changing the default scheduling model from trampolining to recursive. Try your first example in Rx 4 using the ImmediateScheduler and you'll get the same results as the Rx Next example.

[2015-10-20 22:13] Frikki commented on #568
So I got to look closer at the source code, and I can see that I am using the `multicast()` and `Observable` wrong. The script should probably be like below to work.

[code]

So much new.

[2015-10-20 22:13] #568 closed

[2015-10-20 22:17] luisgabriel commented on #549
`Observable.timer()` in RxJS 4 also accepts absolute time: https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/timer.md

Should we add this behavior to RxJS Next?

[2015-10-21 10:51] staltz commented on #540
Good to know

[2015-10-21 11:29] staltz commented on #564
I can assign myself to this one.

[2015-10-21 13:23] alexlee002 opened #569 "Another RxJS:https://github.com/Reactive-Extensions/RxJS, what's the relationship?"
confused!

[2015-10-21 14:08] staltz commented on #569
https://github.com/ReactiveX/RxJS/issues/217

[2015-10-21 14:18] #569 closed

[2015-10-21 14:47] jesperronn opened #572 "Npm version 3 support"
I am using Npm 3 to build an Angular 2 project (`"angular2": "2.0.0-alpha.44"`).

In this project's `package.json` there is a line defining it only works with Npm version 2. See https://github.com/ReactiveX/RxJS/blob/2c958911d28244db328b63523bf2d16003000b18/package.json#L95

My question: can we safely update to Npm 3? If so, do you want a pull-request, or do it yourself?

My (private) project issu

[2015-10-21 16:35] kwonoj commented on #572
As you've mentioned, so far I know package definition won't block when system is using npm 3, as I use npm 3 daily without issue. Is there particular cases worrying about, or problem you're experiencing with?

[2015-10-22 13:59] staltz opened #577 "skipUntil unsubscription potential bug"
I'm writing unsubscription tests for skipUntil, and I expect this to be true
[code]
but in reality RxJS Next behaves like this
[code]

RxJS 4, on the other hand, unsubscribes from the source when the source completes, see this JSBin: http://jsbin.com/vumuxurabe/1/edit?js,console.

Should I consider this a bug in RxJS Next?

[2015-10-22 15:26] roganov opened #578 "ReplaySubject memory leak"
`ReplaySubject` would clear its cache of events only when a new observable subscribes, otherwise the array of events grows indefinitely.

Steps to reproduce:
[code]
Apparently introduced by this https://github.com/ReactiveX/RxJS/commit/488ac2e4708665b71fbd3f3b109766c0e70f3689 commit.

[2015-10-22 16:32] kwonoj commented on #577
I feel same, subscription need to be unsubscribed.

[2015-10-22 16:46] kwonoj opened #579 "Potential testscheduler issue?"
While this snippet works

[code]

this doesn't, testScheduler hangs at some point and test does not completes.

[code]

Not sure if this is expected behavior of testScheduler or potential issue though.

[2015-10-22 16:49] staltz commented on #579
Shouldn't the interval in the second case be `10`? But anyway, the hanging doesn't sound good. I recall having some hanging when the source Observable synchronously emits next values, and the internal timeFrame inside the TestScheduler doesn't progress. Makes some sense, though, because the time scale in the test scheduler is virtual, `10` time units is not `10ms`. It's just an arbitrary time unit

[2015-10-22 16:51] kwonoj commented on #579
: I just write snippet in a hurry, so `expected` might not reflect actual expected values. Original intention was testing behavior of `Observable.interval(0)`

[2015-10-22 16:54] kwonoj commented on #579
I agree in general, I also could observe some of cases like value emits synchronously and doesn't complete. Creating issue was for clarification, if this is somewhat acceptable behavior, I can pick traditional way of creating test case per this specific case or either drill down into testscheduler to make this work, currently lean on to use traditional way.

[2015-10-22 17:19] staltz commented on #579
Yeah, I'd opt for testing without the testscheduler

[2015-10-22 17:19] kwonoj commented on #579
Cool, closing issues :)

[2015-10-22 17:19] #579 closed

[2015-10-22 18:14] kwonoj opened #581 "Type definition complains for some operators with union type"
For example, signature of `Observable.of` is defined as below

`Rx.Observable.of(value, [scheduler])`

and declaration is like below, accepts value or scheduler with union type definition.

`static of<T>(...array: (T | Scheduler)[]): Observable<T> `

which makes eventually type inference confusions like
![image](https://cloud.githubusercontent.com/assets/1210596/10674062/dfc45116-78ad-11e5-9146-e4

[2015-10-22 18:19] kwonoj commented on #581
I will prepare PR resolves this issue partially as starting point.

[2015-10-22 19:41] kwonoj opened #582 "'immediate' Observale.interval failure"
Snippet below (duplication is intended, single execution works fine)

[code]

leads into unexpected failure in nexttick scheduler like below.

[code]

Creating issue while try to triage root cause for this.

[2015-10-22 19:55] roganov opened #583 "Proposal: overload of BehaviorSubject"
While building apps with Rx, I have quite often had a need for an observable that remembers its latest value, but doesn't have an initial value. Now this can be achieved by using `ReplaySubject(1)`, but `ReplaySubject` is 'heavier'.
What I'm proposing is to extend `BehaviorSubject` so that when it didn't get passed and initial value, it would wait for first value to come in before emitting anythin

[2015-10-22 20:01] kwonoj commented on #583
Seems [RxJS4](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/subjects/behaviorsubject.md#rxbehaviorsubjectinitialvalue) also have it, maybe simply not migrated yet?

[2015-10-22 20:02] mattpodwysocki commented on #583
:-1: we have been over this in RxJS and declined it then

[2015-10-22 20:02] #583 closed

[2015-10-22 22:08] kwonoj opened #584 "Generic type inference failure when multiple type provided (with typescript)"
Writing below code via ES5 with commonjs,

`Rx.Observable.of(1, 'a').subscribe(console.log);`

will be executed with below results

a

though some editors might complain by type inference failure.

if same code is written in typescript, now those complaint becomes build time failure

  Type argument candidate 'number' is not a valid type argument because it is not a supertype of candidate 'string'

[2015-10-22 22:08] kwonoj commented on #584
I'm looking into this to try resolve.

[2015-10-22 22:24] trxcllnt commented on #583
@mattpodwysocki I know this is a dup of my [pull](https://github.com/Reactive-Extensions/RxJS/pull/27) from ~2 years ago, but perhaps we can introduce a new type, `LatestSubject` maybe?

[2015-10-22 22:26] kwonoj commented on #584
Course caller can explicitly cast like
`Rx.Observable.of(<any>1,<any>'a').subscribe(console.log);`
, but seems bit hassle.

[2015-10-22 22:27] trxcllnt commented on #578
@roganov good catch, I knew there was a reason we need to trim on each `next`. @blesh @staltz comments?

[2015-10-22 22:32] trxcllnt commented on #582
@kwonoj looks like it's caused by [this check](https://github.com/ReactiveX/RxJS/blob/master/src/schedulers/NextTickAction.ts#L40). We should move lines 43-46 from within the conditional to below it.

[2015-10-22 22:37] kwonoj commented on #582
Thanks for tips. I'll try to create PR based on suggestion.

[2015-10-22 22:46] mattpodwysocki commented on #583
@trxcllnt yes, as I said before in the old PR that I was perfectly willing to make a new Subject type but was unwilling to change the meaning of the BehaviorSubject due to its downstream dependencies with publishValue etc

[2015-10-23 06:36] roganov commented on #583
Yeah a new subject type would be OK. Or we could probably make `ReplaySubject(1)` fast (treat it as a special case).

[2015-10-23 07:03] paulpdaniels commented on #583
Couldn't we just make all bounded buffers a special case and implement a circular buffer instead of doing splicing?

[2015-10-23 07:05] staltz commented on #583
Actually you can hack around BehaviorSubject if you don't want the first init event.
[code]

But I also think something like `LatestSubject` would be helpful. Maybe we could bikeshed on that name still, we could consider `HoldSubject` or `KeepSubject`, taking a bit of inspiration from [Sodium which has the `hold` function](https://github.com/SodiumFRP/sodium/blob/master/denotational/Denotational%2

[2015-10-23 07:07] staltz commented on #583
@roganov ReplaySubject and BehaviorSubject have different semantics for observers after they complete. See https://github.com/ReactiveX/RxJS/issues/453

[2015-10-23 07:09] staltz commented on #578
Yeah you can blame me for taking it out. Certainly looked fishy, perhaps a refactor could help clarify it's not just "getting" the events.

[2015-10-23 07:12] staltz commented on #584
Can you write `Rx.Observable.of<any>(1, a').subscribe(console.log);` instead?

[2015-10-23 07:16] kwonoj commented on #584
Yes, that works too. Snippet I took is exaggerated examples of casting hassle. Still it'd be better wouldn't require explicit casting, not sure if it's achievable along with generic based type-safety.

[2015-10-23 09:34] roganov commented on #584
I don't think that `Rx.Observable.of<any>(1, 'a')` is a hassle, IMO it's perfectly reasonable TypeScript. It also makes you think whether you really want to mix types.

[2015-10-23 14:20] kwonoj commented on #584
Ok, closing now.

[2015-10-23 14:20] #584 closed

[2015-10-23 17:02] staltz opened #590 "zipAll potential bug"
While writing tests for zip and zipAll, I noticed this behavior:

[code]

I think events `u` and `v` and the subsequent complete `|` are happening at the wrong times. This is what I'd expect:

[code]

Do you agree?

[2015-10-23 17:14] robwormald opened #591 "RxJS 5 "extensions" - where should they live?"
So I've found myself needing recently a couple of the extensions from earlier versions of Rx.DOM and Rx.Node (stuff like requestAnimationFrameScheduler and Observable.fromStream) - do you want PR's here for these things, or should there be a @reactivex/rxjs-extensions repo or?

I'd err on the side of them living in here, as you can (theoretically) pluck the things you want out, but wanted to check

[2015-10-23 18:26] Frikki commented on #453
This is unexpected new behavior. Could anybody clarify how I can prevent that replay values are dropped once complete? I need to be able to replay what has happened in past. Usually, this would have been a simple `publishReplay()`, now what?

[2015-10-23 18:29] staltz commented on #453
@blesh I started the process of migrating Cycle.js to RxJS with the help of the community, and we hit our first big problem with this new behavior of connectable Observables. For my purposes, ConnectableObservable is "broken" here. Please consider that **a lot of existing codebases out there** might depend on how ConnectableObservable works.

Our case goes like this:
- In tests, we use `source = O

[2015-10-23 18:42] mattpodwysocki commented on #453
@blesh I'm also with @staltz and @headinthebox on this one.  Changing the semantics now would be really confusing and not bring much benefit.

[2015-10-23 19:37] ziaukhan opened #592 "Type definition complains"
I am trying to transpile the following helloworld.ts file:

import Rx = require("@reactivex/rxjs");
Rx.Observable.of('Hello World!').subscribe(function(value) {
	console.log(value);
});

I have TypeScript 1.6.2 installed and have installed:
npm install @reactivex/rxjs

I am receiving the following errors, am I doing something wrong or this is a bug:

tsc -module commonjs helloworld
node_modules/@r

[2015-10-23 19:40] kwonoj commented on #592
You're missing type definition declaration for promise.

///<reference path="...../fileforpromise definition.d.ts" />

either you can manually pick those definition, or could lookup [definitelytyped](http://definitelytyped.org/).

[2015-10-23 20:06] kwonoj commented on #592
In my case, I use [`es6-promise`](https://github.com/borisyankov/DefinitelyTyped/blob/master/es6-promise/es6-promise.d.ts) for testing codes.

[2015-10-23 20:19] trxcllnt commented on #590
@staltz if I'm reading it correctly, the top one looks correct. `zipAll` doesn't subscribe to any inner Observables until the source has completed, and it doesn't complete until all the inner Observables have completed. Isn't that what the top test is indicating?

[2015-10-23 21:19] ziaukhan commented on #592
After adding the es6-promise it is still giving the following errors:

node_modules/@reactivex/rxjs/dist/cjs/CoreOperators.d.ts(73,31): error TS2304: Cannot find name 'PromiseConstructor'.
node_modules/@reactivex/rxjs/dist/cjs/Observable.d.ts(63,53): error TS2304: Cannot find name 'PromiseConstructor'.
node_modules/@reactivex/rxjs/dist/cjs/Observable.d.ts(149,30): error TS2304: Cannot find name 'P

[2015-10-23 21:26] ziaukhan commented on #592
Installed and this works:
tsd init
tsd install es6-shim  --save

And adding this in the helloworld.ts:
///<reference path="typings/tsd.d.ts" />

Thanks

[2015-10-23 21:26] kwonoj commented on #592
Think this can be closed?

[2015-10-23 21:33] ziaukhan commented on #592
Yes thanks, however I think this is a bug because es6-shim is already included here:

https://github.com/ReactiveX/RxJS/blob/master/tsd.json

Adding it ourselves should not be required.

[2015-10-23 21:55] ziaukhan opened #593 "Usage in Browser"
Instructions for usage in browser are not provided, while usage instructions for Node.js are provided?

[2015-10-24 00:18] sumigoma opened #594 "forkJoin operator doesn't accept an array of observables"
ForkJoin doesn't seem to maintain the behavior from Rx4 of supporting both .forkJoin(a,b,c) and .forkJoin([a,b,c]). If you try to do the latter (an array of observables) it gives the exception
[code]

[2015-10-24 00:19] robwormald commented on #593
`npm install @reactivex/rxjs` would be the preferred method (as mentioned) but it also gives you a ./dist folder with a few others (including a global build you can simply include in the browser).

Would be helpful to have in the readme I suppose.

[2015-10-24 00:38] endash commented on #594
I'm just gonna comment here because my issue is virtually identical. This is also an issue with `combineLatest`. In Rx4 you could pass an array of observables followed by a projection function. In Rx5 you can only use the arguments list. It is very common to have an array of observables rather than a set number of variables of type Observable.

[2015-10-24 01:26] kwonoj commented on #592
Meaning packaging type definition (d.ts) into npm package by default?

[2015-10-24 08:29] trxcllnt commented on #591
@robwormald I should have the new RAF Scheduler finished this weekend. Since everything's modular now, I'm fine committing it to the main project and importing it as necessary.

[2015-10-24 08:57] staltz commented on #590
Ah, it all makes sense now after sleeping over it.

[2015-10-24 08:57] #590 closed

[2015-10-24 10:13] robwormald commented on #591
Awesome, thanks.

[2015-10-24 10:13] #591 closed

[2015-10-26 08:56] staltz commented on #453
For example this test fails:
[code]

[2015-10-26 10:32] baio commented on #593
I've tried for browser and it's not working

[code]

[2015-10-26 11:43] Frikki commented on #593
@baio Don’t you need to prefix with `Rx`? Like `Rx.Observable.of("test")`?

[2015-10-26 11:52] baio commented on #593
@Frikki Thanks, working!

[2015-10-26 20:27] staltz commented on #540
Can be closed.

[2015-10-26 20:27] #540 closed

[2015-10-26 20:51] #558 closed

[2015-10-26 20:59] #554 closed

[2015-10-26 22:09] #581 closed

[2015-10-26 22:53] #582 closed

[2015-10-27 04:54] #593 closed

[2015-10-27 05:19] blesh commented on #592
@robwormald have you run into this?

[2015-10-27 05:26] blesh commented on #590
:)

[2015-10-27 05:28] robwormald commented on #592
yep, but we include es6-shim in the angular repo (temporarily) so this error doesn't surface for us.

I'll have a proper look tomorrow, we're doing a bit of hackery to make this work correctly.

[2015-10-27 05:37] robwormald commented on #592
also note that TS includes the types that are erroring in https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts#L5095

So, if you're targeting ES5/CJS, you can simply add that file to your tsconfig:

[code]

and run `tsc` at the prompt. no errors, no silly `///` refs.

[2015-10-27 17:12] kwonoj opened #607 "Expand test coverage for base / utility implementations?"
Now test coverage reflects actual source code's test coverage shows most of operator implementation is being covered. Most of 'missing' coverage comes from underlying base, or utility function implementations such as `src\util\*` - Is it recommended to create test cases over it? It'll be pretty much basic test cases for functionality though.

[2015-10-27 17:16] staltz commented on #607
I'd say yes. That's just unit tests.

[2015-10-27 17:18] kwonoj commented on #607
Personally I thought so too, reason to create issue to get some agreement :)

[2015-10-27 17:45] blesh commented on #93
@jeffbcross do you have anything you're doing on the angular team to do perf tests against previous versions of angular in a semi-contained environment? Can you use Travis for that?

[2015-10-27 17:46] #389 closed

[2015-10-27 19:43] blesh commented on #607
I agree 100%. I was thinking about just this. The Scheduling types are also woefully under-tested last I looked as well.

[2015-10-27 19:59] kwonoj opened #608 "Update type declarations in codebase"
Such as PR https://github.com/ReactiveX/RxJS/pull/585, https://github.com/ReactiveX/RxJS/pull/597, some of type declaration signature in codebase need to be checked & revised if required.

[2015-10-28 10:55] jesperronn commented on #572
@kwonoj I see no problem either. Only a warning when running NPM 3

during npm install (for project with rxjs dependency):
[code]

Since we both know that it works with npm 3, then let's remove the warning. I can create a pull-request?

[2015-10-28 22:44] Frikki commented on #453
Is there any particular reason why this issue hasn’t been labeled *discussion*? Is it not up for discussion? Have the final words been said and the decision is final?

[2015-10-29 00:36] blesh commented on #453
Sorry... I didn't label it. :\ heh

FWIW: I'm also one of those people that made the decision, from discussion with several others *really* early on in the development of this library who include @headinthebox, @abersnaze, @stealthcoder and @mattpodwysocki... There were changes made around multicast to help prevent certain antipatterns (like reusing the same Subject in two multicast calls) as well

[2015-10-29 09:32] Frikki commented on #453
@blesh Thanks for the info.

[2015-10-29 11:09] Frikki commented on #453
@blesh And how do you see the issue now, given @staltz’s comments above (alongside @headinthebox’s  and @mattpodwysocki’s)?

[2015-10-29 18:28] blesh commented on #453
My stance is unchanged. The behavior of having shared (aka published, refCounted) observables be unusable once they've errored or completed solely exists in RxJS, afaik.

- It breaks `repeat` on the shared observable and _all derived observables_.
- It breaks `retry` and `retryWhen` and _all derived observables_.
- It's strange and hard to figure out for beginners to RxJS.

Imagine some error-pron

[2015-10-29 18:35] blesh commented on #453
Now, I understand the concern about `shareReplay` and `shareBehavior` changing. Just not `share`.

I think it's worth investigating what the most ergonomic behavior is for these operators.

I'd also like to add that it's _my opinion_ that depending on the behavior I displayed above is a kin to depending on a bug in a framework.

I'm happy to change my mind on the issue, of course, if I can be show

[2015-10-29 18:42] trxcllnt commented on #453
@staltz why don't you use multicast with a singleton ReplaySubject? That's the old behavior, right?

[2015-10-29 20:37] staltz commented on #453
@blesh I don't contest the need for reusable shared Observables.

I **don't** think it's desirable to be unable to retry a shared observable. I **don't** think it's desirable to have shared observables become unusable after completion.

Having that settled, can we focus the discussion on this? "**What should happen after the underlying subject completes and before it's reconnected?**"

As I previo

[2015-10-29 20:41] blesh commented on #453
@staltz Just so I understand, you're suggesting that we allow `Subject` to `next` values *after* completion? (Because that's what subclassing `Subscriber` disallows).

I think that Subjects are *supposed* to be single use. Once they're done, you can't push new values through them. I believe this is true for all strains of Rx.

[2015-10-29 20:42] staltz commented on #453
ReplaySubjects do that _by design_.

[2015-10-29 20:45] staltz commented on #453
But also what's very important is: a subscribe to a ConnectableObservable using BehaviorSubject once that BehaviorSubject has _completed_ should not trigger the recreation of a new BehaviorSubject unless I explicitly say `connect()` a second time (or that it's done for me automatically in `connectWhen()`/`trxcllntControl()`).

[2015-10-29 20:46] blesh commented on #453
[ReplaySubjects will only replay the previous values after completion or error](http://jsbin.com/qeweladoja/1/edit?html,js,output), they won't allow you to `next` new values through.

[2015-10-29 20:51] blesh commented on #453
Let's identify a few things, because I _think_ the position is that both RxJS 4 and RxJS 5 have this wrong in some ways.

1. What is the *desired behavior* of `shareBehavior` on resubscription after completion or error?
  a. what about on `retry` or `replay`?
2. What is the *desired behavior* of `shareReplay` on resubscription after completion or error?
  a. what about on `retry` or `replay`?

[2015-10-30 09:53] staltz commented on #453
Yes, that's what I meant. As an Observable, ReplaySubject can **next** values to its subscribers even after it completes. But as an Observer, ReplaySubject will do nothing when **next** is given to it.

So to clarify this:

No, I'm not suggesting that. I was just suggesting that we make Subject an Observer and not a Subscriber. If we need to disallow new **next** values to the Subject as an Observ

[2015-10-30 11:55] staltz opened #628 "windowWhen tests and fixes"
Just to inform so that no one else does the same task. I'm writing tests for windowWhen (we were missing this one). Also found some unsubscription-related bugs, which I'll fix too.

[2015-10-30 16:23] mattpodwysocki commented on #453
@blesh I agree here with @staltz that this is indeed a deal breaker. You cannot radically change the semantics of how we turn the cold observables hot and hot to cold. It will create wildly different behavior especially for apps that are already using it, especially in OneDrive, Delve, and others at Microsoft, and I refuse to let them be broken. I would recommend to them that they continue using R

[2015-10-30 17:23] kwonoj opened #633 "Code coverage remapping intermittently fails"
[code]

states remapped coverage is not generated somehow. It is intermittent and does not blocks PR, but problematic since coverage is not reported for certain commits.

[2015-10-30 17:40] kwonoj commented on #633
Starting from `remap-istanbul` module, checking if it's possible to get verbose output from it. (https://github.com/SitePen/remap-istanbul/issues/13)

[2015-10-31 07:32] robwormald opened #635 "Generic Typedef Issues with Operators"
Will investigate this further tomorrow, but:

Imagine I have an Observable of Foos:
[code]
If I .subscribe, I get (as expected) the generic passed through appropriately:
[code]

however, if I use .map()
[code]
I would expect the parameter passed into an operator (in this case, the project function) to maintain the cast type, no? Obviously the return from a map function is different, but looks like

[2015-10-31 07:35] robwormald commented on #635
Interestingly, the *return* from .map() is cast appropriately:

[code]

[2015-10-31 07:52] kwonoj commented on #635
I agree, I think this is somewhat unexpected.
This seems happening due to source's type constraint is not being passed to operator declared via prototype. So in this case, `o` is `Observable<foo>` as expected, but `o.map` becomes `o.map<{}, any>`.

If explicitly specify type constraint per operator like `o.map<foo, string>` then projection function won't complain, but this is obviously something w

[2015-10-31 07:52] kwonoj commented on #635
I'm considering this is related with https://github.com/ReactiveX/RxJS/issues/608.

[2015-10-31 07:58] robwormald commented on #635
cheers OJ, thanks for checking on it.

[2015-10-31 09:04] kwonoj commented on #635
no luck with some immediate tryout, I'll try few more and update further.

[2015-11-01 03:17] kwonoj commented on #635
Think I can prepare PR for this issue around today - tomorrow. I came to feel better modularity strategy will resolve this much more clean way, but that's further story. Will work on this scope as immediate issue.

[2015-11-01 16:14] headinthebox commented on #453
@blesh The right thing to do is be backwards compatible. Really, the only degree of freedom you have with a mature library like RxJs is to increase perf. Everything else is out of scope. Let's not waste our time on this and leave the semantics as is.

[2015-11-03 08:11] kwonoj opened #642 "Type definition for extended operator is not published"
Code snippet below works in JS,

[code]

when it comes to TS

[code]

compiler will complain due to `Observable.of` does not returns extended type of operator instead of core.
`error TS2339: Property 'isEmpty' does not exist on type 'Observable<number>'.`

[2015-11-03 08:14] kwonoj commented on #642
This issue is related with modularity strategies. Tried some approaches ends up with vain, exploring few other approaches including mixins.

[2015-11-03 11:57] staltz commented on #453
@trxcllnt just showed me a solution:

This is what shareReplay can be equivalent to:
[code]

It works. @blesh would you still have proper APIs for achieving the behavior you want? At least using multicast directly you can get the recycling.

[2015-11-03 13:58] trxcllnt commented on #453
@headinthebox @mattpodwysocki from what I understand, the new behavior is consistent with RxJava (and C#?). The behavior that multicast doesn't re-create its Subject upon re-connection has been a wart in JS for a while (it's certainly affected me at times).

[2015-11-03 20:31] mattpodwysocki commented on #453
@trxcllnt nope, .NET has the same semantics as the JavaScript version and always has.

@staltz I'm confused, where does the `this` come from here?  Is it internal to the `multicast` function to have a member called `replaySubject`? If so, wouldn't that be an issue if someone was using a fat arrow or a custom bound function there?

[2015-11-03 20:55] blesh commented on #453
This is a major version increase and a complete rewrite. Backwards compatability was gone with the move from `dispose` to `unsubscribe` and `onNext` to `next`. Those are MUCH bigger deviations.

This library is being introduced to the masses with Angular 2. Any operator that results in hard to figure out behaviors like observables that can't be retried is plainly broken.

So... even in the face of

[2015-11-03 20:59] blesh commented on #453
Yes... and so do you... this was sort of what @trxcllnt  and I were saying above. (besides my objections to changing the behavior back to RxJS4)

What I would *like* is if we leave `share` as it currently is, and we talk about how we'd like `shareReplay` and `shareBehavior` to work. I think they could change just slightly to allow retrying *and* replaying of previous values with limited impact. Is

[2015-11-03 21:55] staltz commented on #453
We don't need to use `this`, we can use closure and IIFE:

[code]

Yep, that's what this issue was in the first place. What happens after completion of the source is irrelevant to `share`, but relevant to `shareReplay` and `shareBehavior`.

**reusable shareReplayed** is a feature incompatible with **shareReplay that behaves like ReplaySubject after the source completes** like I explained some mess

[2015-11-03 22:28] blesh commented on #453
I agree. I've always agreed with that. However, I refuse to change `share` back, because I find it equally broken.

I don't think so. But I don't want to keep them like they are either.

What I propose is that we change them to retain the state of the subject on resubscription but not necessarily to break retrying and repeating:

repeating a shareReplay:
[code]

I think relying a behavior essentia

[2015-11-03 22:33] blesh commented on #453
It's my opinion that it doesn't meet the desired requirement. It's my opinion that it's broken. It's your opinion that it was perfect the way it was, I suppose. I'm cool with that. One man's bug is another man's feature.

What I have yet to see is a compelling reason the feature exists the way it does today. That's what I'm waiting for. I have compelling reasons why we *shouldn't* change RxJS 5's

[2015-11-03 22:38] blesh opened #644 "Proposal: `singleUse` operator on ConnectableObservable"
This is related to #453 ... the idea is to provide an operator for backward compatibility.

[code]

This way people can "opt-in" to the RxJS 4 behavior around `share`, `shareReplay` and `shareBehavior`. Even better, the behavior is explicit. There's no question as to why the observable can't be replayed or retried.

cc/ @staltz @trxcllnt

[2015-11-03 23:07] mazhlekov commented on #541
+1 for TypeScript. Definitely "Dynamic typing is really not a sane idea for large codebases, a lot of smart developers advocate types for large projects" its true. Entry barrier may be a bit higher but the code is much more self explainatory. I believe many people go straight into the source code when they are learning the library, for me it works way faster than reading the docs. Also developrs c

[2015-11-03 23:10] staltz commented on #644
How about `recycleable()`. Opt-out instead of opt-in.

[2015-11-03 23:11] staltz commented on #453
**Matching semantics of their respective Subjects.** I think I said that already. It's a compelling reason because multicast is essentially "run the cold observable on that subject", and you expect it to behave like that subject. After a multicast, the result should behave just like a Subject. That's the whole point of multicast.

[code]

`Repeat` is essentially "resubscribe when it completes", so

[2015-11-03 23:41] blesh commented on #642
cc/ @robwormald

[2015-11-03 23:41] blesh commented on #642
cc/ @jeffbcross

[2015-11-03 23:43] blesh commented on #644
I'm not a fan of leaving the behavior the way it is in RxJS 4... It was an apparent oversight from a long time ago, and other than "backwards compatibility", which isn't a compelling argument for this particular library, I haven't seen any major reasons it should stay the way it was.

[2015-11-03 23:44] blesh commented on #644
I think you should have to opt-in to any behavior that breaks `retry` and `repeat` for Observable.

[2015-11-03 23:44] #541 closed

[2015-11-03 23:45] blesh commented on #541
I'm fine with staying with TypeScript for now.

[2015-11-04 00:23] kwonoj commented on #642
Created PR https://github.com/ReactiveX/RxJS/pull/643 for initial proposal based on mixin, and possibly including ambient declaration merging if it's necessarily required.

[2015-11-04 00:33] blesh commented on #453
Observables are not Subjects. I don't see this as a compelling reason.

What I want to see is a _use case_ where this semantic is important enough to forsake every hapless developer that runs into issues because of it.

I'm not at all okay with the old behavior. It's weird, there has been no reason for it presented other than "that's how it is".

And once again, on the "backwards compatibility" ar

[2015-11-04 06:49] robwormald commented on #642
Nice work OJ! I'll try this out later today but at first glance it looks
like it'll solve a bunch of issues for us.

On Wednesday, November 4, 2015, OJ Kwon <notifications@github.com> wrote:

[2015-11-04 08:17] staltz commented on #453
Ok, so it's going to be a community fork.

[2015-11-04 09:24] Frikki commented on #453
Sadly, a community fork seems to be the case. :( To label the behavior a corner-case is no different than labeling _RxJS 5_ a corner case. Good luck!

[2015-11-04 13:15] donaldpipowitch commented on #453
:(

[2015-11-04 14:28] jinroh opened #645 "SwitchFirst operator"
Is anyone working on the implementation of `SwitchFirst` right now ? If not I'd be happy to ! (I *really* need it in one of my project)

Some bikeshed I'd like to discuss before starting implementation:

- what about the name of the operator, since we dropped `switchLatest` in favor of `switchMap` (I don't think [the comment](https://github.com/ReactiveX/RxJS/issues/167#issuecomment-131260858) fro

[2015-11-04 15:59] jhusain commented on #453
Seems like this issue shouldn't cause a fork. We can leave the existing multicast operator backward-compatible. In my experience the most common indirect use of multi cast is in the following scenarios:

* share side effects to avoid concurrent identical network requests

* same as the previous scenario except once the data has been retrieved it is forever cached in the Observable

As long as ther

[2015-11-04 16:07] trxcllnt commented on #453
To be clear: the new behavior isn't correct because @blesh says so, it's correct because it's referentially transparent. Connecting a ConnectableObservable should behave the same way every time, regardless of whether you've connected it before or not.

We also have the option to change `multicast` to a polymorphic function signature: pass it a function, and it'll re-create the inner Subject on eve

[2015-11-04 16:11] trxcllnt commented on #644
@blesh why not `shareOnce`, `shareReplayOnce` etc.? I'm primarily concerned that `singleUse` would require us to return something other than an Observable or ConnectableObservable

[2015-11-04 16:17] benjchristensen commented on #453
This is a good middle-ground and the type of thing we've done in RxJava.

[2015-11-04 16:20] mattpodwysocki commented on #453
@trxcllnt no, that's not the way it was designed nor intended to be designed, unless you happened to be in the original design meetings.  It's YOUR opinion as to whether it was right or wrong.

[2015-11-04 16:22] mattpodwysocki commented on #644
I'm with @staltz here that it should be opt-out instead of opt-in.  After all, RxJS v4.1 will already have shims in place for unsubscribe being an alias for dispose, etc

[2015-11-04 16:51] trxcllnt commented on #453
@mattpodwysocki that's exactly my point: it's not "correct" because someone decided so. It's correct because it's functionally pure, and the behavior is consistent with the rest of the library.

The Observable referential transparency is beautiful, allowing them to be retried, etc. In the original design, ConnectableObservables aren't referentially transparent; it behaves differently whether you c

[2015-11-04 17:46] blesh commented on #453
OMG drama. Stop. This issue is **open** for _discussion_ and _compromise_.

### Okay, so here's a proposed compromise:

1. change `publish`, `publishBehavior` and `publishReplay` to match RxJS 4 semantics.
2. `multicast` can be polymorphic and allow for all behaviors.
3. Have `share` maintain the RxJS 5 (Next) semantics.
4. Remove `shareBehavior` and `shareReplay` to prevent user confusion.

[2015-11-04 17:56] trxcllnt commented on #453
@benlesh what if `share` took the subjectFactory and/or Subject arg just like multicast, effectively meaning "multicast with this, then refCount."

[2015-11-04 17:57] blesh commented on #644
I actually like the other proposal here better:

https://github.com/ReactiveX/RxJS/issues/453#issuecomment-153806139

I'm closing this one for now, to see how that proposal goes over.

[2015-11-04 17:57] #644 closed

[2015-11-04 18:34] blesh commented on #453
I'd prefer that `share()` was a simple call. I view it as the operator for "the masses" to use to get what they would expect out of a multicast observable (retry-able, repeatable, etc)

[2015-11-04 18:55] TylorS commented on #453
I'm no expert of the inner workings of Rx, but in my attempts to update a library from Rx 4.0.6 to Rx 5.0.0-alpha.6 I was unable to recreate the behavior that I came to expect regarding `replay()` and `connect()`. Again, I know I'm no expert. I know for sure that, as simply a consumer of the great work you are all creating (seriously thank you!), I would have never come up with "solution" proposed

[2015-11-04 20:43] blesh commented on #453
@TylorS ... my [proposal](https://github.com/ReactiveX/RxJS/issues/453#issuecomment-153806139) above would bring back that behavior.

Out of curiousity, what _exact_ behavior are you relying on, and why are you relying on it?

[2015-11-04 20:52] mlaval opened #647 "IE9/IE10 - Observable's static methods are not defined on Subject"
It happens because IE9 and IE10 do not support [Object.setPrototypeOf](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Object/setPrototypeOf) which is used by Babel for [class inheritance](https://github.com/babel/babel/blob/8ab4a5df433accf65a127dfe357dae8ffd6f498b/packages/babel/src/transformation/templates/helper-inherits.js#L13). It seems to be a known limitation:

[2015-11-04 21:06] blesh commented on #645
I don't think anyone is working on it. I think you're right, though, the name needs work. `switchFirst` doesn't really describe what it's doing. I'm not sure what would though.

It subscribes to the first Observable it gets until it completes, dropping all others, then subscribes to the next one. It's almost a weird specialization of `sample` and `merge`. I've honestly never used it.

For now it c

[2015-11-04 21:08] blesh commented on #645
... also for now, let's skip the concurrency parameter until that can be discussed further. I'm not against it, I just haven't thought about it.

[2015-11-04 21:09] blesh commented on #647
@mlaval ... thanks for pointing this out.

[2015-11-04 21:09] blesh commented on #647
cc/ @robwormald @jeffbcross

[2015-11-04 21:10] #572 closed

[2015-11-04 21:11] blesh commented on #549
@luisgabriel yes we should... closing this issue though because it's done. I'll open another.

[2015-11-04 21:11] #549 closed

[2015-11-04 21:12] blesh opened #648 "Support absolute time on `Observable.timer`"
Just what it says. We should be supporting absolute time on Observable.timer in a similar fashion to RxJS 4.

[2015-11-04 21:13] luisgabriel commented on #648
I can work on this one.

[2015-11-04 21:16] kwonoj commented on #648
I just couple of minutes late than @luisgabriel to work on this ;)

[2015-11-04 21:28] luisgabriel commented on #648
@kwonoj feel free to take this one then. I'm not sure how soon I'll be able to work on it. ;)

[2015-11-04 21:41] kwonoj commented on #648
@luisgabriel no, it's completely ok. :)

[2015-11-04 21:43] blesh commented on #648
Do you two need a tie breaker? Because I'll just do what I do with my kids and say @luisgabriel was "here first."

[2015-11-04 21:45] Nemikolh opened #649 "How is `throttle` supposed to be used?"
Hello everyone!
I'm having a hard time to understand the logic behind the `throttle` operator. I assume I'm missing something.

With the 5.0.0-alpha.7 version of the library when I do:
[code]

The only result I get is:
[code]

While I was expecting something like
[code]

I run that code by simply doing:
[code]
Is it a bug or is it because the default scheduler need some triggering from my part ?
B

[2015-11-04 21:55] blesh commented on #649
@Nemikolh ... you're conflating `throttle` and `debounce` ... this is something I'm guilty of too #480.

Throttle lets the call through, and drops all calls for N seconds before allowing another call to get through.

Debounce will wait until an N second gap in calls, then allow the last call through.

[2015-11-04 21:58] blesh opened #650 "Figure out why the TypeScript build is so sloooooooowwww..."
I'm not sure when or why it happened, but it seems like the ES6 build in particular got much, much slower over the last few weeks to the point where it's getting a little silly.

@jeffbcross @IgorMinar @robwormald ... have you run into this with Angular?

[2015-11-04 22:03] Nemikolh commented on #649
But if I understand you correctly, then If I wait long enough on my example I should see another `foobar` right ?
In my example, you see `foobar` only once even if you wait for 5minutes.
Ideas?

[2015-11-04 22:05] Nemikolh commented on #649
Note: If I remove the call to `throttle`, I do see all `foobar` being printed in my console.

[2015-11-04 22:09] kwonoj opened #651 "Repeat operator cannot repeat indefinitely"
Code snippet
` Rx.Observable.of(42).repeat(-1).subscribe(console.log);`

eventually will stop unexpectedly based on runtime due to maximum call stack exceeded. This is happening due to current resubscription occurs recursively. In previous implementation I used [scheduler](https://github.com/ReactiveX/RxJS/pull/562/files#diff-0864900d001ae5c1b7070f19e5e13a2eL28) to disconnect recursive chain at th

[2015-11-04 22:11] kwonoj commented on #608
`repeat` also need to be updated, does not have default value for parameter.

![image](https://cloud.githubusercontent.com/assets/1210596/10953635/ea3bc228-82fd-11e5-8418-119170200f8b.png)

[2015-11-04 22:15] kwonoj commented on #651
As discussed in https://github.com/ReactiveX/RxJS/pull/547, I think this is bit extreme cases though.

[2015-11-04 22:25] kwonoj commented on #650
Just did quick analysis, seems typescript nightly was root cause..

[code]

[code]

I think we can go back to release version of typescript until if it's really necessary to use ambient declaration merging, which was reason to bump up to nightly. What do you think?

[2015-11-04 22:31] blesh commented on #649
No, `throttleTime(2000)` will drop the `foobar` that emits at `1000`.

Throttle takes one, then drops all until the timer (of 2000) is up, then takes one and starts the timer again, dropping everything.

[2015-11-04 22:33] blesh commented on #651
this is true for `retry` and `repeat`... when you're applying those to completely synchronous observables, you're going to get that because the default scheduler is recursive. The only other thing we could do would be to force the resubscription to happen on the trampoline scheduler in these operators. I think I discussed this with @trxcllnt and he convinced me we didn't want to do that.

Perhaps

[2015-11-04 22:54] blesh commented on #650
We can leave it for now and report the issue to the TypeScript folks.. Thanks @kwonoj

[2015-11-04 23:01] Nemikolh commented on #649
Sorry, I'm not sure to follow you. Here my concern is really not about "when", it is about "what".

Please have a look at my example again to consider the following:

In the console after an *"infinite"* time you would see the same thing whether you run this:
[code]
or this:
[code]

The fact that `throttle(x)` drop all subsequent `subscriber.next` calls make it really look like a `delay(x).take(1)

[2015-11-04 23:13] Nemikolh commented on #649
**Note:** Maybe my example this wasn't super clear, but in my example the `emit` function re-schedule itself through `setTimeout`. So it will call endlessly `subscriber.next("foobar");`

[2015-11-04 23:15] vladima commented on #650
out of curiosity what version of node do you use?

[2015-11-04 23:24] kwonoj commented on #650
travis runs 0.12.7, and my system (which output those diagnostics results) also same.

[2015-11-04 23:26] vladima commented on #650
we have noticed that node 0.12 has a serious performance issues with typescript compiler. Can you try to upgrade to node 4 and see if problem still exists>

[2015-11-04 23:27] kwonoj commented on #650
I'll try kick off travis with v4 quickly.

[2015-11-04 23:29] vladima commented on #650
I've tried to repro the issue locally
[code]
[code]

[2015-11-04 23:47] vladima commented on #650
and it it definitely depends on the version of node
[code]

[2015-11-04 23:59] kwonoj commented on #650
Thanks for triage. Yes it seems node v4 resolves

[code]

on [travis](https://travis-ci.org/kwonoj/RxJS/builds/89344370) also.

I'll prepare PR to bump up travis configuration at least resolves CI turnaround time.

[2015-11-05 00:01] vladima commented on #650
cool, good to know that

[2015-11-05 00:09] staltz commented on #453
Correct, let's do that and sorry about the community fork comment.

[2015-11-05 00:28] blesh commented on #496
This should end up mirroring what was done for `debounce` and `debounceTime`

Also the tests are weak around this operator.

[2015-11-05 00:33] blesh commented on #649
@Nemikolh it looks like #496 we still have some work to do around `throttle`.

In the end though the behavior should look like this:

[code]

... if that makes sense.

[2015-11-05 00:33] blesh commented on #649
Is it okay to close this issue, since it's just a question? Or would you rather I keep it open for a while to see if someone else chimes in?

[2015-11-05 00:37] blesh commented on #651
As of right now, I'm inclined to say this isn't an issue. If someone really wants to repeat a completely synchronous observable indefinitely, they should really use a `subscribeOn` directly before the repeat call.

What do you think @kwonoj? Is that answer satisfactory?

[2015-11-05 01:01] kwonoj commented on #651
I agree. As already commented, I believe this is extreme cases that usually would not attempted to be used. Issue was created to confirm behavior to check difference between RxJS4.

[2015-11-05 01:01] kwonoj commented on #651
Maybe closing issue for now?

[2015-11-05 01:09] mattpodwysocki commented on #651
@kwonoj @blesh no, it's a bug, keep it open.  It's not an extreme case at all, there's a bug with their scheduler as RxJS v4 does not have this issue

[2015-11-05 01:15] #453 closed

[2015-11-05 01:17] blesh commented on #453
Correct, let's do that and sorry about the community fork comment.

It's all good... and to show it's all good, I made this emoji kiss poop:

😘💩

The agreed upon changes are merged and happy. We still need more tests around these operators though.

[2015-11-05 01:19] blesh commented on #650
... but... I'm scared to upgrade 😰

I guess I'll have to jump in.

[2015-11-05 01:21] kwonoj commented on #650
@blesh I was tried node v4 quite before when it first released, and encountered some issues with module requires native compilation. Just beware what's coming after upgrade...

[2015-11-05 01:23] blesh commented on #650
@kwonoj ... so like node-sass I guess?

[2015-11-05 01:24] kwonoj commented on #650
@blesh you can see it's happening it live on travis with pr https://github.com/ReactiveX/RxJS/pull/653, in this case `selenium-webdriver`.

[2015-11-05 01:24] blesh commented on #651
@mattpodwysocki okay.

[2015-11-05 01:25] blesh commented on #650
@kwonoj ... I see. Thanks for the heads up. I thought you were talking about other projects.

[2015-11-05 01:26] blesh opened #654 "comprehensive tests for publish"

[2015-11-05 01:26] blesh opened #655 "Comprehensive tests for publishBehavior"

[2015-11-05 01:27] blesh opened #656 "comprehensive tests for publishReplay"

[2015-11-05 01:27] kwonoj commented on #650
I think any other project having native build (which properly did not resolves or upgrades to support v4) will have similar cases. PR shows one good example on that.

[2015-11-05 01:27] blesh opened #657 "comprehensive tests for multicast"

[2015-11-05 01:27] blesh opened #658 "comprehensive tests for share"

[2015-11-05 01:28] blesh commented on #507
@kwonoj I don't recall.. did this get done?

[2015-11-05 01:28] blesh commented on #309
I think we've accomplished this for the most part.

[2015-11-05 01:28] #309 closed

[2015-11-05 01:29] blesh commented on #262
I'm closing this one for now, because I'm no longer convinced it's worthwhile, perhaps we'll revisit this after beta.

[2015-11-05 01:29] #262 closed

[2015-11-05 01:29] kwonoj commented on #507
It's WIP in my stash, but haven't completed yet while creating other PRs. I'll complete and create PR.

[2015-11-05 01:30] blesh commented on #298
I think for now, this has been addressed.

[2015-11-05 01:30] #298 closed

[2015-11-05 01:31] mattpodwysocki commented on #453
Much better answer, thank you!

[2015-11-05 01:33] kwonoj commented on #651
Do we consider this issue to be handled as Scheduler side behavior? (maybe changing subj.?)

[2015-11-05 02:03] headinthebox commented on #453
Like!

[2015-11-05 03:16] IgorMinar commented on #650
@blesh I upgrade angular/angular to node v4 primarily to deal with v0.12.x performance regressions affecting typescript. I suggest you do the same.

[2015-11-05 03:31] blesh commented on #651
It's a result of default recursive scheduling on synchronous observable types. Where RxJS 4 used trampoline scheduling by default, we're using recursive scheduling for performance reasons. The side effect to this is that if you retry or repeat more than 255 times, you blow the stack.

Perhaps we could implement some sort of progressive scheduling in these scenarios. But I'm just spitballing... I'd

[2015-11-05 03:33] blesh commented on #507
No hurry. Just checking

[2015-11-05 04:35] rolandjitsu opened #659 "extending the Observable makes the TS compiler complain"
If I try to extend the `Observable` class:
[code]
I get `error TS2507: Type 'typeof "/Users/rolandjitsu/Projects/ng2-lab/node_modules/@reactivex/rxjs/dist/cjs/Observable"' is not a constructor function type.` in the TS compiler output.

[2015-11-05 05:19] kwonoj commented on #659
I gave it a try stub code like below

[code]

which compiles and emits value - would you give a try above stub does works?

[2015-11-05 06:16] rolandjitsu commented on #659
@kwonoj that seems to do the trick, do you know why is this happening though if I import the `Observable` directly?

[2015-11-05 06:17] kwonoj commented on #659
@rolandjitsu Would you able to share whole code snippet tried originally (including imports)

[2015-11-05 06:18] rolandjitsu commented on #659
Of course:
[code]

[2015-11-05 06:21] kwonoj commented on #659
OK, it wasn't work cause `Observable` exports it as default.

try this:

[code]

[2015-11-05 06:25] trxcllnt commented on #651
There is not a "bug with the scheduler," there is no scheduler (just like in the rest of the library).

@blesh is right, if you want to indefinitely repeat a synchronous Observable, you should use `subscribeOn`. Perhaps `repeat` or `retry` can detect "infinite" repeats, and use `subscribeOn` internally.

The real bug would be to shift a sequence onto a Scheduler the developer didn't choose just be

[2015-11-05 06:29] rolandjitsu commented on #659
At this point I am using the bundled Rx with Angular 2, so that wouldn't work. After they move to removing Rx from their bundles I will be able to do that.

[2015-11-05 06:29] #659 closed

[2015-11-05 06:37] donaldpipowitch commented on #453
Thanks!

[2015-11-05 07:23] roganov commented on #651
Not exactly related to this issue, but would there be a way to make a cold observable 'lazy'?
For example, in RxJS4 the following code would freeze the browser:
[code]
I can switch to `default` scheduler, but then it would take enormous CPU resources.
[code]
I'm sorry in case it's a wrong place to ask.

[2015-11-05 08:16] Nemikolh commented on #649
@blesh That make sense a lot! Thanks! :smiley:

I'm okay with closing the issue. Eventually you can refer to this missing behavior in #496.

[2015-11-05 08:16] #649 closed

[2015-11-05 09:56] Frikki commented on #453
:+1:

[2015-11-05 10:21] staltz commented on #644
`shareOnce` / `shareReplayOnce` sounds great actually, but nevermind, issue solved anyway.

[2015-11-05 11:00] trxcllnt commented on #651
@roganov cold Observables *are* lazy, meaning they don't do anything until you call `subscribe`. Your example is equivalent to a for-loop with max safe int as the upper-bounds. If you're looking for an infinite pull-stream, you can find them in Interactive-Extensions.

[2015-11-05 11:07] mattpodwysocki commented on #651
@trxcllnt from my experience there should be no stack overflows with any sequence (of course non-shared) which would indicate a bug, hence my comment. That's why we trampoline to avoid such problems in RxJS v4

[2015-11-05 11:19] staltz commented on #656
I can do this.

[2015-11-05 11:19] staltz commented on #655
I can do this.

[2015-11-05 11:19] staltz commented on #654
I can do this.

[2015-11-05 11:20] staltz commented on #657
I can do this.

[2015-11-05 11:20] staltz commented on #658
I can do this.

[2015-11-05 14:28] HighOnDrive commented on #453
Great! Now we can write more articles, like this one: https://medium.com/@fkrautwald/plug-and-play-all-your-observable-streams-with-cycle-js-e543fc287872

[2015-11-05 15:01] cwmrowe commented on #419
I cannot install ```@reactivex/rxjs``` via [Artifactory](https://www.jfrog.com/open-source/) and I suspect it is because of the @ symbol but it could equally be the forward slash. NPM install also failed for ```@cycle/core```.

While this is probably a problem with Artifactory it might be better for the community to solve this problem here.

[2015-11-05 15:03] robwormald commented on #419
@cwmrowe generally that means you (or artifactory) is using an older version of NPM that doesn't support namespacing. Might want to see about upgrading.

[2015-11-05 15:15] cwmrowe commented on #419
@robwormald thanks for your help. Now I know its related to scoped packages I have discovered that Artifactory has an issue with the forward slash. The [fix is here](https://www.jfrog.com/confluence/display/RTF/Npm+Repositories#NpmRepositories-NpmScopePackages) for others that hit the same problem.

[2015-11-05 16:34] trxcllnt commented on #651
@mattpodwysocki yes, except we've built in the "recursive" scheduling strategy (RxJS 4's Immediate Scheduler) by defaulting to imperative loops in all Observable factories. Thus, if someone doesn't dispatch on a scheduler in their source Observable, they're implicitly buying in to the recursive strategy. This means the behavior of repeat will, by default, mimic RxJS v4 if you use the recursive sch

[2015-11-05 16:48] trxcllnt commented on #651
@mattpodwysocki essentially, a large part of the performance improvement is based in the decision to fall-back to loops instead of trampolining, and we didn't want to force a different scheduling strategy than the user requested.

[2015-11-05 17:32] blesh commented on #651
This _AND_, if someone writes an Observable that isn't doing anything async... Which is sort of a "why are you doing this?" scenario. I think it would be a really, really strange choice to use Observable for an entirely synchronous process that could error that you want to retry. And again, an entirely synchronous process that _repeats_ forever? Stack overflow or not, you're going to lock the thre

[2015-11-05 17:35] blesh commented on #659
cc/ @robwormald

[2015-11-05 17:40] robwormald commented on #659
next release of angular2 fixes a lot of the shenanigans regarding Rx, so going forward you'll be able to just
[code]
and that'll give you access. That said, (and I'm no expert) but extending Observable feels like a strange use case to me here. It's also my understanding that to properly subclass it, you need to override the `lift` method, as the first time you use an operator you'll get back the o

[2015-11-05 17:50] rolandjitsu commented on #659
Sounds great. I extend it because creating an instance should give me an observable object that changes over time. This seemed to be a good way to do it, but if you have other suggestions I would be happy to hear them :)

I think I've also read that somewhere in the source code comments of `Observable.ts`, but I wasn't sure what exactly I should be doing in the `lift` method.

[2015-11-05 17:58] robwormald commented on #659
Personally, I'd just have something like `authStatus` as a property of your service, and make that Observable. I dunno. @blesh?

[2015-11-05 19:04] blesh commented on #649
Not a problem, if you need anything else, please don't hesitate to drop another issue, or hit me up on twitter.

[2015-11-05 19:49] blesh commented on #659
I would agree. It's best to think of Observable as a primitive type like a function. If there is a lot of related logic, you probably don't need to subclass Observable. I'd reserve subclassing Observable for when you need to alter something about it, like add custom operators, or force a multicast behavior.

[2015-11-05 20:50] kwonoj opened #660 "Property stub based type definition does not support parameter default value"
Some of operators allows default value if it's not specified like below,

[code]

and `Observable` has property stub to create prototype in module like
`repeat: <T>(count: number) => Observable<T>`
default value for parameter is not allowed, end result causes typescript compiler complains without parameter.

[code]

related with https://github.com/ReactiveX/RxJS/issues/608, and https://github.com/

[2015-11-05 21:01] kwonoj opened #661 "Add test for type definition validation?"
There are some cases of type definition does not work as expected like reported issue https://github.com/ReactiveX/RxJS/issues/660, https://github.com/ReactiveX/RxJS/issues/642, https://github.com/ReactiveX/RxJS/issues/635, Came to feel it'd be helpful if there's compile-time type signature validation test is included CI.

It'll not be kind of unit test, simply write down basic signatures of opera

[2015-11-05 21:41] #635 closed

[2015-11-05 23:00] blesh commented on #419
@cwmrowe thanks for posting the fix for Artifactory for others that arrive here. If you use StackOverflow at all, it might be worth posting a community wiki question and answer there, as it might help people find the answer they're looking for faster.

As for this issue, I think I'm going to close it, as it's not really an "issue" with the library at this time.

[2015-11-05 23:00] #419 closed

[2015-11-05 23:01] blesh commented on #661
It sounds cool... @robwormald @jeffbcross what do you think about this? Do you guys do anything similar for Angular?

[2015-11-05 23:12] robwormald commented on #661
Yeah, I think this is a great idea. It's a little tricky to test, but the original issue that I posted cropped up by doing something similar:
[code]
should be just a matter of setting up TS to compile some basic usage code with some typed classes. Would be happy to contribute here if you can get the mechanics set up @kwonoj

[2015-11-05 23:13] robwormald commented on #661
In angular2, our tests are written in TS and so such issues get caught when the tests are being compiled.

[2015-11-05 23:38] kwonoj commented on #661
As @robwormald mentioned, main difference between ng2 is RxJS test cases are written in JS.

I'll try to spend some times to think about ergonomics setup for this and create PR for proposal.

[2015-11-05 23:56] mlaval commented on #647
If I'm correct, the only way is to manually copy the properties from `Observable` to `Subject`.
It could be done with some kind of util function. WDYT ?

[2015-11-06 00:16] robwormald commented on #647
Does Typescript handle it properly? Maybe we could convince @blesh to let us add a dist/ts-cjs distro if it handles it properly :sob: - that would at least remove the need to manually copy the typings from es6 => cjs like we do now.

[2015-11-06 00:40] blesh commented on #647
I'm starting to lean toward not using `export default` in any of our files, build everything solely with TSC. I think most CJS users on Node will import everything via `var Rx = require('@reactivex/rxjs')`, with little care about modularity, and we can come up with better distribution patterns to account for the operators.

[2015-11-06 00:42] robwormald commented on #647
Let me know if you decide to do this, i have 14 hours on an airplane on saturday and this is the perfect kind of brain numbing repetitive task that will keep me sane. :+1: from me for that.

[2015-11-06 00:43] blesh opened #663 "Move away from `export default` in all files?"
WHY:

- So we can build everything TSC to fix issues like #647
- Both TSC and Babel are no longer going to support setting `module.exports` directly for files with only an `export default`.
- CJS users on Node will most likely import Rx via `var Rx = require('@reactivex/rxjs');`, and not worry about modularity.
- Those worried about modularity probably won't care about importing like `var filter =

[2015-11-06 00:50] #650 closed

[2015-11-06 00:51] kwonoj commented on #663
I like this way personally, but it'd be great if could hear opinion from any CJS user does individual import. I always did import all as ` require('@reactivex/rxjs')`, bit hard to comment on those cases.

[2015-11-06 01:09] blesh commented on #663
@trxcllnt I'm sure will have an opinion on the CJS side of things.

[2015-11-06 01:23] kwonoj commented on #633
One additional log shows bit more detail

Error: Could not find file: "/home/travis/build/ReactiveX/RxJS/dist/cjs/util/ArgumentOutOfRangeError.js.map"
    at readJSON (/home/travis/build/ReactiveX/RxJS/node_modules/remap-istanbul/lib/remap.js:133:11)
    at /home/travis/build/ReactiveX/RxJS/node_modules/remap-istanbul/lib/remap.js:170:21
    at Array.forEach (native)
    at /home/travis/build/Reac

[2015-11-06 01:24] kwonoj commented on #633
Complete build log can be found at https://travis-ci.org/ReactiveX/RxJS/builds/89560829

[2015-11-06 01:28] kwonoj commented on #663
If this comes makes babel goes away, issue https://github.com/ReactiveX/RxJS/issues/633 can be automatically closed since do not require remapping anymore.

[2015-11-06 06:28] rolandjitsu commented on #659
@robwormald and @blesh thanks for the input. Makes sense not to extend the Observable, I think the reason I did it was because I wanted to have the `subscribe` directly on the auth. But I will probably just have a method on the class and internally a private property that will be an observable.

[2015-11-06 06:39] robwormald commented on #659
One thing that's neat about the collection-likeness of Observables is you can treat them like a collection. So whereas with a promise you'd do something like
[code]
with an Observable you can do
[code]
and then simply subscribe to it externally. You might want to consider sharing it as well (so that you get a single observable rather than re-executing the logic each time you subscribe.)

[2015-11-06 06:43] rolandjitsu commented on #659
@robwormald yes, I know, and I like that too about it :) When you say `sharing it as well` you mean expose the property as a public?

[2015-11-06 08:07] kwonoj opened #665 "Enable clang-format (or similar) for code style consistency"
@robwormald 's suggestion to have style formatter over source code seems quite helpful for contributors as well as other automated tools like `lint`, `commitizen`, etcs.

Angular 2 uses [`clang-format`](https://github.com/angular/angular/blob/master/DEVELOPER.md#formatting-with-clang-format) for those purpose, might be good candidate for RxJS also.

[2015-11-06 08:07] kwonoj commented on #665
Originated from https://github.com/ReactiveX/RxJS/pull/664#issuecomment-154325144

[2015-11-06 17:00] trxcllnt commented on #663
@blesh I think this is great. should definitely be publishing operators individually so we can avoid people needing to know the dist folder structure to use the library as modules.

[2015-11-06 21:23] blesh opened #666 "comprehensive tests for throttle"
This probably relates to #496, so be aware of that if the work happens to be split.

[2015-11-06 21:23] #564 closed

[2015-11-06 21:25] blesh commented on #556
I'm going to close this for now... The problem I see with it is anything that wants to check if something is Observable or a Promise would be forced to check Observable first or they'll be thrust down the promise path.

I think `toPromise` and `forEach` are adequate enough for me.

[2015-11-06 21:26] blesh commented on #577
@staltz ... I'm going through issues and making sure what needs to be closed is closed... is this issue resolved now with #586?

[2015-11-06 21:26] blesh commented on #465
@kwonoj ... is this still an issue?

[2015-11-06 21:27] blesh commented on #489
I believe this has been resolved. Closing for now.

[2015-11-06 21:27] #489 closed

[2015-11-06 21:28] kwonoj commented on #465
Yes. tslint targeting this on 4.0 milestone, do not specified date yet. Maybe this kind can be updated in documentation and issue can be closed?

[2015-11-06 21:32] blesh commented on #651
@trxcllnt ... do you think in the case that a user says `repeat` more than say, 100 times, we can assume they might want to schedule resubscription and handle that for them?

Alternatively, perhaps we could add a second parameter for people to specify a resubscription scheduler. (we could do the same on `catch`, `retry` and `retryWhen`, too)

Again, I really think this is only going to affect peop

[2015-11-06 21:34] blesh commented on #665
I'm on the fence about this one. I feel like we're in a good place with what we're already doing.

Can you describe how you think this will benefit us? I'm worried it will become another thing to slow down the build and hassle contributors.

[2015-11-06 21:37] kwonoj commented on #665
I'm currently considering it as evaluation phases, instead of creating PR to be merged directly. As you mentioned, it need to be verified in aspect of

- does not impact current build
- should evaluate populated results

This is somewhat low priority. I'm ok this to be closed for now and reopened if it becomes more necessary.

[2015-11-06 21:39] robwormald commented on #665
i don't love it in angular2, but it does keep stuff consistent. we enforce it on CI only - the expectation would be you don't have it as part of the build step at all, run it as a precommit hook, it reformats code, and then it checks and enforces formatting on CI. shouldn't have any impact on build time.

[2015-11-07 00:46] blesh commented on #665
[Relevant information about clang-format with git pre-commit hooks in Angular 2](https://github.com/angular/angular/blob/c70e07fd1f672eb1fb70a12d08614979cd1e137f/DEVELOPER.md#formatting-with-clang-format)

[2015-11-07 08:36] staltz commented on #577
Yes, let's close.

[2015-11-07 08:36] #577 closed

[2015-11-07 08:37] staltz commented on #489
Yes, resolved.

[2015-11-07 16:21] trxcllnt commented on #594
@blesh I also think this is a concern. Unfortunately, TypeScript isn't exactly helpful in this regard. The only solution is to splat the Array when you call forkJoin/combineLatest, which you can only do in es6/ typescript.

I would be ok with a call to "flatten" arguments into a flat list of Observables, no matter how deeply-nested.

[2015-11-09 10:27] staltz opened #674 "Bug: Off-by-one error with retry's count parameter"
### This is what should happen (this is RxJS 4 behavior):

[code]
[code]

[code]

[code]

- - -

### But currently RxJS 5 does this (notice the off-by-one error with retry()):

[code]
[code]

[code]

[code]

[2015-11-09 10:57] jinroh commented on #674
[I've been bitten by this](https://github.com/Reactive-Extensions/RxJS/issues/234) too, but with the RxJS4 behaviour :). I feel the RxJS5 signature is more natural, because it counts to number of retries and not the total number of subscriptions.

However, retro-compatibility might be more important on this one... as long as the documentation is clear.

[2015-11-09 11:07] staltz commented on #674
I'd either make both `repeat(3)` and `retry(3)` show 'foo' 4 times, or both show 'foo' 3 times, but the disparity would become a gotcha that annoys developers.

[2015-11-09 15:43] staltz opened #678 "Bug: shared Observables not actually repeatable/retryable"
[code]
Runs as
[code]
while we expected
[code]

I'm investigating some solutions in ConnectableObservable to be able to support @blesh's use cases for retryable/repeatable Observables, but it seems like this is a bug.

[2015-11-09 17:10] blesh commented on #674
I'm indifferent about this behavior.

Although this is a weird one for readability, when (in the world outside of Rx) I think "Do X, and retry up to 3 times if it fails" I expect X to be executed up to 4 times, because the *first* one isn't a "retry", right?

However, if I say "Do repeat X three times", I expect X to be executed 4 times, because the first one counts as a repeat.

[2015-11-09 17:12] blesh commented on #674
I think as long as the `repeat` semantic matches the RxJS 4 behavior, we're good. That one is important because that's something where people are acting in the affirmative.

The `retry` one I think should work as people would expect, where the first execution does not count as a retry.

[2015-11-09 17:17] blesh commented on #678
Weird, I thought I had tests around that from the beginning. It's probably my most recent changes to that that broke the behavior. I was using `share` and `retry` in my AngularConnect example (alpha.7 I think), and it was fine.

[2015-11-09 17:23] staltz commented on #678
We have this test:
[code]
But notice how there is just one subscriber in this case.

[2015-11-09 17:25] staltz commented on #678
Also, this test doesn't have multiple subscribers: https://github.com/ReactiveX/RxJS/blob/master/spec/operators/multicast-spec.js#L88

[2015-11-09 17:25] staltz commented on #674
Anyway, it's yet another breaking change with questionable benefits.

[2015-11-09 17:32] blesh commented on #678
Hmm... it looks like `retryWhen` works fine, but the other two do not. My example was using `retryWhen`.

It doesn't seem like a problem with ConnectableObservable, my suspicion lies with the Subscribers for `repeat` and `retry`. I suspect they're being disabled by a flag when the error or completion hits them.

[2015-11-09 17:34] blesh commented on #678
It looks like it resubscribes whenever it completes: https://github.com/ReactiveX/RxJS/blob/e9b13d0178a7ebad2cccd217fc0249449804831d/spec/operators/multicast-spec.js#L102

(also, pro-tip: Hit <kbd>Y</kbd> before you copy a link in GitHub to get the SHA in the URL so it doesn't change over time.)

[2015-11-09 17:43] blesh commented on #674
You do realize this "breaking change" appeared because the author of that operator (I don't think it was me, actually) thought that was how RxJS 4 behaved because it's really the only way that makes sense?

I really don't care if we change to. But if we're going to change it we need to update the docs to say something like:

"retry(3) actually only retries 2 times, this is to match what RxJS 4 doe

[2015-11-09 17:45] trxcllnt commented on #674
I remember something funny with "retry(1)" throwing a stack overflow exception in RxJS v4, but my memory may be foggy. I vote for the, "do this once, and retry it x times" behavior for both repeat and retry.

[2015-11-09 17:48] staltz commented on #674
I also think this makes more sense.

In order of "makes most sense" to "makes less sense", this is what I think:
- repeat(3) does it once and repeats +3 times, retry(3) does it once and retries +3 times
- repeat(3) does it 3 times in total, retry(3) does 3 times in total
- repeat(3) does it 3 times in total, retry(3) does it once and retries +3 times

[2015-11-09 17:56] kwonoj commented on #594
I was thinking about this bit, as @trxcllnt mentioned it requires some additional code to make it work with typescript. Trying to create some changes to trigger perf comparison to see if it's not hurting.

[2015-11-09 18:12] blesh commented on #674
Retry and Repeat are semantics for two _very_ different completion types. There is no logical reason why their output counts should be related.

- completion happens *after* the side-effect occurs.
- errors happen *before* the side-effect occurs.

If we read the operators as "try and if it errors retry 3 times" and "repeat 3 times". The current behavior makes sense.

I just checked... in RxJava re

[2015-11-09 18:19] staltz commented on #674
IMHO.

[2015-11-09 18:33] blesh commented on #674
That's fine. However that is a breaking change for _two_ operators vs RxJS 4.

I'm okay with this though, because `retry(1)` not doing anything makes the least sense of all available options. And if that's the compromise that needs to be made to keep that from happening, so be it.

However I'd like to leave this issue open for a while for more input.

[2015-11-09 18:37] blesh opened #679 "retry(n) behavior"
This is a continuation of discussion at #674, focused solely on `retry`:

** DO NOT look at what currently happens in RxJS 4 or RxJS 5 **...

Given the following scenarios what should happen in your mind?

1. `Observable.of('x').concat(Observable.throw('bad')).retry(1)`
2. `Observable.of('x').concat(Observable.throw('bad')).retry(3)`

[2015-11-09 18:38] staltz commented on #679
1. `(xx#)`
2. `(xxxx#)`

[2015-11-09 18:39] blesh commented on #679
I think:

"try and if it fails retry once"
[code]

"try and if it fails retry three times"
[code]

[2015-11-09 18:39] blesh commented on #674
closing in favor of separate discussion issues.

[2015-11-09 18:39] #674 closed

[2015-11-09 18:40] blesh opened #680 "repeat(n) behavior"
a continuation of discussion at #674

** DO NOT look at RxJS 4 or RxJS 5 behaviors **

What do you think should happen in the following scenarios?

1. `Observable.of('x').repeat(1)`
2. `Observable.of('x').repeat(3)`

[2015-11-09 18:40] kwonoj commented on #679
I also would assume similar, try first + retry n as specified.

[2015-11-09 18:41] blesh commented on #680
"repeat 1 time"
[code]

"repeat 3 times"
[code]

[2015-11-09 18:45] blesh commented on #594
I'm sort of indifferent about this one.

We can try adding the checks and see how it affects the performance. If it's a hit, then I say we don't do it, and people can just use `.apply` like they would on any other function in JavaScript.

[2015-11-09 18:46] trxcllnt commented on #680
I vote (xx) and (xxxx) respectively. I read this as, "do x and repeat it once," and "do x and repeat it three times." reasonable people can disagree with this interpretation.

[2015-11-09 18:48] kwonoj commented on #594
: That's I'd like to verify :) if changes does not hurt performance, supporting this would be good. I should come up with numbers.

[2015-11-09 18:56] staltz commented on #680
1. `(xx|)`
2. `(xxxx|)`

Here's my rationale why. I read it `foo.repeat(3)` as "*take foo and repeat it 3 times*" because it makes no assumption of what `foo` is. For instance, take the case where `foo` is `source.repeat(2)`. So `foo.repeat(3)` is actually `source.repeat(2).repeat(3)`. How many times should source happen? 5 times in total? Or 12?

I see it as
`source.repeat(2) = '(xxx|)'`
Hence `'

[2015-11-09 18:58] staltz commented on #680
Curiously, with the current RxJS 5 implementation, `source.repeat(2).repeat(3)` makes source happen **6 times** in total! That would definitely break the "*n in repeat(n) specifies how many times does the source happen in total*" argument.

[2015-11-09 19:04] staltz commented on #680
I do recognize `2 * 3 = 6` though. *sigh*

[2015-11-09 19:16] roganov commented on #680
ES6 defines `String.prototype.repeat` with semantics that yield `'abc'.repeat(2) === 'abcabc'`. It would probably make sense to align.

[2015-11-09 19:21] staltz commented on #680
@roganov makes a lot of sense.

[2015-11-09 19:24] blesh commented on #680
That is an interesting and valid point. Thanks @roganov for pointing that out! I wasn't even thinking that way.

[2015-11-09 21:09] kwonoj commented on #594
Initial attempt blocked due to same reason as https://github.com/ReactiveX/RxJS/issues/660, property based stub does not allow overload.

[2015-11-09 21:29] trxcllnt commented on #680
I agree that it's interesting, but I'm not sure the same behavior should apply. Observable's `repeat()` (with no arguments) will repeat infinitely, but `String` repeat can't, since it's not lazy.

Ultimately it seems strange to me that `repeat(1)` is essentially the identity operation (`source.subscribe()` and `source.repeat(1).subscribe()` are identical).

[2015-11-09 21:55] blesh commented on #660
It should probably just be `repeat: <T>(count?: number) => Observable<T>` in the stub, then.

`?` will make the difference, I think.

[2015-11-09 22:00] kwonoj commented on #660
Yes, you're correct. Completely forgot it somehow even staring optional operators all time.

[2015-11-09 22:01] kwonoj commented on #660
Will update PR and close this one.

[2015-11-09 22:21] #660 closed

[2015-11-09 23:23] #663 closed

[2015-11-10 00:19] kwonoj commented on #633
Closed by https://github.com/ReactiveX/RxJS/pull/664

[2015-11-10 00:19] #633 closed

[2015-11-10 05:03] robwormald commented on #647
Does this actually make sense, now that I think about it? The Angular2 API check is complaining about statics like `fromEvent` etc not showing up on Subject - the question is, *should* they?

Now that TS is doing the compilation, I only see "create" added as a static to Subject, which is (in hindsight) what I would expect. Once Rx releases a bump with TS build I can investigate further.

[2015-11-10 07:50] staltz commented on #680
I think "repeat(1)" reads as "repeat the source once", which in everyone's default mind is "abcabc".

PS: I'm not adamant about my opinions, I'm just pointing out some details.

[2015-11-10 08:57] staltz commented on #678
Ok, I'm narrowing down the problem. RetryWhen works because it usually retries asynchronously some time later. Retry is synchronous, and a race condition happens with RefCounting:

1. First subscribe to the refCount().retry(2) **(refCount counter becomes 1)**
2. Second subscribe to the refCount().retry(2) **(refCount counter becomes 2)**
3. Error happens, First subscribe is unsubscribe **(refCount

[2015-11-10 11:57] Frikki commented on #679
`x + n * x`

[2015-11-10 12:17] jinroh commented on #679
1. `(xx#)`
2. `(xxxx#)`

[2015-11-10 12:49] staltz commented on #678
I tried a solution where the RefCountSubscriber resets the counter when it encounters an error, but I still have problems with retry's synchronous behavior kicking in too soon (because Subject errors are propagated depth-first to observers, not breadth-first):

1. First subscribe to the refCount().retry(2) **(refCount counter becomes 1)**
2. Second subscribe to the refCount().retry(2) **(refCount

[2015-11-10 14:05] Frikki commented on #680
`x + n * x`

`repeat(0)` = `x + 0 * x`
`repeat(1)` = `x + 1 * x`
`repeat(3)` = `x + 3 * x`

Of course, `repeat(0)` is the same as leaving the operator off, thus, `repeat(1)` means it is _repeated_ once. Your suggestion, @blesh, is illogical because you suggest that `repeat(0)` and `repeat(1)` are the same.

[2015-11-10 14:08] roganov commented on #680
@Frikki It's not "of course", it's just your opinion. IMO `repeat(0)` should either return `empty()` or throw error.

[2015-11-10 14:11] Frikki commented on #680
@roganov Absolutely not. The meaning of _repeat_ is not an opinion. _Repeat_ is a definition, and it goes like this:

If I ask you to _repeat once_ what you just said, how many times would you have said it in total? Once or twice?

[2015-11-10 14:21] Frikki commented on #680
The operator that you are defining, @blesh, is called _times_ and not _repeat_. See, for example, http://underscorejs.org/#times

[2015-11-10 14:22] roganov commented on #680
@Frikki
[code]
"How many times I said" depends on the observer. If ```observer1 === observer2```, then for this observer I said twice.

[2015-11-10 14:23] trxcllnt commented on #680
@Frikki has a point. perhaps `1` is the identity for `times` (multiplication), but `0` is the identity for `repeat` (addition). @blesh @mattpodwysocki thoughts?

[2015-11-10 14:35] Frikki commented on #680
@roganov
[code]
How many items are emitted depends on the observable, not the observer. What the observer decides to observe is irrelevant to the observable.

[2015-11-10 14:39] roganov commented on #680
@Frikki
Me and you are having a discussion while Ben is not around.
Ben comes in and asks me to repeat my last argument.
And now "how many times I said my last argument" depends on the observer:
- for you, it's twice
- for Ben, just once.

[2015-11-10 14:47] trxcllnt commented on #680
@roganov That may be true, but not for Observables.

[2015-11-10 14:55] Frikki commented on #680
@roganov Actually, if you hadn’t already said it, how could Ben ask you to repeat it? Thus, said twice, in any case.

[2015-11-10 15:09] roganov commented on #680
@trxcllnt
Could you please elaborate? In my understanding, when I'm asked to repeat once, *counting from this moment* I'll have said the phrase once. To hear me say twice you have to be "subscribed" to both me saying first time and me repeating.
@Frikki
When you're asked to repeat once, *new observers* which didn't hear you first time don't expect you to say the phrase twice.
It also IMO natural t

[2015-11-10 15:19] trxcllnt commented on #680
@roganov but Observables are immutable, so it doesn't matter when you subscribe to them, or what Observables you've created from them. Since they don't share subscription side-effects, the `repeat` Observable isn't affected by the prior subscription to the original Observable.

[2015-11-10 15:28] roganov commented on #680
@trxcllnt
That's what I meant, but obviously failed to explain myself. When an `observable1` is asked to repeat once, it yields `observable2`, and for an observer to hear twice it must be subscribe to both `observable1` and `observable2`. But there may as well be other observers which would subscribe to either `observable1` or `observable2` and will hear only once.

[2015-11-10 15:30] trxcllnt commented on #680
@roganov I still don't think that's correct, but maybe I don't follow.

[2015-11-10 16:21] roganov commented on #679
- (xx#)
- (xxxx#)

[2015-11-10 17:49] blesh commented on #647
No, `Subject.fromEvent` doesn't make any sense. I filed an issue with TypeScript (https://github.com/Microsoft/TypeScript/issues/4628) a while back about inheritance and statics complaining. I'm not sure what they're going to do about it. I totally understand the issue they're faced with, but it *is* crappy because it's a JavaScript idiom to have a static `create` methods on a class that are speci