[2015-11-10 18:06] blesh opened #690 "BUG: nextTick scheduler throwing when calling setImmediate in Chrome"
Looks like an oversight on my part. Here is a [JSBin](http://jsbin.com/bezugabeji/1/edit?html,js,console) demoing the broken behavior.

[2015-11-10 19:27] staltz commented on #655
This can be closed.

[2015-11-10 19:27] staltz commented on #654
This can be closed.

[2015-11-10 19:27] staltz commented on #656
This can be closed.

[2015-11-10 19:27] kwonoj commented on #469
I assume this can be closed by we're moving away from babel, what do you think? @blesh

[2015-11-10 19:42] blesh commented on #469
I agree.

[2015-11-10 19:42] #469 closed

[2015-11-10 19:42] #656 closed

[2015-11-10 19:42] #654 closed

[2015-11-10 19:42] #655 closed

[2015-11-10 19:43] blesh commented on #679
Okay, I think we can close this one as it seems we all agree that the current behavior of RxJS 5 is correct.

[2015-11-10 19:43] #679 closed

[2015-11-10 19:46] blesh commented on #680
`repeat(0)` would be an empty observable.

[2015-11-10 19:48] blesh commented on #680
FWIW..

1. Currently `repeat` aligns with the `String.prototype.repeat` semantics.
2. Currently `repeat` aligns with RxJS 4.

I think we can probably leave it like it is.

[2015-11-10 20:03] kwonoj opened #692 "Closure compiler warnings"
This might not be big issue..

after PR https://github.com/ReactiveX/RxJS/pull/664, closure compiler gives warning like below

[code]

Assume some of generated codes are not supported old version of runtime.

[2015-11-10 20:17] Frikki commented on #680
I’ll remember that next time somebody asks me to repeat what I just said. I’ll just say: "I already said it once, therefore I have repeated it." ;) Long live semantics. *erherm* I mean, long live repeating previous non-semantic implementations. Guess that the arguments presented by @staltz , @trxcllnt and myself doesn’t count much. I’m with @blesh, let’s leave it as is.

[2015-11-10 21:04] trxcllnt commented on #680
@blesh I strongly suspect `0` is the correct identity for `repeat` (e.g.: "given `source.repeat(n)`, what value of `n` would yield an identical Observable to `source`?"), but I'm fine with leaving it the same as RxJS 4 for the sake of consistency.

[2015-11-10 21:07] blesh commented on #680
They definitely count, and I actually love "I already said it once, therefore I have repeated it.". I LOL'ed

if this were defined as `repeat(repetitions)`, I think it would be more clear. 0 repetitions is 0 times.

[2015-11-10 21:25] trxcllnt commented on #680
@blesh yes, but in the same way that `n + 0 = n` is true, `source.repeat(0) = source` would also be true. that's what i mean by, 'zero is the identity for `repeat`'. anyway, I'm still fine either way.

[2015-11-10 21:33] Frikki commented on #680
@blesh All good.

[2015-11-10 21:34] blesh commented on #680
Okay, I'm going to close this then.

<3 <3 <3

[2015-11-10 21:34] #680 closed

[2015-11-10 21:37] blesh commented on #692
No, I think it has to do with our Symbol polyfills. We're setting up `Symbol.for` and it wants us to set up `Symbol['for']`. We can do that, it's not a high priority though.

[2015-11-10 21:38] #507 closed

[2015-11-10 21:53] blesh commented on #690
It's still a problem. :\

[2015-11-10 21:55] kwonoj commented on #690
Is it repro on all chrome instances? I've able to repro with attached JSBin onetime, and following attempt does not shows same results.

[2015-11-10 22:20] #690 closed

[2015-11-10 22:27] blesh opened #695 "Implement takeWhile"
We don't have `takeWhile` implemented yet. It's probably a core operator.

[2015-11-10 22:27] blesh opened #696 "implement skipWhile"
we don't have `skipWhile` implemented yet, and it's probably a core operator.

[2015-11-10 22:29] kwonoj commented on #695
I'll try on this.

[2015-11-10 22:31] blesh commented on #690
@kwonoj I've got it fixed now. I could reproduce it in JSBin. It was a silly mistake. All better now.

[2015-11-10 23:34] robwormald commented on #692
it also doesn't like `.do`, `.throw`, etc. Meh.

[2015-11-11 00:46] blesh commented on #692
Yeah... `switch`, `do`, `throw`, `for` etc.

[2015-11-11 08:44] staltz commented on #666
I can do this too.

[2015-11-11 08:44] staltz commented on #496
I can do this.

[2015-11-11 09:22] staltz opened #697 "Generating marble diagram PNGs from tests to documentation"
As we approach the phase of writing docs, I had an idea. I'm proposing a neat addition that might help us in documentation.

`1.` In tests, we use `byDefinition` in `it.byDefinition('should something something...')` to tag a test case to be parsed for marble diagram generation.

E.g.

[code]

`2.` We make a script to run as `npm run build_marbles` which gathers those `byDefinition` tests and uses

[2015-11-11 10:17] jinroh commented on #696
I'd be happy to take this one !

[2015-11-11 11:13] trxcllnt commented on #697
I like it.

[2015-11-11 11:17] trxcllnt commented on #647
`Subject.create` is specific to the Subject constructor, not Observable.

[2015-11-11 13:33] staltz opened #701 "Idea: TestScheduler to support marble diagrams for promises"
It's annoying to have to fallback to timers and timeouts when testing code that needs to use Promises. Would be good to be able to write

[code]
just like we can write
[code]

As a by-product, test execution might get a bit faster.

[2015-11-11 14:48] blesh commented on #697
I think it sounds pretty cool. You could probably subclass or patch the TestScheduler to capture the metadata for the diagrams.

[2015-11-11 14:52] blesh commented on #701
I'm for it. But would this mean writing our own thennable pseudo-promise?  Or is there a promise  impl we can use that supports schedulers we can shoehorn?

[2015-11-11 16:19] staltz commented on #697
Precisely my thought. It sounds easy in theory but let see how it unfolds.

[2015-11-11 17:29] kwonoj commented on #697
I like this idea too.

[2015-11-11 18:25] kwonoj opened #705 "Update micro perf benchmark to get correct measurements"
As discussed in PR https://github.com/ReactiveX/RxJS/pull/670 , https://github.com/ReactiveX/RxJS/pull/699, some of micro perf benchmark tests are using operators such as `map` other than operator to be tested. May need to update those test cases to reflect better, accurate results.

[2015-11-11 18:30] #496 closed

[2015-11-11 18:30] #666 closed

[2015-11-11 21:24] timothydowney opened #706 "Can't install when behind an npm proxy such as Nexus or Artifactory"
Hi,

I'm encountering problems with @reactivex/rxjs that originated when trying to install angular2.  I'm currently using a local Nexus as an npm proxy repository and encountering problems when trying to npm install reactivex.  Searching around shows what appears to be another person with the same problem behind an Artifactory.  I can't tell if it is a Nexus/Artifactory bug around the @ sign or so

[2015-11-11 21:27] kwonoj commented on #706
May I possibly ask what's version of Nexus?

[2015-11-11 21:29] timothydowney commented on #706
Sonatype Nexus 2.11.4-01

[2015-11-11 21:30] kwonoj commented on #706
I could see scoped npm package support on Nexus is implemented in [Nexus 3 Milestone 6](https://issues.sonatype.org/browse/NEXUS-6857). Maybe this is reason of failure? Is it possible to isolate with updates Nexus?

[2015-11-11 21:34] timothydowney commented on #706
Hmmm...that looks like it could be the culprit.  I'm not sure what you mean with the last sentence.  Are you asking if I can try with Nexus 3 Milestone 6?  I may be able to, but I'll need to set up a sandbox for that.

[2015-11-11 21:36] kwonoj commented on #706
Yes, exactly. If that can be verified, we'll know for sure it's related with Nexus.

[2015-11-11 21:41] timothydowney commented on #706
Ok....looks like M6 came out today.  If I wait a day or so, there may be Docker support which would make it really easy to try out.  I'll grab it and run a test once I'm able to get M6.

[2015-11-12 09:37] staltz commented on #701
I was hoping a regular virtual time `action.execute()` to resolve the promise would do the trick. Do you think it's possible?

[2015-11-12 09:55] larrifax opened #710 "Source for ShareReplay accidentally re-introduced?"
I just noticed that the source for shareReplay still exists in [src/operators/shareReplay.ts](https://github.com/ReactiveX/RxJS/blob/master/src/operators/shareReplay.ts). This was supposed to be removed in d0adf57fe2ac18736ee1b6e63e98d87108f70b8c, wasn't it? e1966574715bc526c4c0da9262699187d1a7fbcb seems to re-introduce it. Maybe a merge gone wrong there?

[2015-11-12 10:05] staltz commented on #710
Good catch. I'll remove it.

[2015-11-12 14:02] staltz commented on #678
Update to this issue:

I've been exploring how does RxJava solve this problem. (I verified that RxJava gives the correct expected output for the same code snippet in this issue)

My current guess is it has all to do with refCount and ConnectableObservable, we might need to treat synchronous Observables as a special case. E.g.

[code]

[2015-11-12 14:08] staltz commented on #678
Also, confirmed that I have to "RefCountSubscriber resets the counter when it encounters an error", because RxJava does it too, see `cleanup()`:

[code]

[2015-11-12 14:41] timothydowney commented on #706
Ok, thank you Docker.  I got a 3.0 M6 docker container.  Still doesn't work for angular2.  Just to be safe, I was able to use the 3.0M6 to successfully install things like phantomjs and angular.

    69 downeyt:~/tmp $ npm install angular2
    npm ERR! registry error parsing json
    npm WARN install Couldn't install optional dependency: Unexpected token <
    npm WARN install <html>
    npm WARN

[2015-11-12 14:44] staltz commented on #678
Another mind dump:

I noticed RxJava does the following, and RxJS doesn't, but should. Seems very obvious the refCount producer should emit synchronously to the first subscriber everything it has, then error, then retry, and only after that, start the same for the second subscriber. In other words, **RxJS subscribers are interleaved but should execute serially** when the source is entirely synchro

[2015-11-12 15:30] blesh commented on #701
That's not a bad idea. I like it.

[2015-11-12 17:02] kwonoj commented on #706
Thanks for taking time for tryout. Hoped version upgrade resolves issues :)

It seems now error logs are somewhat different than original, not sure which dependency of angular 2 is hitting. Would you mind to check if installing RxJS itself directly to see scoped package is actually resolved?

Meanwhile I'll give a shot with those container, expect it'll take some time though.

[2015-11-12 19:23] kwonoj commented on #710
I think this can be closed now. Please freely reopen if there's necessary task remains.

[2015-11-12 19:23] #710 closed

[2015-11-12 20:38] trxcllnt commented on #678
Yes, I was wondering about this myself. Let me know if you'd like me to take a look at this as well.

[2015-11-12 20:40] staltz commented on #678
I solved that one already, using this:

[code]

As per RxJava.
Now I'm onto solving still the main bug described in this issue.

[2015-11-12 22:53] blesh commented on #678
@staltz and @trxcllnt ... we have a big of unfinished business with the es7 observable spec that relates to this I think.

We need to add a `start` event to `Observer` interface that fires on subscription and provides the subscriber. This seems pretty related to the `onSubscribe` event in the commit above.

[2015-11-12 22:56] blesh opened #716 "Add ES7 Observable Spec start event to Observer interface and trigger it"
It's an event that needs to be triggered _synchronously_ when subscription starts.

Basically:

[code]
Related #65 #266 #678

[2015-11-13 00:15] #695 closed

[2015-11-13 00:46] #696 closed

[2015-11-13 00:49] kwonoj commented on #645
I think this can be closed now - @jinroh , may I possibly ask if there's additional PR might be required for this issue?

[2015-11-13 00:57] kwonoj commented on #628
Closing issue by PR https://github.com/ReactiveX/RxJS/pull/630

[2015-11-13 00:57] #628 closed

[2015-11-13 07:02] kwonoj commented on #390
@luisgabriel @staltz , may I possibly ask if there's remaining task for this issue? Seems most of tests are arrived here.

[2015-11-13 08:46] freeranger commented on #706
Hi, I too am having a similar problem - behind a proxy, using Nexus - but an older version that isn't likely to be upgraded soon :/
Is it possibly to get a built package anywhere?
I tried downloading the git repo and npm installing that, but then get stuck because it is trying to build:

    Unable to access jarfile ./node_modules/google-closure-compiler/compiler.jar

    ERR! Windows_NT 6.1.7601

[2015-11-13 12:35] staltz commented on #390
@kwonoj these two tests are not yet in RxJS 5:

- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L288
- https://github.com/Reactive-Extensions/RxJS/blob/master/tests/observable/where.js#L608

[2015-11-13 17:05] kwonoj commented on #706
@freeranger , those error message seems closure compiler cannot be found. RxJS `package.json` has dependency to those, would you able to check if those module's placed?

[2015-11-13 17:53] blesh commented on #706
@freeranger I've had similar issues at companies I've worked with that had archaic proxies. Sometimes they blocked downloading packages that had jar files or other binaries. Sometimes they just blocked certain ports that were required for install. What I generally ended up doing is downloading a zip of the missing packages and installing them manually, and/or installing them while I wasn't behind

[2015-11-13 17:54] blesh commented on #645
I don't think there is any more work to do here. If there is we can open another issue. Closing for now.

[2015-11-13 17:54] #645 closed

[2015-11-13 17:57] blesh opened #722 "Bike-shedding: switchFirst and switchMapFirst names"
Given that we've migrated to `strategy` and `strategyMap` names, do the names `switchFirst` and `switchMapFirst` make sense?  Should it be `switchFirstMap`?

Furthermore is the strategy name `switchFirst` the best choice?

[2015-11-13 18:34] blesh opened #723 "Not all flavors of anonymous observers work properly."
I noticed that in some scenarios, if you pass an incomplete anonymous observer, which should totally work, it throw errors... for example:

[code]

Also, I've noticed that the Observer interface doesn't allow for optional handlers, so we need to adjust for that.

[2015-11-13 19:06] staltz commented on #722
I'd also try to find a name other than `switchFirst`. I actually couldn't figure out what it does, and similarity with `switch` didn't help.

I'll just brainstorm some names to get us kickstarted:
- `proceed` and `proceedMap`
- `finish` and `finishMap`
- `thorough` and `thoroughMap`
- `deal` and `dealMap`
- `entire` and `entireMap`
- `switchEntire` and `switchEntireMap`
- `ignoreUntilComplete` and

[2015-11-13 19:56] trxcllnt commented on #723
@blesh I thought we used to have the same logic in the `Subscriber` constructor as we do in the static `create` method?

[2015-11-13 20:05] trxcllnt commented on #716
@blesh I think I have a local branch with this in it. If not, I'm still happy to take this on.

[2015-11-13 21:12] blesh commented on #723
It's just silly bugs around not checking to see if destination actually has a `complete` before calling it, for example.

[2015-11-13 21:48] blesh commented on #722
Haha... just "deal"

[2015-11-13 21:58] blesh commented on #716
I've already got the work underway, @trxcllnt... but I really appreciate the offer.

[2015-11-13 22:48] kwonoj opened #725 "Type definition with Observable.of"
Below snippet

`Rx.Observable.of(25, Rx.Scheduler.immediate);`

will raise complains
[code]

with typescript compiler, by current definition for `static of` is specified as
`<T>(...values: Array<T | Scheduler>) => Observable<T>;`

Scheduler is also considered as one of value parameter candidate of type inference. Using rest parameter makes hard to have scheduler as separate parameter like

`(...va

[2015-11-13 22:59] blesh commented on #725
I feel like you're not allowed to have rest parameters as the first argument in TypeScript, but perhaps I'm wrong. Because if you were, this wouldn't have been a problem to begin with.

Because of that current limitation of TypeScript, users will probably have to explicitly set the generic type: `Observable.of<number>(25, Rx.Scheduler.immediate)`

[2015-11-13 22:59] #723 closed

[2015-11-13 23:01] kwonoj commented on #725
: that is correct. Above 'rest parameter should be last..` is constraint of typescript.

`error TS1014: A rest parameter must be last in a parameter list.`

[2015-11-13 23:15] kwonoj commented on #725
: I think this'll work for now until find out some way to resolve this. Writing issue for reference anyone who'll meet this to have understandings.

I'll close issue for now, will reopen if there's way to resolve it.

[2015-11-13 23:16] #725 closed

[2015-11-14 00:56] blesh commented on #678
@staltz, once #726 lands, we may be able to leverage the `start` handler and create a different approach to this. Also @abersnaze had mentioned a method of doing multicast refCounting that used a custom subject with some special logic in the `start` method. Food for thought.

[2015-11-14 22:12] ol3j opened #727 "Invalid name: "@reactivex/rxjs""
Hi,

I have problem with npm install

[code]

What is wrong or what is missing?

[2015-11-14 22:53] kwonoj commented on #727
It seems someone experience exactly same issue for scoped named packages with npm, https://github.com/npm/npm/issues/10344 on same system, node, npm version. Would you able to provide npm logs into those issues to those npm issues for diagnose? other than known failures with scoped packages, this error message seems need additional investigation with logs.

[2015-11-15 08:33] staltz commented on #727
`npm install @reactivex/rxjs` is still impossible, because there is no stable version released yet. You have to do `npm install @reactivex/rxjs@5.0.0-alpha.10`, i.e. explicitly name the unstable version "5.0.0-alpha.10".

[2015-11-15 08:36] kwonoj commented on #727
interesting, I just tried without version and

[code]

it was actually installed module. It's node 5.0.0 / npm 3.4.0 currently.

[2015-11-15 08:38] staltz commented on #727
Oh, you're living on the edge, maybe it changed with npm 3. I'm still on npm 2, and so is @ol3j .

[2015-11-15 08:40] kwonoj commented on #727
That may give glimpses of failure. @ol3j , would you try to install package with specific version as @staltz suggested? if it works, it maybe concluded as @staltz mentioned above.

[2015-11-15 10:31] ol3j commented on #727
@kwonoj @staltz thanks!
I have updated npm version from 2 to 3 and everything is OK.

[2015-11-15 10:31] #727 closed

[2015-11-16 11:45] staltz commented on #390
I think these tests will be accomplishable after #716 lands.

[2015-11-16 11:57] staltz opened #732 "IteratorObservable tests"
Just a heads up that I am working on this, to avoid work collision with others.

[2015-11-16 12:11] freeranger commented on #706
Hi,

Our CI builds are done using Team City on any number of agent machines.  The agent machines cannot require manual setup, but the build can of course do npm install's and we can provide folders of stuff to reference if need be, so if there was an already built version out there or a way to download the npm package (which would not cause it to try to build) which I could then stick in a folder

[2015-11-16 15:02] staltz opened #733 "Browser support"
**What is the "lowest common denominator" that RxJS 5 will target?**

Do we support only ES6? Do we support ES5?

These questions came up when I was working on getting coverage for #732, and noticed how in Node 4.2.1 the code related to polyfilling ArrayIterator and StringIterator is never reached because of course, those exist already in Node 4.2.1.

Should we run tests using node v0.10.x? I trie

[2015-11-16 15:06] david-driscoll commented on #468
I've done some work to that effect, that makes consuming the typings easier, and all the stubs only have to go into the operators themselves.

[2015-11-16 16:46] kwonoj commented on #733
Think ES5 need to be supported. Not sure about node - RxJS4 supports node 0.4+ but node has been updated quite amount - maybe support lowest stable version?

[2015-11-16 18:06] blesh commented on #733
I think it's just:

Browser support: IE9+
Node Support: 0.12+

Promise is being injected in those tests now for just that reason, I believe.

[2015-11-16 18:10] blesh commented on #706
@freeranger out of curiousity, why are you building this project in your own CI environment?

[2015-11-16 18:29] kwonoj commented on #692
Related with https://github.com/ReactiveX/RxJS/issues/733, if we're targeting IE9+ which supports ES5 (http://kangax.github.io/compat-table/es5/), what about suppress this warning for ES3 (https://github.com/google/closure-compiler/wiki/FAQ#i-get-invalid-property-id-errors-but-it-works-on-firefox) by targeting closure compiler to ES5?

[2015-11-16 18:46] kwonoj opened #736 "Add Observable.fromNodeCallback"
PR https://github.com/ReactiveX/RxJS/pull/729 reminded `Observable.fromNodeCallback` is also not landed yet. I'll try to create those as well and creating issue for tracking.

[2015-11-16 18:57] blesh commented on #692
I'm fine with that.

[2015-11-16 18:58] blesh commented on #578
@staltz ... has this been fixed?

[2015-11-16 18:59] blesh commented on #592
@ziaukhan @robwormald has this been resolved?

[2015-11-16 19:14] kwonoj commented on #592
I'd like to suggest to close this for now - remaining discussion in here is if RxJS need to package type definition of `es6-shim` or not. As @robwormald suggested, `lib.es6.d.ts` can be used.

[2015-11-16 19:42] blesh commented on #592
That sounds reasonable. We can always reopen.

[2015-11-16 19:42] #592 closed

[2015-11-16 19:49] freeranger commented on #706
I don't want to build it, believe me!  I just want to use it but nexus, or at least the version we have to use, does not support scoped packages so I grabbed a zip of the repo and did an npm install pointing to the folder I unzipped to, and it tried to build.
If there's a way to get a pre build package then I'm more than happy with that!

[2015-11-16 21:03] staltz commented on #578
Not yet. I'll do it.

[2015-11-16 21:37] blesh commented on #578
Okay, thanks @staltz ... I wasn't asking you to do it, I was just quickly checking to see if I missed that this needed to be closed.

[2015-11-16 22:44] kwonoj commented on #648
Took this one to close opened issues.

[2015-11-17 02:34] kwonoj commented on #642
New changes in typescript compiler supporting polymorphic `this` (https://github.com/Microsoft/TypeScript/pull/4910) may be helpful to deal with this issues, but it's just rough guess and haven't explored to see if it's feasible with current codebases yet.

[2015-11-17 15:57] #692 closed

[2015-11-18 04:19] blesh commented on #733
Really until we have these tests running in something like Karma, testing in multiple browsers is going to be difficult. Also, there are a lot of CI tools that integrate with Travis that will test against multiple browsers and platforms, we should definitely look into that.

Also, if we do that, we can use a library that polyfills Promise (I think Bluebird does this).

[2015-11-18 08:04] staltz commented on #733
saucelabs

[2015-11-18 10:12] staltz commented on #701
See #745 for the reasons why I'm closing this issue.

[2015-11-18 10:12] #701 closed

[2015-11-18 11:10] freeranger commented on #706
Unfortunately it's not that simple - I am trying to use ng-Forward which has a dependency on @reactivex/rxjs so I need an npm installed reactivex/rxjs to satisfy it's requirements :/

[2015-11-18 14:22] ntilwalli opened #748 "Observable.subscribe checks 'instanceof' Subscription instead of shape"
Currently `Subject` extends `Observable` and only implements `Subscription` so it doesn't see the `Subscription` function on it's inheritance chain.  This is an issue because currently the `subscribe` method on `Observable` checks whether the `subscriber` is an `instanceof Subscription`.  If the `subscriber` is a `Subject` it returns `false` and then wraps `subscriber` in a `Subscriber` and procee

[2015-11-18 14:52] staltz commented on #748
I would rather first question your overall approach. Subclassing Subject is not meant to be a common necessity. In fact, I have never encountered such case where I had to subclass Subject.

Seems fishy. Why can't you merge all the Observables to be observed by the Subject, and then subscribe to that merged result using the Subject as observer? Merge gives you this functionality of defer calling co

[2015-11-18 15:58] ntilwalli commented on #748
Sure.  This is more of a thought exercise for me to understand Subjects, but I want to simulate a multiplexed Websocket.  That is, I want to create a class that exposes a shared observable. The items in the output sequence will all conform to a type T which has a `tag` property that allows the subscribers to filter based on `tag` and generate multiple observables which emulate multiple simultaneou

[2015-11-18 16:13] staltz commented on #697
Turns out this is being very fun to develop.

So far I got a small script that given:
[code]
(The above is what ASCII marble diagrams generate through the TestScheduler)

We get as output:

![experiment](https://cloud.githubusercontent.com/assets/90512/11246379/1b8a2284-8e20-11e5-92bd-16df8d95953c.png)

[2015-11-18 17:44] kwonoj commented on #697
This is actually looking great :+1:

[2015-11-18 17:45] kwonoj commented on #697
One question : is it possibly draw small tick for each frame, such as cases of `delay`, etcs to visualize how long has been passed?

[2015-11-18 17:47] staltz commented on #697
Definitely possible. For now I'm just trying to replicate the typical RxJava diagrams.

[2015-11-18 18:40] kwonoj opened #749 "Support anonymous object to skip optional parameters?"
Originated from https://github.com/ReactiveX/RxJS/pull/744

Some of operators such as `last` have optional parameters from first one,
`last<T, R>(predicate?, resultSelector?, thisArg?, defaultValue?)` (simplified signature)

so trying to specify some optional parameter other than first will looks like this
`source.last(null, null, null, 'value');`

It can be considerable to support anonymous objec

[2015-11-18 18:40] kwonoj commented on #749
cc @staltz

[2015-11-18 19:32] jeffbcross opened #750 "Add prototype-patching operator modules"
(Recapping some offline discussion between @blesh, @IgorMinar, @robwormald and myself)

In order to allow exporting a minimal `Observable` and to increase composition of operators, while maintaining nice chaining syntax, we propose exporting each operator as an easily-importable module that will have a side effect of patching the `Observable` prototype.

[code]

With TypeScript 1.8, there will be

[2015-11-18 19:32] jeffbcross commented on #750
CC @blesh @robwormald

[2015-11-18 20:04] jeffbcross opened #751 "Publish different transpilation targets to different npm packages"
In order to have nicer import paths, without `dist` and module/language directories, we should publish the different outputs (CJS, ES6, TS) as different npm packages: rxjs for CJS, rxjs-es6 for ES6, rxjs-ts for TypeScript. It would also be nice to drop the `@reactivex` scoping in the process, since that causes issues for users with older npm versions.

Before:
[code]

After (though #750 will move

[2015-11-18 20:27] blesh opened #752 "Observable.of and Observable.from need to be async to meet spec"
According to @zenparsing's spec, `Observable.of` and `Observable.from` result in Observables that emit on a micro task.

This is probably fine, since it results in a more predictable store for newbie developers. Also, we can just default the scheduler parameter on these two methods to `nextTick`, allowing those that want synchronous subscription to schedule `immediate` easily.

[2015-11-18 22:42] blesh commented on #748
Honestly, as a first attempt, the best way to create a custom subject right now is to use `Subject.create` and pass to it any Observer-shaped object, and any Observable. It will do the work of "gluing them together" into a Subject.

Otherwise feel free to try to extend Subject, but know that playing with things like `add` is playing with fire, as that hooks into the unsubscription chain.

On the `

[2015-11-18 22:43] #648 closed

[2015-11-18 23:14] robwormald commented on #751
i can do this if you like @jeffbcross

[2015-11-18 23:15] robwormald commented on #751
i dont think we need the TS distro either - just distribute the `.d.ts` files alongside the ES6 and CJS output (like we do already)

[2015-11-18 23:18] blesh commented on #751
Perhaps it should be `rxjs-es` ... because some day it will be `es7` or `es2025` or whatever. But hopefully by then the module wars will be over.

[2015-11-18 23:19] blesh commented on #751
... then again that could imply `es3` haha. I give up. What makes sense?

[2015-11-18 23:30] robwormald commented on #750
I think from the outside, the story doesn't really change for a node user:

before:
[code]

after:
[code]

browser user who wants the whole mess:
[code]
browser user who only wants map
[code]
node user who wants the whole mess
[code]

I just tested that and it appears to work fine. Barring that, `index.js` could do what we're doing today, as browers don't typically understand the index concept.

[2015-11-18 23:34] robwormald commented on #751
SystemJS et al refer to it as `esm` - https://github.com/systemjs/systemjs/blob/master/docs/module-formats.md

[2015-11-19 09:07] staltz commented on #749
Because RxJS 5 is mainly about performance, I'd give priority to performance than to this anon object API. However, if it's a small impact, then I'd suggest it for all operators with >2 optional parameters.

[2015-11-19 12:45] trxcllnt commented on #751
What about `rxjs-node`, `rxjs` and `rxjs-ts` for CJS, ES6+, and TS respectively?

[2015-11-19 12:47] trxcllnt commented on #748
@staltz @blesh this is a problem because subscribing to an Observable with a Subject (as the Observer) is a very common use-case. We definitely need to change Observable's public `subscribe` implementation to support this.

[2015-11-19 12:54] trxcllnt commented on #752
@blesh ew gross, and hell no. That's why  `Observable.of` and `Observable.from` accept a scheduler argument. Users should opt-in to asynchrony, otherwise all the work we've done to improve performance is wasted. No offense to @zenparsing, but the problems with the always-async Promise spec is a clear example of why concurrency preferences should not be mandated by the specification.

[2015-11-19 12:56] staltz commented on #748
Subscriber to an Observable with a Subject should be fine, seems covered. This issue is about subclasses of Subject.

[2015-11-19 14:23] zenparsing commented on #752
@trxcllnt Haha - and no offense taken.  : )  I'm sympathetic to your principled stance here, and I'd like to continue the discussion.  I'm traveling at the moment, so it might be tomorrow before I can reply.

[2015-11-19 15:28] staltz commented on #390
I sent another PR for more tests on `filter`, but I wasn't able to replicate those two RxJS 4 tests. IMO they are rather irrelevant tests. They aren't filter-specific, they are simply testing whether you can unsubscribe from within a predicate (many other operators have predicates or selectors). It's not worth making filter-specific tests for that. I don't think we will miss anything.

So, from my

[2015-11-19 18:36] luisgabriel commented on #390
I agree with @staltz here.

[2015-11-20 01:37] staltz commented on #438
@blesh time to close this little fellow?

[2015-11-20 04:23] staltz commented on #697
@kwonoj @blesh take a look at #757, it's beautiful.

[2015-11-20 04:27] kwonoj commented on #697
Yeah, looks pretty cool at first sight. Will look in detail.

[2015-11-20 16:20] alisd23 opened #758 "Behaviour getValue functionality missing"
Is the `value` property of **BehaviourSubject** supposed to be public? Or is there supposed to be a public `getValue` function like there is in the previous version?
There is currently no way of reading the value without subscribing.

[2015-11-20 17:58] kwonoj commented on #661
This could be achieved moving current test cases into typescript based one as same as Angular2 does, if circumstances allows.

[2015-11-20 19:12] paulpdaniels commented on #697
+1

[2015-11-20 19:51] kwonoj commented on #642
Related with https://github.com/ReactiveX/RxJS/issues/750 .

[2015-11-20 22:36] kwonoj commented on #749
Instead of dive into making changes immediately, I'll let this issue opened for a while to gather some opinions. (Pure personal opinion, I usually don't mind to explicitly specifying empty values to skip parameters)

[2015-11-20 22:48] blesh commented on #749
I agree with @staltz here. I'd like to discourage people using objects to pass arguments for a few reasons:

1. operators will become polymorphic: Now you can call each operators two completely different ways. That's going to skip some optimizations afforded by some runtimes. Also, internally, you'll need to do some type checking to see what sorts of arguments are passed.
2. easier for the operato

[2015-11-20 22:51] kwonoj commented on #749
Seems it's raised by @staltz himself, including himself, I, @blesh all not quite interested to push this :) I'll simply close this issue and reopen once there is more strong demand.

[2015-11-20 22:51] #749 closed

[2015-11-20 22:59] Johnius commented on #758
I think it's breaking supposed way of reactive paradigm. Can you describe your specific case? Maybe there's better way to solve this problem.

[2015-11-20 22:59] blesh commented on #751
@trxcllnt: I discussed this on Slack with @jeffbcross, and he brought up a good point on the `rxjs-node` front, which is that CJS isn't really node specific. Many developers use CJS for their client-side bundling processes.

[2015-11-20 23:02] jeffbcross commented on #751
I also like the idea of CJS being the default, non-suffixed (rxjs) distribution, since it is in the current native format of node modules (CJS).

[2015-11-20 23:05] blesh commented on #752
I guess one of my problems with it, it is means that anywhere someone uses an `Observable.of` or `Observable.from`, it's going to reset the call stack and developers will lose context while debugging. I think this is more of a problem for `Observable.of` than the other, but it *could* be problematic for both.

There is a similar issue in RxJava with `observeOn` and `subscribeOn` ruining stack trac

[2015-11-20 23:07] blesh commented on #758
Yes (and no). FWIW, you could examine that in previous versions as well. *most* of the time you shouldn't be using this though, but there are situations were it can come in handy.

So:

- Yes, there it is.
- But try not to use it.

Fair?

[2015-11-20 23:18] blesh commented on #749
:+1:

[2015-11-21 00:41] blesh opened #760 "Alias `switchMap` as `flatMapLatest`?"
I think a lot of people that are familiar with Rx are going to try to use `flatMapLatest` and be confused. Should we alias it? If so, should we add a deprecation warning?

[2015-11-21 12:29] staltz commented on #760
I vote for moving to the new name, and having zero (or as close to zero as possible) aliases in the whole operator repertoire. The confusion aliases add last longer than a short migration confusion.

[2015-11-21 12:32] ntilwalli commented on #748
Thanks all for getting back.  I recognize that overriding subjects is not the best approach in most cases and I'm not using it anymore myself so this issue doesn't actually affect me, but I still feel like the behavior is not correct. Couldn't the `Observable.prototype.subscribe` implementation just be changed to check if the `subscriber` is also an `instanceof Subject?  Like this:
[code]
Anywhere

[2015-11-21 12:45] staltz commented on #748
@ntilwalli indeed, that makes sense. I wonder if there _is_ any reason to wrap a Subject in a Subscriber. I'm curious to see what performance boost would your suggestion bring.

[2015-11-22 19:06] #594 closed

[2015-11-22 21:37] Frikki commented on #760
I also support no aliases.

[2015-11-22 22:36] staltz opened #763 "Catch() and its shared subscriptions"
When writing tests for catch(), I noticed this behavior:

[code]

Special attention given to this part:
[code]

This happens because CatchSubscriber does
[code]

As a consequence, if someone uses `source.catch(e => source)` as a flavor of `retry()`, the number of subscriptions will indefinitely grow and stay retained.

What do you think should be done about this behavior?

[2015-11-22 23:52] mbalex99 opened #765 "Why are all the d.ts files file modules?"
Aren't the *.d.ts files generated supposed to be declaration modules?

I can't seem to reference `/// <reference path="../node_modules/@reactivex/rxjs/dist/cjs/Rx.d.ts" />`

In my typings.d.ts file.

[2015-11-22 23:54] kwonoj commented on #760
Generally in favor of no aliases, but docs or somewhere else might need to state it's deprecated such as RxJS4 does (https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/fromarray.md)

[2015-11-23 00:13] kwonoj commented on #765
Would you able to share small snippets to reproduce issues? I just tried below,

*typings/typings.d.ts*
[code]

*index.ts*
[code]

works fine with type definitions.
![image](https://cloud.githubusercontent.com/assets/1210596/11327204/777302c6-9133-11e5-9e5b-2bc1a592a78f.png)

[2015-11-23 00:20] mbalex99 commented on #765
Well I'm trying to create a custom .d.ts file based off a prototype extension with RxJS and Firebase

I have a file **RxFirebase.ts** that has

[code]

And I'm trying to create another ***RxFirebase.d.ts*** to specify the shape of the prototypes that I've defined.

I'm using declaration merging to do this:

[code]

I've included

`/// <reference path="../node_modules/@reactivex/rxjs/cjs/Observable

[2015-11-23 00:38] mbalex99 commented on #765
I'm pretty sure this is a bug because *.d.ts files will turn into file modules if there are imports at the root level.

[2015-11-23 00:45] kwonoj commented on #765
: Interesting, since current build configuration simply ask typescript compiler to generate type definition while building. Will try to look for anything could explain this behavior.

[2015-11-23 00:47] kwonoj commented on #763
At immediate sight, I'd expect each subscription unsubscribed when next subscription starts, like below.

[code]

[2015-11-23 05:24] kwonoj commented on #765
After looking for some references, I came to think this is expected behaviors with `external` modules.

*from http://www.typescriptlang.org/Handbook*

A common mistake is to try to use the /// <reference> syntax to refer to an external module file, rather than using import. To understand the distinction, we first need to understand the three ways that the compiler can locate the type information f

[2015-11-23 05:25] kwonoj commented on #765
I'd like to suggest to use direct import as current typescript suggests, or use bundling if ambient declaration is necessarily required. Since this is depends on TypeScript implementation behavior, I'd like to close issue on RxJS end.

[2015-11-23 06:58] kwonoj commented on #765
After giving another thought bit more, it may be considerable to bundling on RxJS end.. leaving this issue opened for a while to gather opinions.

[2015-11-23 10:40] chrisprice commented on #758
My (potentially edge!) use case involves a source of deltas to a data structure. In order to apply the delta I need a reference to the existing data structure. E.g. -

[code]

The [commit](https://github.com/ReactiveX/RxJS/commit/61e173b5003b6b0d38d6da076e82a8aa31e70f62#diff-18ecd71915593d19863b5afc958987b1) which changes it from public to private doesn't provide any context.

My options are to -

[2015-11-23 12:36] staltz commented on #760
Yes, definitely we should mention.

[2015-11-23 18:44] kwonoj opened #766 "Expand operator behavior"
Took example snippet from RxJS 4,

[code]

*RxJS4*
[code]

*RxJS Next*
[code]

[2015-11-23 20:34] eliashdezr commented on #458
I´m having this issue:
[code]

[2015-11-23 23:03] blesh commented on #760
That all sounds fine. I'm going to leave this up for another week (after this comment), then I'm going to close it.

[2015-11-23 23:07] blesh commented on #766
This seems to be more related to `take`, as when I remove `take` it works fine.

cc/ @trxcllnt

[2015-11-23 23:11] blesh commented on #758
BehaviorSubject's `value` property should not have been made private. That's a good catch. `getValue` seems redundant of the `value` property is public, what do you think?

[2015-11-23 23:13] blesh commented on #458
@eliashdezr try updating your version of npm.

[2015-11-24 00:50] staltz commented on #458
@eliashdezr I executed the same command using npm `v2.14.7` and it worked. Maybe there was some firewall or offline network connection?

[2015-11-24 01:10] eliashdezr commented on #458
I updated to `npm v2.14.12` and it worked. Thanks!

[2015-11-24 05:06] mbalex99 commented on #765
Yes I understand the bundling concept,

It's just that I'm trying to describe the shape of a method after applying a custom prototype.

Isn't it bad to have `import` statements in `*.d.ts` files? Having that `import` makes them file modules doesn't it? Doesn't that defeat the purpose of the `*.d.ts` definition functionality since they are there to help the compiler?

[2015-11-24 08:30] chrisprice commented on #758
I don't like a completely public value because it can then be set without
triggering the subscriber's next.

I was thinking that hiding it behind either a ```getValue``` or ```get
value```protects against this. However, in TypeScript you can get a similar
effect by returning a stricter interface and in JavaScript the _value
member would be directly accessible anyway.

I suppose the big advantage i

[2015-11-24 19:48] blesh commented on #765
I tend to use ES6 for most of my projects outside of this one :)

Perhaps @robwormald or @jeffbcross will have better insight into this?

[2015-11-24 19:50] blesh commented on #758
All I know is it's available via `value` in RxJS 4. That's generally where I've gotten it from. I'm not opposed to a `getValue()`, per say. But I think keeping `value` public to maintain that bit of compatability is probably a good idea.

[2015-11-24 19:57] mbalex99 commented on #765
@blesh Unless I clearly don't understand something about the *.d.ts files, I don't think it has too much to do with ES6 as it does making TypeScript understand that you will have some sort of shape to a function, class, etc... by runtime.

If you prototypically extend an existing class, in the case of an extension method to have some RxJS abilities, you'll need to tell TypeScript that you've modif

[2015-11-24 19:59] blesh commented on #765
@mbalex99 ... I guess I was saying I don't run into this issue, so it's hard for me to form an intelligent opinion on the matter one way or the other.

[2015-11-24 20:00] mbalex99 commented on #765
@blesh ohh sorry I thought we were fighting.

[2015-11-24 20:02] blesh commented on #765
![http://i.imgur.com/3f2VG.gif](http://i.imgur.com/3f2VG.gif)

[2015-11-24 20:02] robwormald commented on #765
This is a recent change to Typescript, and it very much aligns with their stated goals.

The `declare module {}` syntax is known as "ambient" modules, whereas the new ES6-aligned style is known as "external" modules. I did a write up in an angular issue here https://github.com/angular/angular/issues/5248#issuecomment-156886060 - maybe give that a read over and let me know if it answers your questi

[2015-11-24 20:04] robwormald commented on #765
TLDR - if you're writing 3rd party modules on top of this library, author in TS using the new syntax and stuff should pretty much just work. Hand generating `.d.ts` files is so last year.

[2015-11-24 20:06] mattpodwysocki commented on #758
@blesh calling `.value` is an anti-pattern for many reasons.  If you look at `getValue()` as it stands today it does a number of things.

1. Checks if the current `BehaviorSubject` has been disposed.
2. If there was an error in the stream, then you cannot just get the value, instead the error is thrown.
3. If all else is successful, then you may get the value.

Simply exposing `.value` breaks that

[2015-11-24 21:44] blesh commented on #758
Okay... `getValue()` then.

[2015-11-25 10:54] gsans opened #778 "Operators docs links seem to be broken or not present"

[2015-11-25 17:38] blesh opened #786 "Thoughts on static `mergeAll` and `concatAll` operators"
So we currently have `Observable.merge`, and recently there was even a PR to make it accept an Array.

I've thought about this quite a bit, and I think `Observable.mergeAll` probably has some merit. In fact, it probably should have been the version of `Observable.merge` that accepts an Array.

`Observable.mergeAll` could accept (along with a concurrency limit and a Scheduler):

- `Observable<Obser

[2015-11-25 17:49] blesh opened #787 "Rename `fromCallback` to `factoryFromCallback`"
Since `Observable.fromCallback` doesn't really create an Observable, but rather creates a function, the name is a little confusing. `Observable.factoryFromCallback` makes a little more sense, as suggested by @staltz.

Related discussion in #729 is around whether or not it should be in Rx "core". It adds a lot of weight for limited value, IMO. I personally have never used this method, but perhaps i

[2015-11-25 17:50] staltz commented on #786
Looks neat, specially for implementing `repeat` and `retry`. But it also means we need to introduce static `mergeAll()` / `concatAll()` right? Currently we only have proto `mergeAll()`.

[2015-11-25 17:52] kwonoj commented on #787
+1 for renaming, I was also hit confusion first time try to use `fromCallback`, thought it directly returns observable.

[2015-11-25 18:01] staltz commented on #787
I vote for `factoryFromCallback` and not in core.

[2015-11-25 18:14] luisgabriel commented on #787
+1 for renaming and should not be in core.

I don't like the new name very much, but I don't have a better suggestion right now.

[2015-11-25 18:38] kwonoj commented on #390
Since #755 is landed, I'll close this issue.

[2015-11-25 18:38] #390 closed

[2015-11-25 18:45] #657 closed

[2015-11-25 19:17] kwonoj commented on #766
Took a look this bit more, this is behavior of `expand`. Internally it recursively calling `_next()` to expand, having 2 problems

- for infinite expand with subscription, recursive call causes stack overflow
- in case of scalar value result via projection at
[code]

it infinitely continues while there isn't terminating condition.

[2015-11-25 20:10] mattpodwysocki commented on #787
:-1: on both renaming and removing it from core. It is essential for both Node programming but also binding to things such as jQuery etc. The from should also stay as is. After all toPromise isn't consistent either but yet I don't see any outrage over that. That and I hate the word Favtory since it sounds too Java-like.

[2015-11-25 20:56] blesh commented on #786
Most likely, yes.

[2015-11-25 20:57] #658 closed

[2015-11-25 22:14] kwonoj commented on #661
I'm assigning this myself for evaluating if current test cases can be moved into typescript based one.

[2015-11-27 02:07] varghesep opened #811 "Angular2 component with paging support done with RxJS"
The following code is from a working sample. This is an Angular2 list component with paging with PREV and NEXT buttons. The Angular2 **http** module uses RxJS.

In the example, you will see that I'm keeping the state like **page** and **totalPages** to keep track of the page where it is and is passed to the server to get the data.

I'm not sure I'm using the reactive aspect in this example correct

[2015-11-27 08:16] robwormald commented on #787
We could call it observablifyCallback (like Bluebird's "promisify" method) ;-)

[2015-11-27 11:43] staltz commented on #787
@mattpodwysocki fair enough, about core membership. But the name? Is Java-likeness really the problem? Plenty of people have tripped over `fromCallback`. The current documentation is really bad, describing it simply as "Converts a callback function to an observable sequence." which is not true.

If not a rename, we could change it to actually return an Observable, not a function. E.g.

[code]

If

[2015-11-28 01:17] blesh commented on #787
Well more interesting than that, @staltz, it returns a function that returns a stateful Observable that caches it's result, similar to `fromPromise`. It's very different from all of its like-named siblings.

[2015-11-28 11:32] staltz commented on #787
Hmm, indeed https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/linq/observable/fromcallback.js#L16
I didn't know about that. What are the problems of implementing `fromCallback` like I described above (stateless, with Observable.create)?

[2015-11-29 01:11] blesh commented on #787
No problem other than compatibility concerns, AFAICT.

[2015-11-29 18:25] staltz opened #825 "Using Subjects as Observers"
I think this is a bug. Currently RxJS 5 Subjects cannot be used as Observers in `source.subscribe(subject)`, even though Subject implements the Observer interface.

[code]

This should be simple to fix, but should be accompanied by tests too.

[2015-11-29 20:21] blesh commented on #825
This is totally a bug. They should work as observers. It's half the point.

[2015-11-29 20:22] blesh commented on #825
Also, you shouldn't have to use `asObserver`.

[2015-11-30 08:14] staltz commented on #825
Agreed.

[2015-11-30 08:44] staltz commented on #787
So, let's keep the name but fix the functionality...

[2015-11-30 09:02] blesh commented on #787
I'm inclined to agree with @staltz, we should let users compose the behavior they want here, and with consistent tools.

[2015-11-30 09:33] staltz commented on #825
@blesh Apparently I'm not able to reproduce the bug, it seems everything is ok. See PR #828. I'm awaiting for a bug report from @TylorS who originally reported this bug to me.

[2015-11-30 10:13] staltz commented on #787
A problem with changing the functionality is the signature starts getting really complicated:

[code]

`args` should be an array, so if callbackFunc takes 3 arguments, it would be
[code]

Should we drop `ctx` and `selector`, or do something else?

[2015-11-30 17:04] blesh commented on #787
@staltz ... We wouldn't want to drop selector. It's an important feature for these types of creation methods because it generally saves people from creating a second subscription to `map` the values they're getting back. I'm unsure about the `ctxt` argument, but then again, I'm in favor of removing all of the `thisArg`-type arguments in general.

[2015-11-30 17:16] mattpodwysocki commented on #787
@blesh context is absolutely necessary, for example, if I were to call a method on a stateful object, it would lose its `this` immediately for example:

[code]

[2015-11-30 17:17] blesh opened #838 "Scheduler name bike-shedding"
Currently the trampoline scheduler is named `immediate`, and the microtask scheduler is named `nextTick`. There is als

I propose that we rename `immediate` to `sync`. I say this because `immediate` sort of implies that the scheduled action is going to take place right away, and that's not *really* true. It's going to be bumped from it's current call stack and executed next, but synchronously.

Fo

[2015-11-30 17:18] mattpodwysocki commented on #787
I would be perfectly willing to rename to names such as `bindCallback` or `bindNodeCallback` but the `from` implied that we are converting it (eventually) to an Observable.

[2015-11-30 17:22] blesh commented on #787
I think what bites people is that `Observable.fromCallback` reads as "Observable from callback" to me. As in, it's going to return an observable from that call like `from`, `fromArray`, `fromPromise`, `fromEvent`, `fromEventHandler`, etc.

[2015-11-30 17:25] mattpodwysocki commented on #787
@staltz there is a reason here for using an `AsyncSubject` as we do not want to continue to fire the callback time and time again, when once is good enough for something with a callback such as:

[code]

To "share" that behavior you would either have to publish/refCount or worse leading to worse performance.

[2015-11-30 18:33] staltz commented on #838
I see no objections to this...

[2015-11-30 18:38] staltz commented on #787
`bindCallback` sounds like a better name than `fromCallback`, but I'm not sure yet what's the best overall solution. Currently there isn't even an AsyncSubject in RxJS 5, and I also think in some cases people want to continue firing the callback time and time again, in the weird cases* the callback does some side effect which people want to repeat.

* because JavaScript and hundreds of thousands o

[2015-11-30 18:55] blesh commented on #787
... this is why I was suggesting that we make the caching behavior of this something that we can compose in.

[2015-11-30 19:00] blesh commented on #838
In talking to @chriscareycode, @abersnaze and @stealthcode at Netflix, there were a few other options presented for names around `immediate` in particular:

- `queueImmediate`: because it gives users the sense that scheduled items are being buffered in some way.
- `trampoline`: because it's a brand new word with no connotations in the JS community which may make it more memorable, and describes wh

[2015-11-30 19:02] staltz commented on #838
Trampoline sounds the best IMO.

[2015-11-30 19:04] kwonoj commented on #838
+1 for `trampoline` and 'currentThread didn't make sense ' both. (intrigued into 'jenga' for sec..)

[2015-11-30 19:04] blesh opened #839 "cache operator"
Currently, if you want to cache some results from an Observable, you're forced to use `publishReplay` or a `ReplaySubject` or something to that effect. There are a few problems with this approach:

1. It's not really apparent to users that this is what they need to do.
2. The default behavior of `publishReplay` isn't what most people would want for common scenarios. For example: If there is a erro

[2015-11-30 19:05] blesh commented on #839
oops... still working on that... please hold...

[2015-11-30 19:29] blesh commented on #838
I'd be interested in thoughts from @zenparsing, @domenic, @wycats or @stefanpenner on this, as well. I'm sure this sort of scheduling has come up in conversations at the TC39, and they might have more specific vernacular we could leverage.

[2015-11-30 19:39] mattpodwysocki commented on #838
@blesh that's been the problems with transporting the names from runtime to runtime.  CurrentThread has a history of doing recursive scheduling right, placing things in the right order whereas the immediate was indeed immediate.

Consider the difference:
[code]

Whereas the immediate scheduler would do the following:
[code]

[2015-11-30 19:43] mattpodwysocki commented on #838
@blesh had I done it over again, I would have the following:
- `Scheduler.asap` for using the fastest transport mechanism available in a non-blocking fashion
- `Scheduler.async` for slower mechanisms such as `setTimeout` etc
- `Scheduler.immedate` once again for immediate scheduling
- `Scheduler.sync` for synchronous scheduling that would once again mimic the current thread implementation.

[2015-11-30 19:47] mattpodwysocki commented on #787
@blesh @staltz I don't get why `AsyncSubject` is not in RxJS v5 since its wide use in RxJS v4, especially with data access and caching. Yes, for the most part it was an anti-pattern to use Subjects explicitly but had many uses such as `publishLast`, `start`, `startAsync` among others. After all, it is part of RxJava and all other implementations of RxJS

[2015-11-30 19:51] blesh commented on #838
I completely get it.

For RxJS 5, we've had the _lack_ of a scheduler mean "immediate" as in "no scheduling at all, just call it".

Scheduler.async for slower mechanisms such as setTimeout etc
Scheduler.immedate once again for immediate scheduling
Scheduler.sync for synchronous scheduling that would once again mimic the current thread implementation.

I sort of like `asap`, for the "microtask" sch

[2015-11-30 19:52] blesh commented on #787
Honestly, the need hasn't arisen. That's probably the only reason it's not in here.

[2015-11-30 19:53] blesh commented on #763
@staltz ... I believe this was solved with #769, no?

[2015-11-30 19:54] kwonoj commented on #763
I believe so (though I'm not @staltz :) ) PR still need to be merged though.

[2015-11-30 19:55] staltz commented on #787
Yeah, never used AsyncSubject neither `start` neither `startAsync` neither `publishLast` myself either.

[2015-11-30 19:56] blesh commented on #766
`expand` is apparently missing the `scheduler` argument. We should still default to "no scheduler", which means immediate execution (and potential stack overflow).

[2015-11-30 20:00] kwonoj commented on #766
: compare to RxJS4, yes it does. I'll try changes for this.

: I think this is similar case to https://github.com/ReactiveX/RxJS/issues/651, eventually might need some  mechanism to avoid stack overflows.

[2015-11-30 20:01] blesh opened #841 "expand missing scheduler argument"
I pointed out [here](https://github.com/ReactiveX/RxJS/issues/766#issuecomment-160740919), that we are missing a scheduler argument for `expand`. This is necessary for changing the behavior of when `expand` subscribes to observables returned by the selector.

It should default to no/null/undefined scheduler, which means immediate execution.

Related to #766 #788 #793

[2015-11-30 20:01] #760 closed

[2015-11-30 20:01] blesh commented on #760
closing for inactivity.

[2015-11-30 20:02] #438 closed

[2015-11-30 20:02] #464 closed

[2015-11-30 20:02] blesh commented on #468
I think we've decided not to do this.

[2015-11-30 20:02] #468 closed

[2015-11-30 20:03] blesh commented on #651
closing for inactivity.

[2015-11-30 20:03] #651 closed

[2015-11-30 20:03] mattpodwysocki commented on #838
@blesh and for the most part, RxJS v4 has done the same with `immediate`, bypassing when specified and just returning an empty Disposable since it wasn't really capable of being cancelled anyhow.

[2015-11-30 20:04] blesh commented on #722
BUMP: I think we still need to come up with something here.

[2015-11-30 20:06] blesh commented on #752
Closing this for now. I think RxJS is going to willfully deviate from @zenparsing's spec on this issue. :)

Being able to opt-in to asynchrony is fine for now.

[2015-11-30 20:07] blesh commented on #750
@robwormald what is the status on this?

[2015-11-30 20:08] robwormald commented on #750
About 20 minutes away

[2015-11-30 20:08] blesh commented on #750
:+1:

[2015-11-30 20:08] blesh commented on #763
okay... reopening until the merge.

[2015-11-30 20:10] staltz commented on #722
Wait a minute, how is switchFirst different to mergeAll with concurrency=1?

[2015-11-30 20:19] zenparsing commented on #838
From my point of view the only kind of scheduling that makes sense is "job queuing" (called microtask queue elsewhere).  : \

[2015-11-30 20:20] zenparsing commented on #838
Therefore I don't see the point in all of these different (and confusing) names.

[2015-11-30 20:21] blesh commented on #766
That mechanism is allowing users to provide a scheduler.

The problem is that any mechanism to avoid stack overflows also: 1. is less performant, and 2. makes debugging with call stacks gnarly. ... those are two of our top goals.

[2015-11-30 20:23] blesh commented on #722
it drops all incoming observables until the first one it receives completes.

[2015-11-30 20:25] blesh commented on #838
Suppose you want to _synchronously_ traverse a tree recursively and the tree is 1000 levels deep.

... that's why there is more than one scheduler. :)

[2015-11-30 20:29] mattpodwysocki commented on #838
@zenparsng where you are coming from and where we are, are two different spots.  There is the want, especially on the ES-Observable, to make everything async, hence the microtask.  Here, we want the swappable concurrency layer to choose which is right for us, like `requestAnimationFrame`, `nextTick`, `setImmediate` or queued as it were.

[2015-11-30 20:29] staltz commented on #722
And I just noticed we don't have tests for the concurrency parameter given to mergeAll. But you see what I mean right? With concurrency=1, mergeAll ignores all incoming observable until the active(s) one(s) complete.

[2015-11-30 20:36] staltz commented on #722
Alright, I noticed the difference. `mergeAll(1)` doesn't drop incoming observables, `switchFirst` does.

**mergeAll(1)**
[code]

**switchFirst**
[code]

[2015-11-30 21:06] kwonoj commented on #763
Now really closing issue.

[2015-11-30 21:06] #763 closed

[2015-11-30 21:25] trxcllnt commented on #838
@blesh btw I have the RequestAnimationFrame Scheduler in a [branch](https://github.com/trxcllnt/RxJS/tree/RequestAnimationFrameScheduler).

[2015-11-30 21:29] blesh commented on #838
@trxcllnt ... well PR that thing! 😝

[2015-11-30 21:31] trxcllnt commented on #839
@blesh I experimented a long time ago with a `memoize` operator (since Observables are async functions, memoization should be possible) but I think it's mostly already covered by `publishReplay`, or so implementation-specific that it's impossible to solve generically without becoming Falcor or GraphQL.

[2015-11-30 21:33] trxcllnt commented on #838
@blesh still needs tests ;-)

[2015-11-30 21:51] blesh commented on #839
One of a few problems here is it's not `retry`-able.

I don't think the goal is to solve it generically, rather to enable people to compose the sort of caching they need from their Observables.

I think the basic idea might be something like:

[code]

[2015-11-30 21:52] blesh commented on #839
... then again, caching would be multicast, so really perhaps it's a better idea to have a `CacheSubject`, with which you're able to more precisely define behaviors than with `ReplaySubject`...

[2015-11-30 21:53] blesh commented on #839
I guess the real test would be whether the design allowed for all/most of the eviction types.

[2015-11-30 22:15] blesh opened #844 "Move Symbol shims into single file."
Considering we're shimming `Symbol` and items on it frequently, I think it would be best to move it into a single file.

That would make this:

[code]

... into this...

[code]

[2015-11-30 23:07] blesh commented on #825
@staltz ... I did fix a bug semi-related to this a while ago: #724

That might have been the culprit... I don't know.

[2015-11-30 23:50] blesh commented on #811
It looks like this has been answered over on Angular's repo. Closing for now.

[2015-11-30 23:50] #811 closed

[2015-12-01 00:02] kwonoj commented on #578
Closing this issue by PR https://github.com/ReactiveX/RxJS/pull/742 now merged.

[2015-12-01 00:02] #578 closed

[2015-12-01 00:12] luisgabriel commented on #841
I can work on this one.

[2015-12-01 00:12] kwonoj commented on #841
@luisgabriel :+1:

[2015-12-01 00:15] kwonoj commented on #766
I'm closing this issue since `scheduler` parameter is being tracked in #841 .

[2015-12-01 00:15] #766 closed

[2015-12-01 00:31] blesh opened #845 "rxjs and rxjs-es6 publishing issues"
1. Right now the package.json files that are being copied to the `dist/es6` and `dist/cjs` directories have a `prepublish` step that tries to build the source. That, of course, fails.

2. There are no READMEs for these two packages. So it looks bad/wrong on npmjs.org.

cc/ @robwormald

[2015-12-01 00:38] robwormald commented on #845
fail.

[2015-12-01 00:38] robwormald commented on #845
assign to me?

[2015-12-01 00:44] blesh commented on #845
Can't you're not in the org. I'll assign to me, and pester you about it.

[2015-12-01 01:05] blesh opened #846 "Update typing for TypeScript 1.7 "polymorphic this typing""
Thanks to @trxcllnt for pointing this out:

http://blogs.msdn.com/b/typescript/archive/2015/11/30/announcing-typescript-1-7.aspx

Basically, since our operators can return different types due to the snazzy lift architecture, we should be returning `: this` and not `: Observable<T>` from them.

... this might get a little nutty when it comes to types that change the generic output, though. `map` fo

[2015-12-01 01:15] blesh opened #847 "Move to singular-form names for directories"
After #843 was merged, it made things more ergonomic to use a singular-form directory name for observable types.

I think we should probably move all directories over to singular for for consistency. This way it can be used like:

[code]

[2015-12-01 01:17] blesh commented on #351
I think we're probably good on these for beta. It's probably more prudent to identify additional macro perf test cases as RxJS 5 is used more in production.

[2015-12-01 01:17] #351 closed

[2015-12-01 01:19] blesh commented on #350
reducing type checking in a really, really commonly used operator as well as making it less polymorphic.

[2015-12-01 01:22] kwonoj commented on #846
I was interested in this topic bit while ago when introduced 1.8 dev of typescript in RxJS, hit couple of roadblocks at the moment.

**: `lift` returns new instance**
`lift` does create new instance and returns it
[code]
causes compiler complains about type inferences like `Type 'Observable' is not assignable to type 'this'`

polymorphic `this` requires to return self, such as
[code]

**: polymorp

[2015-12-01 01:24] kwonoj commented on #846
Note : it is completely possible I'm not fully knowledgeable about this feature and above comment could be wrong for some aspect. Above comments are based on my initial exploration.

[2015-12-01 01:25] blesh commented on #846
That's too bad. I'll close this for now, then. And perhaps file an issue with TypeScript for our specific use case/needs.

[2015-12-01 01:25] #846 closed

[2015-12-01 01:49] zenparsing commented on #752
I'm not understanding why eager (too-early) emission is a better default, when there seems to be agreement that eager emission is a potential footgun.  It's trivial to implement an eager version of `of` and `from` if that's what is wanted.

[2015-12-01 02:12] trxcllnt commented on #752
@zenparsing it's not trivial to implement a synchronous `of` and `from` if they're spec'd to be async by default (without rewriting and replacing them on the prototype, but that's dirty). It is trivial to emit asynchronously if scheduling is parameterized: `Observable.of(1, 2, 3, Scheduler.nextTick)`.

What am I missing here? Is this the same as the async subscribe issue?

[2015-12-01 02:41] blesh commented on #752
*Technically*, we can opt in to the synchronous behavior just as easily as opting out, because of the Scheduler behavior. The real question is if the spec is around scheduling *subscription* or scheduling *emission*. The latter is pretty gross because of what it does to call stacks. The former still messes with call stacks, but not quite as bad as the latter.

[2015-12-01 02:45] trxcllnt commented on #752
@blesh that's only half true. You couldn't opt-in to the synchronous recursive scheduling strategy in an async-spec'd world.

[2015-12-01 02:47] blesh commented on #752
We're not spec'd here, though. We could default the `scheduler` argument to the microtask scheduler (nextTick or whatever), and then if someone passes a `Scheduler.NONE` or `Scheduler.immediate` we can opt-out of scheduling or use the immediate scheduler (respectively).

[2015-12-01 02:55] trxcllnt commented on #752
@blesh so we're going to require people pass `undefined` as the last argument to `of` and `from` when they want to opt-in to what is default behavior everywhere else? That doesn't seem very friendly.

Most of the performance wins in real-world scenarios are because we fall-back to the recursive scheduling strategy with loops. It's likely `of` and `from` are most likely used from within the selecto

[2015-12-01 05:26] kwonoj commented on #844
Typesciprt side support of es6 global symbol (https://github.com/Microsoft/TypeScript/issues/980) makes bit hard to use module name `Symbol`, causes name collision in es6 build like

[code]
while other (cjs, etcs) are built. What about having different name for this module, maybe `SymbolPolyfill` or something else?

p.s :
seems global symbol is supported for es6 only, using those global symbol and

[2015-12-01 08:25] staltz commented on #839
`.multicast(() => new ReplaySubject(cacheSize)).refCount()` is retry-able

[2015-12-01 14:09] #765 closed

[2015-12-01 14:10] jeffbcross commented on #751
Closed by @robwormald in 185abdfb24065d014263ebabfb0af5d5fda3fb42

(Issues have been opened to fix bugs introduced in the new process)

[2015-12-01 14:10] #751 closed

[2015-12-01 14:16] jeffbcross commented on #750
Closed by @robwormald in d17a42faa8fd9d0a5ee0f7a1945cc0bf644ad71b

[2015-12-01 14:16] #750 closed

[2015-12-01 15:34] blesh commented on #839
... But it's repeat semantics are wrong. :/

[2015-12-01 15:36] blesh commented on #844
Sigh. TypeScript. LOL. We may have to go back to using Babel to target ES5.

TypeScript also doesn't allow generators in code targeting ES5. Which isn't a big issue so far, but I've hit it playing around.

[2015-12-01 16:13] staltz commented on #839
Wrong how? (Just trying to understand)

By the way, this is weird:
[code]

[code]

In both cases it repeats just 2 times, and no termination.

[2015-12-01 17:09] ntilwalli commented on #825
@staltz Isn't this similar to issue https://github.com/ReactiveX/RxJS/issues/748?

[2015-12-01 17:27] architruc commented on #787
Hi, jumping into the discussion,

In an Angular 2 application, I have cases when I need `AsyncSubject`: getting some async result and making it available for other services of the app. There can be multiple subscriptions, the result is got only once. This is similar to what @mattpodwysocki described.

`AsyncSubject` or any alternative to reproduce this behavior (what we have with promises when alw

[2015-12-01 17:32] mattpodwysocki opened #850 "Add AsyncSubject"
Add AsyncSubject to RxJS v5. Other subjects can be added in the future, but this one is tried and true and used by many community members.

[2015-12-01 17:48] blesh commented on #752
No. You could have them pass `Scheduler.unscheduled` or `Scheduler.none` or the like:  `Observable.of(1, 2, 3, Scheduler.unscheduled)`.

I completely agree with @trxcllnt on this, @zenparsing. The only time someone uses `Observable.of` as the start of an observable chain is for examples and demos. In practice, `Observable.of` is much, much more likely to appear as a value returned by the selector

[2015-12-01 17:55] mattpodwysocki commented on #850
@blesh @staltz correct me if I'm wrong, but wouldn't it be as simple as this?

[code]

[2015-12-01 17:57] zenparsing commented on #752
If it's an in-memory sequence, why map to an Observable?  Why not map to an iterator (or iterable) and then flatten over that?

[2015-12-01 18:12] blesh commented on #850
LGTM.

I think once this completes, you could set `_isScalar` to `true` on it and get some benefits from operators that fast-track scalar observables.

[2015-12-01 18:51] blesh commented on #825
@staltz @ntilwalli I just tried every Subject type from the latest build and I couldn't reproduce this issue.

If we can't reproduce it, can we close this?

[2015-12-01 18:55] blesh commented on #748
I think that I've fixed this with #724, but inadvertently (I wasn't trying to fix it, I was fixing something else), and in a way that's probably less desirable than @ntilwalli's proposal.

[2015-12-01 19:10] blesh opened #851 "Move to just using Markdown docs (ala RxJS 4)?"
So, I find the documentation generation problematic.

### Doc Gen (esdoc, et al)

PROS:
1. It maintains links between the source and the docs.
2. Inline docs can be helpful.
3. It's easier to remember to update docs when they're right next to the code your changing.

CONS:
1. it's really *that* much prettier/readable than markdown
2. it's not always straightforward to create just want you want to

[2015-12-01 19:17] blesh commented on #787
@architruc you're in luck: #850

[2015-12-01 19:26] blesh commented on #787
I agree here. It might be better to be able to compose the behavior: `Observable.fromCallback(someFn).publishLast().refCount()`

We can add `bindCallback` as a helper for the above, of course.

@mattpodwysocki wouldn't your example behave the same with `const animate = Rx.Observable.fromCallback($book.animate.bind($book))`?

Or even nicer with ES function bind: `Rx.Observable.fromCallback(::$book.

[2015-12-01 19:38] benjamingr commented on #787
+1 for core, this is very fundamental and important in getting more people on board with Rx. Anything that means less complexity for people get started and less mistakes in code they write is good IMO.

+1 for renaming, this name implies it returns an observable and doesn't make a lot of sense.

I think `observify` and a prototype method might be good (very widely used in bluebird) but I assume we

[2015-12-01 20:10] staltz commented on #851
I'm pretty optimistic about esdoc. In general I'm favorable of putting technical specs of each operator in esdoc, and then elaborating in more details at reactivex.io where we can put documentation not linked directly to source code.

[2015-12-01 20:11] blesh commented on #787
If that were a major concern, would you not just implement your own `bind` method and compose it in? It would be a LOT more readable than the `thisArg` arguments.  `takesAFunc(bind(someFunc, someObj))` vs `takesAFunc(someFunc, someObj)`. I mean, it would be much more clear that you're binding the function to the object then at least. The mythical "self documenting code" and all of that.

That's tr

[2015-12-01 20:12] blesh commented on #851
That's totally true. I'd lost sight of that when I made this issue. (I'm not sure why it's come up at Netflix a dozen times)

[2015-12-01 20:17] blesh commented on #839
... oh, I should have been more specific.

In the second example you have, it's not really replaying cached values when you `repeat` it. It's just starting all over again.

The desired behavior for a cache (in most cases) would be:

1. run the source Observable once and cache the values
2. if completed, all subsequent subscribers would get the cached values. (this means that `repeat` would repeat

[2015-12-01 20:18] blesh commented on #839
... this might be accomplishable with the connection semantics that @trxcllnt described a long-long time ago.

[2015-12-01 20:21] blesh commented on #752
Good point... and you can totally do that in RxJS 5. In fact, we've optimized for just that sort of thing.

[2015-12-01 20:23] blesh commented on #752
I'm reopening this for now. I'm seeing fewer and fewer compelling reasons for `of` and `from` to default to being completely synchronous.

The hanging issue that would stop me though would be the fact it destroys the call stack and hinders debugging quite a bit. Especially if the asynchrony is `observeOn` and not `subscribeOn`.

[2015-12-01 20:36] mattpodwysocki opened #854 "Observable.of should be split into two operators"
In RxJS v4, we have two separate `of` operators, `of` and `ofWithScheduler` due to the fact that you could absolutely have the following which would incorrectly state the number of items in the Observable is **2** when it should be **3**:

[code]

Instead, I would suggest separating this into two operators:
[code]

This way we could support having just about anything in the `of` operator instead o

[2015-12-01 20:45] mattpodwysocki opened #855 "Observable#startWith should be two separate methods"
Once again, `startWith` suffers from the same bug as #854 where if you have a list of `Scheduler` instances that it will pop the last argument as the `Scheduler` instance to use which once again would result in an incorrect answer of **2** items in the collection when there should be **3**.

[code]

My proposal is the following with once again having two operators, one without a scheduler, and one

[2015-12-01 20:48] blesh commented on #752
So @zenparsing clarified via Twitter DM that it would be async _subscription_ not observation. The tricky part about that would be that it's actually weirder/harder to opt-out of async subscription, as most Scheduler arguments are used for scheduling observation.

[2015-12-01 21:03] blesh commented on #855
We're already stuck doing that in most cases, because 1. it's generally an optional parameter. and 2. The Microsoft spec actually stipulates that Scheduler be the last argument. So that means in functions with "splat params" we're stuck with a little type checking up front.

This isn't so bad, because we're generally only doing it once when the Observable chain is set up. It would be worse if we h

[2015-12-01 21:05] blesh commented on #854
Currently, `Observable.of` does accept a Scheduler as the last argument.

If you needed to make an Observable of Schedulers for some reason, couldn't you just do: `Observable.from([Scheduler.animationFrame, Scheduler.immediate, Scheduler.nextTick])`?

[2015-12-01 21:23] blesh opened #857 "Scheduler.none implementation"
So right now we have the lack of a passed scheduler determining that various behaviors should not be scheduled. This leads to checks like `if(scheduler) { /* schedule things */ } else { /* call things here */ }`, which is totally fine. However, it does mean that it's hard to go back to the unscheduled behavior for operators (ours or otherwise) that are created with default scheduling.

For example

[2015-12-01 21:36] blesh commented on #838
Okay, I think where this has landed is:

| RxJS 4 | RxJS 5 (current) | RxJS 5 (after) |
|:--|:--|:--|
|Scheduler.immediate|null or undefined|Scheduler.none, null or undefined|
|Scheduler.currentThread|Scheduler.immediate|Scheduler.sync|
|Scheduler.default|Scheduler.nextTick|Scheduler.asap|
|Scheduler.timeout|N/A|Scheduler.timeout|
|Rx.DOM.Scheduler.requestAnimationFrame|N/A|Scheduler.animationFram

[2015-12-01 21:38] blesh commented on #838
... the ideal being no name change, or no conflicting names (`immediate` is different in RxJS 4 and 5 currently)

[2015-12-01 21:55] mattpodwysocki opened #859 "Unsubscribed Subjects should throw ObjectDisposedError if next, error or complete is called."
In the current version of RxJS v4, [we check for disposal](https://github.com/Reactive-Extensions/RxJS/blob/master/src/modular/subject.js#L27) with [`Disposable.checkDisposed`](https://github.com/Reactive-Extensions/RxJS/blob/master/src/modular/disposable.js#L46) so any subsequent call to `onNext`, `onError` and `onCompleted` and even `subscribe` are guarded by throwing a specific error of `Object

[2015-12-01 22:07] robwormald commented on #845
also fix the license copy

[2015-12-01 22:26] blesh commented on #859
It's not intentional, as far as I can remember. I've actually just added an `ObjectUnsubscribedError` per conversation on #853

[2015-12-01 22:27] mattpodwysocki commented on #854
@blesh yes, I could, but we'd have to put a big disclaimer of **DON'T USE OF WITH SCHEDULERS** as part of the documentation which I find kind of distasteful, when in fact we could just have a prettier API for when scheduling is explicitly needed.

Else, we could have a notion of a null scheduler, but I find that ugly as it's a magic value they'd have to remember to put at the end.

[2015-12-01 22:32] mattpodwysocki commented on #855
@blesh yes, the spec says that, but we've had to make the exceptions of course with [`StartWith`](https://github.com/Reactive-Extensions/Rx.NET/blob/859e6159cb07be67fd36b18c2ae2b9a62979cb6d/Rx.NET/Source/System.Reactive.Linq/Reactive/Linq/QueryLanguage.Single.cs#L494-L497)

If you were to keep the scheduler as a parameter, I would suggest moving it to the first parameter just as we have it in RxJS

[2015-12-01 23:05] trxcllnt commented on #752
The Observable creation operators all check their `scheduler` argument against `undefined`. If it's there, they use it, if it's not, they loop locally. Since `Scheduler` doesn't have static `none` or `unscheduled` fields, passing `Scheduler.unscheduled` would evaluate to undefined.

We could (theoretically) introduce a synchronous recursive scheduler that implements the iteration generically (usin

[2015-12-01 23:29] trxcllnt commented on #857
@blesh I would question why we would ever default to something other than `undefined` (outside the time-related operators) before factoring the forking out of the creation operators.

Here's a pseudo-code example of a synchronous iterative scheduler. I don't know if it's worth doing (introduces more method calls at runtime), but we could (probably) eliminate forking in the creation operators:

[co

[2015-12-01 23:31] trxcllnt commented on #838
@blesh I like these names

[2015-12-01 23:56] blesh commented on #838
Some clarification on `sync`:

Every other scheduler is `async`, really*. The only other "synchronous" scheduling is no scheduling at all (`Scheduler.none`), so `Scheduler.sync` could only be the trampoline scheduler.

\* virtual scheduling can be synchronous, but it's manual and we're not talking about that one.

[2015-12-01 23:58] blesh commented on #857
why _we_ would, but anyone can make a custom operator or have some operator that defaults to a specific scheduler. Animation observable libraries defaulting things to `animationFrame` scheduler, for example. In those cases, if someone *wants* to not schedule events, they'd need some sort of scheduler that could be passed.

[2015-12-02 00:02] blesh commented on #857
FWIW, I think for our creation operators, we should still just check for no scheduling, and then handle it appropriately.

[code]

[2015-12-02 00:03] blesh commented on #857
mostly for short call stacks and better performance.

[2015-12-02 00:04] blesh commented on #854
#857 is basically that idea. The library probably needs it anyhow, for reasons outlined in the issue.

[2015-12-02 00:07] #847 closed

[2015-12-02 00:09] #844 closed

[2015-12-02 00:45] blesh commented on #752
I'm proposing adding just that #857. There are other reasons it should exist, frankly. I don't even know if it should be a full-on Scheduler implementation or just a really dumb/simple specialization of the current ImmediateScheduler with `schedule` overridden to just immediately execute anything passed with a delay of `0`.

I don't think there is much we can do to prevent bad developers from shoo

[2015-12-02 00:48] blesh commented on #855
@mattpodwysocki I think if we add `Scheduler.none`, this becomes a non-issue.

`Observable.of('something').startWith(Scheduler.sync, Scheduler.sync, Scheduler.sync, Scheduler.none);`

We can keep the scheduler to be used at the end, and in the unlikely event someone wants to create an unscheduled Observable of Schedulers, they can do so by passing `Scheduler.none` as the last argument.

[2015-12-02 00:52] jeffbcross opened #860 "Provide side-effect-free version of operators"
Right now each of the operator modules contain both the operator implementation AND the Observable-patching side effect logic. This prevents smart people like me from being able to safely import an operator without polluting the `Observable` prototype.

I think the right default behavior is to keep the side-effect-producing modules named as they already are, in the `operators` folder, and import f

[2015-12-02 00:58] blesh commented on #860
I thought about this last night. In Babel, I'd much rather import the operator and use `myObservable::operator()` directly.

I'm generally for this change, but I think that `implementation` is a lot to type. `impl` is more palatable for me.

What if it were something like `with` or `add` or `patch`? Something that described what the import was doing:

[code]

and for direct operator imports:

[cod

[2015-12-02 01:14] jeffbcross commented on #860
@blesh I'm in favor of flipping so that the side-effect free operator is in `rxjs/operators/` and the patching-version is in `rxjs/operators/${subfolder}`. This is more forward-compatible with a future when we no longer need to rely on monkey patching. The subfolder needs a less verby name though.

[2015-12-02 01:18] blesh commented on #860
But the act of importing anything under it is literally acting like a function with side-effects. It's executing code that has side-effects.

`rxjs.addMap()` vs `rxjs/add/map` so to speak.

[2015-12-02 01:28] jeffbcross commented on #860
@blesh I more meant that literally being a verb felt wrong to me, but a noun version of the verb would feel better. But I don't really have a standard or convention to point to to justify my feelings, and I haven't thought of a better name (other than `monkey-patchers`)

[2015-12-02 01:29] IgorMinar commented on #860
I'm fine optimizing for the future and moving the modules with side-effects into a separate directory.

so rather than `impl` we would have `patch` or similar directory that we would use until function bind is a thing. how about that?

[2015-12-02 01:30] IgorMinar commented on #860
`add` as suggested by @blesh is even better than `patch`

[2015-12-02 01:31] jeffbcross commented on #860
@IgorMinar no no no, go back to what you suggested with `patch`. Patch is beautiful because it's a verb AND a noun.

[2015-12-02 01:32] jeffbcross commented on #860
I realize @blesh proposed `patch` in his original comment, and I've now come around to liking `patch`.

[2015-12-02 02:02] zenparsing commented on #752
Yep.

You can always fall back to this line of argument, and that's totally fine, but the fact is that programmers use mutable state within the lexical environment all the time.

For me, the question boils down to this: do we want Observable to be a power tool for FRP enthusiasts?  Or do we want Observable to be a broadly useful async programming model for all kinds of developers (even the ones th

[2015-12-02 03:09] kwonoj commented on #838
Those names looks good to me.

[2015-12-02 03:55] IgorMinar commented on #860
rxjs/add/map reads as add map to rxjs.

rxjs/patch/map reads as patch map to rxjs.

I guess both are fine. "add" is one char shorter.

I'm fine with either. Let's have Ben decide.
On Tue, Dec 1, 2015 at 5:32 PM Jeff Cross <notifications@github.com> wrote:

[2015-12-02 06:08] Widdershin commented on #851
As I mentioned in the original markdown-doctest pull request, if we do opt for esdoc as the future, I will write almost definitely write `esdoctest` if nothing does that already, as I think having runnable examples as a CI enforced concept is quite important.

Don't let `markdown-doctest` sway you too much is all I'm saying.

[2015-12-02 06:10] Widdershin commented on #851
Have any examples been written using `esdoc` so far? Would love to be pointed in the right direction if so.

[2015-12-02 06:24] architruc commented on #850
:+1:  for `AsyncSubject`, thanks!

Just one question: what would be the difference with `new ReplaySubject(1)` (if any)? I just learnt about this alternative from angular2 gitter.

[2015-12-02 07:27] trxcllnt commented on #857
Yes, this isn't possible today unless the animation library falls back to iterative dispatch in the case that no scheduler is supplied (just like `range`, etc.).

If we want a generic recursive scheduler (like RxJS 4's [`ImmediateScheduler`](https://github.com/Reactive-Extensions/RxJS/blob/master/src/core/concurrency/immediatescheduler.js)) that doesn't suffer from stack overflows when synchronous

[2015-12-02 08:49] staltz commented on #851
That would be great!

[2015-12-02 09:29] trxcllnt commented on #752
That's already in RxJS 4 today (as the `ImmediateScheduler`), but it suffers from stack overflows when it's used to reschedule many times in a row.

I concede it happens, but I'm not convinced it should affect Observable's behavior, and I'll illustrate why:

|         | One | Zero-Infinity
| -------|----------|------------
| **Pull** | Function | Iterable
| **Push** | Future | Observable

- A Func

[2015-12-02 11:17] staltz commented on #850
@architruc very different. AsyncSubject does not emit next values before it completes. It only emits on completion, and after completion for late subscribers.

[2015-12-02 11:17] staltz commented on #825
Yeah let's close, Tylor couldn't reproduce it either.

[2015-12-02 11:24] staltz commented on #839
You mean `control`? Should that be in beta, or later?

[2015-12-02 12:11] h13i32maru commented on #851
Hi! I am developing ESDoc. Thanks for using it :smile:

ESDoc supports to integrate markdown file into documentation. Please see https://esdoc.org/feature.html#integration-manual for more information. this might help to you.

If you have feature requests for ESDoc, please tell me it.

Feel free this comment.
Thanks.

[2015-12-02 13:29] staltz commented on #838
I just don't like `asap` because it gives me the idea using it will schedule actions even before `sync` does. (Because `sync` is even sooner than `asap` "as soon as possible")

I get the point that `nextTick` isn't always accurate, but `asap` doesn't capture the idea either.

Perhaps `soon` or `queue`?

[2015-12-02 13:34] zenparsing commented on #838
In the ES spec world, we call these things "jobs" and we have a "job queue".

[2015-12-02 13:37] staltz commented on #851
Perfect, then.

[2015-12-02 14:01] zenparsing commented on #752
[code]

In this case, you've defined `Observable.from` to emit values at subscription time.  The constructor and subscribe protocol allow for fully sync dispatch if that's what you want.

The `Observable.from` that I want looks more like:

[code]

(The actual implementation is [here](https://github.com/zenparsing/es-observable/blob/master/src/Observable.js#L339).)

Since I agree that we should all

[2015-12-02 14:12] architruc commented on #850
@staltz Okay, if I understand well `ReplaySubject` emits at each value (let's say each `next()` in the source), but `AsyncSubject` on `complete()` in the source, right?

Yes, it is different, seems I misunderstood, although `AsyncSubject` could still help in my usecase. Thanks!

[2015-12-02 18:43] ntilwalli commented on #825
This actually did not fix the issue from #748.  I've created a pull request with a fix for that issue.  https://github.com/ReactiveX/RxJS/pull/863

[2015-12-02 18:44] ntilwalli commented on #748
This issue is actually not fixed.  I've created a PR integrating my suggestion.  https://github.com/ReactiveX/RxJS/pull/863

[2015-12-02 19:06] trxcllnt commented on #752
No, because even if I want to replace `of` and `from` with their sync implementations, it's bad practice to mutate built-in Objects, and it's asinine to expect anybody to write anything resembling `Observable.fromSync(arr)` because you don't want to separate subscription from concurrency. Just parameterize it already, or at least don't specify something now that you can't un-specify later.

[2015-12-02 19:25] zenparsing commented on #752
For sure.  But you can subclass:

[code]

Hmm...  I don't necessarily agree with this way of looking at it.  "Subscription" is always synchronous, it's just that by default, when converting in-memory lists to observable sequences, the first element should not arrive before the "subscribe" call has completed.  It's just, I don't know, rude to do that to your consumer because eventually someone's no

[2015-12-02 20:00] trxcllnt commented on #752
One could argue the same thing in reverse.

Anytime you call any function, it may call other functions (even callbacks), before releasing control back to the call site. Attempting to conditionally dictate to a program when certain functions can run seems to be the ruder of the two choices to me.

3. Compose the async behavior over the sync behavior.

Asynchrony can be composed from synchronous beh

[2015-12-02 20:06] zenparsing commented on #752
This is true : )

We had that for a while, but it suffers the same problem that any other async subscription mechanism suffers:  you lose "events" that occur before the next turn.

[code]

But...  maybe we should dust that idea back off and reexamine it...

[2015-12-02 20:08] jeffbcross opened #864 "toPromise on Observable requires promise constructor argument"
https://github.com/ReactiveX/RxJS/blob/master/src/Observable.ts#L247

The constructor should be optional, as it is implemented in the operator itself https://github.com/ReactiveX/RxJS/blob/master/src/operator/toPromise.ts

[2015-12-02 20:09] kwonoj commented on #864
Yes, seems so. I'll update this quickly.

[2015-12-02 20:09] jeffbcross commented on #864
Awesome @kwonoj thanks!

[2015-12-02 20:10] johnpapa commented on #864
thanks!

[2015-12-02 20:18] robwormald commented on #864
Nice one OJ. This sort of thing would be caught with TS running type checks on a TS based test suite, so I'm definitely for that.

[2015-12-02 20:20] kwonoj commented on #864
: totally agreed. Currently 2 proposals opened for this, https://github.com/ReactiveX/RxJS/pull/826 and https://github.com/ReactiveX/RxJS/pull/667. Once it's decided which way to go, test will be added along with updating existing type declarations if necessary.

[2015-12-02 20:30] #864 closed

[2015-12-02 20:48] blesh commented on #860
LOL. Anyone else have an opinion? @kwonoj? @trxcllnt? Haha

[2015-12-02 20:50] mattpodwysocki commented on #787
@blesh I would side with @benjamingr on this one as `Function.prototype.bind` is incredibly slow, so why not give them the ability to do it inline without them having to implement their own custom bind. We can do it for them with little to no cost.

[2015-12-02 20:51] kwonoj commented on #860
One of my biggest weakness is always about naming class, variable, module, etcs whatever, especially in English :sweat: . Personally bit prefer patch though it's somewhat longer than add. (or mutate? update? not sure.)

[2015-12-02 20:55] benjamingr commented on #787
Also, they can't really do it themselves without it. They'd have to allocate a closure.

[2015-12-02 21:21] blesh commented on #787
Technically _our_ impl allocates a closure.

And to use a trick I learned from you, @benjamingr, I think we can provide a _module_ (since we're all about modularity) that gives them a simple bind function that doesn't allocate a closure:

[code]

[2015-12-02 21:21] IgorMinar commented on #787
FWIW, on Angular we found `thisArg` to be problematic when it comes to readability. We removed it from our apis long time ago and rejected any attempts to bring them back in.

In our experience this code is much more readable:

[code]

just my 2c

// cc: @petebacondarwin

[2015-12-02 21:30] blesh commented on #860
Okay, _my_ pick is `add`:

Reasons:

1. 2 keys
2. 3 characters

... also I'm hope to make a `BurgerObservable` at some point with operators for `lettuce`, `tomato`, `pickle`, etc. Using "patch" will make that less fun.

[2015-12-02 21:32] trxcllnt commented on #752
@zenparsing Introducing asynchrony necessitates queueing of some sort (whether it's local in the asynchronous operator sink, or global by deferring subscription), and clean-up logic to cancel and dequeue the prematurely if required.

It's not the Observable's primitive definition, and should be strictly opt-in (via composition), since it is more mathematically and computationally complex than the

[2015-12-02 21:38] trxcllnt commented on #752
@zenparsing and your example output above is what should happen given the *formal* primitive Observable definition. I have a problem with this desire for asynchrony in the primitive methods because it would change how that example works, instead printing:

[code]

[2015-12-02 21:41] trxcllnt commented on #860
LGTM

[2015-12-02 21:46] blesh commented on #787
Okay, after an offline discussion with @mattpodwysocki, I think we can remove the `thisArg` from methods that have it providing that we:

1. provide a small custom bind module. It shouldn't be included in core `Rx`, but perhaps `Rx.KitchenSink`. This will allow users to compose bound functions in a readable and performant way.
2. provide documentation on performance optimization for RxJS that incl

[2015-12-02 21:57] blesh commented on #752
Hmmm... that's a lot of reading to catch up on.

I thought a lot about this last night, and I think (no, I _know_) we should side with the needs and wisdom of the community when it comes to this. Rx/Observables have been around for > 6 years now, and the type has had ample time to mature under the guidance and use of many, many smart people.

During the relatively short time I've been involved wit

[2015-12-02 21:58] blesh commented on #752
also, @trxcllnt, the need for some sort of way other than `undefined` to flag that you don't want to schedule is related to this, but really it's a seperate issue. #857

[2015-12-02 22:00] blesh commented on #839
It doesn't seem to be a major requirement, and if we add it, it won't be a breaking change. I'd love to see a proposal on it.

[2015-12-02 22:02] blesh commented on #838
`Scheduler.job`? Is `job` common enough vernacular?

[2015-12-02 22:13] jeffbcross commented on #860
It is Decided.

[2015-12-02 23:44] blesh commented on #825
@ntilwalli is right: There is a *minor* issue that Subjects are being unnecessarily wrapped in Subscribers. This is less of a "bug" and more of a "refactor".

[2015-12-03 00:05] blesh commented on #838
Talking with @jhusain, he brought up a valid point, that by _strict definition_ of "synchronous", the trampoline scheduler is _not_ "sync" because it schedules on the next call stack. Being in the same event in the event loop doesn't really mean "synchronous" in the strictest sense of the word. For example, if you're inside of an action scheduled on the trampoline scheduler, and it's currently run

[2015-12-03 00:25] blesh commented on #838
Right now I'm inclined to say `currentJob` and `nextJob`, as they meet the ES vernacular, and *seem* to accurately describe what is going on.

@stealthcode brought up the point that we might add `queue` to these to further describe the behavior. so `queueCurrentJob` and `queueNextJob` or something like that. It feels to me like all Schedulers "queue", in some way, so that might be redundant. But I

[2015-12-03 00:28] blesh commented on #851
I think I'm 90% ready to close this issue... But how much description can we add in ESDoc? Can we embed little JSBins or anything like that?

[2015-12-03 02:27] blesh commented on #838
How about:

- Scheduler.none
- Scheduler.queue
- Scheduler.job
- Scheduler.timeout
- Scheduler.animationFrame

[2015-12-03 03:50] superherointj commented on #838
flatMap is actually mapFlat because map happens first only then it is flattened.

[2015-12-03 05:44] kwonoj opened #868 "Expose concurrency parameter of mergeScan"
While `MergeScanOperator` has implementation to accept concurrency parameter

[code]

type definition of `mergeScan` does not allow to use it.

`mergeScan<T, R>(project: (acc: R, x: T) => Observable<R>, seed: R)`.

Would it be better to expose concurrency parameter?

[2015-12-03 07:07] blesh commented on #868
Probably, yes.

[2015-12-03 07:08] kwonoj commented on #868
Cool, I'll try with expanding test coverage.

[2015-12-03 08:02] trxcllnt commented on #838
@blesh I'm lukewarm on the `job` name, as it seems too generic (what's a job? when does it run? why?)

I'm inclined to name schedulers after the method in which they schedule:

`Scheduler.immediate` (same as RxJS 4, but iterative instead of recursive)
`Scheduler.processQueue` (flushes trampoline and blocks current event loop)
`Scheduler.timeout` (uses setTimeout/Interval)
`Scheduler.eventLoop` (us

[2015-12-03 08:17] staltz commented on #752
I've also been reading this, but don't have a lot to add.

One small thing though: synchronous subscription is important for the test scheduler. I tried supporting Promises in the test (or virtual time) scheduler, and ... haha.

[2015-12-03 08:40] staltz commented on #851
Can't even do that in markdown docs. :D

[2015-12-03 08:49] staltz commented on #838
I liked `currentJob`/`nextJob` but I also liked what Paul suggested. At least we got rid of `asap` :)

[2015-12-03 09:22] benjamingr commented on #787
I'm not sure I understand this. For client side code this sounds fine - but then again for client side code performance of async primitives is almost never an issue - for this reason @IgorMinar 's comment is mostly irrelevant here if we're talking about performance.

In terms of consistency I think it might be worth adding since all native methods have it. That's not the issue here again.

The mor

[2015-12-03 12:00] ivan-kleshnin commented on #752
@trxcllnt can you clarify what do you mean by

[2015-12-03 17:39] blesh commented on #838
Still ambiguous: both timeout and eventLoop indeed schedule on the event loop.

[2015-12-03 17:41] blesh commented on #838
HAHA... soft reason that "job" is out: Try googling ECMAScript Job or JavaScript Job.

Yeah... no.

[2015-12-03 18:24] blesh commented on #787
That's fine, I'm willing to keep it on the methods that match native signature names: `filter`, `map`, `reduce`, `forEach`, only for consistency's sake.

I agree this would be a very cool feature, and I'd also like to see this. Make an issue (or better, submit a PR) and we'll get it in.

[2015-12-03 18:27] blesh commented on #787
... it should be noted that I'm not sure an `observablifyAll` would work with the current `fromCallback` implementation, because it returns an Observable that caches the value. I think we need a `fromCallback` that just returns a plain observable (not a function) that doesn't do any caching.

[2015-12-03 18:38] kwonoj commented on #868
Maybe I'm incorrect, came to curious if `concurrency` of `mergeScan` is really being used compare to `merge`. @blesh , may I possibly ask to shed some light to my understandings?

[2015-12-03 18:52] blesh commented on #868
`mergeScan` is definitely looking at the `concurrent` value, it's just not being set from the actual operator function.

https://github.com/ReactiveX/RxJS/blob/f1dc76494cd0b134cd4682503cc479fc6afcbf8c/src/operator/extended/mergeScan.ts#L45

[2015-12-03 19:00] kwonoj commented on #868
: Yes, that's part where I started this issue. I'll think bit more to bring up some code snippets if possible.

[2015-12-03 19:18] david-driscoll commented on #787
It cache's the result from the callback for the invocation, I don't think it caches the result based on the invocation arguments.  The fact the resulting `Observable` caches it's value doesn't mean anything to the next invocation, it's basically acting like a `Promsie`, but you could easily use it as the `projector` function in `mergeMap` for example.

So `observablifyAll` would basically just upd

[2015-12-03 19:51] kwonoj commented on #868
It's simply my dumb understandings about questions above for usage of concurrency :( will continue work on this, thanks @blesh .

[2015-12-03 20:17] blesh commented on #868
I can't think of any use cases for changing the concurrency of this, really. But I can see the utility of it.

@trxcllnt, what's a use case for concurrency in mergeScan?

[2015-12-03 20:21] blesh commented on #851
I know you can't do this in comments, but this is true for .md files committed to the repo as well? Aww, man... 😕

[2015-12-03 20:24] staltz commented on #851
E.g. I know you can't embed youtube videos in .md files, but you can embed images and gifs.

[2015-12-03 20:25] blesh commented on #752
Let's just keep `of` and `from` sync for now, and see what happens with the spec in the TC39. There seems to be an extremely high probably it will change month to month until it reaches a later stage at the committee. I think this library has done what could be considered a best effort in meeting the spec within reason as it's changed drastically over the period of time RxJS 5 has been developed.

[2015-12-03 20:25] #752 closed

[2015-12-03 20:25] Widdershin commented on #851
If we're going to do markdown + esdoc and there's a build step to compile
to html, I feel like we can totally do interactive examples. The code for
extracting code snippets already exists in markdown-doctest, we would just
need to browserify the code and embed an editor in the generated htnl.

I might take a crack at that soon, see what's possible
On 4/12/2015 9:22 am, "Ben Lesh" <notifications@gi

[2015-12-03 20:27] blesh commented on #851
@Widdershin just blew my mind a little there. That sounds really cool

---

I think we can close this issue and stick with esdocs for now then.

[2015-12-03 20:27] #851 closed

[2015-12-03 20:40] staltz opened #875 "Tests asserting unsubscription chains don't break"
We need to add tests that each operator propagates unsubscription from the destination to the source.

Here is an example:
[code]

Notice the use of the `mergeMap` sandwich there.

- - - -

- [x] buffer
- [x] bufferCount
- [x] bufferTime
- [x] bufferToggle
- [x] bufferWhen
- [x] catch
- [x] combineAll
- [x] combineLatest
- [x] concat-static
- [x] concat
- [x] concatAll
- [x] concatMap
- [x] concat

[2015-12-03 20:48] blesh commented on #716
Closing this because it looks like it's not going to happen in the spec, and it's not necessary for anything in this lib at the moment.

[2015-12-03 20:48] #716 closed

[2015-12-03 21:07] blesh opened #876 "Rename fromCallback to bindCallback"
Per the discussion here #787. I think we're in agreement that `fromCallback`'s behavior differs enough from the other `fromX` methods that we can change the name.

[2015-12-03 21:08] blesh opened #877 "Implement `observablify` method"
Per discussion here #787, it would be really good to have an `observablify` method that was similar to Bluebird's `promisify`.

[2015-12-03 21:10] blesh opened #878 "Remove `thisArg` from non-nativesque operators"
Per discussion here #787, we will remove the `thisArg` arguments from all operators that aren't meant to mirror something in native JavaScript.

So really, only `map`, `filter`, `reduce` and `forEach` should have `thisArg`s.

Furthermore, the internal bind helper introduces a closure and should probably be removed in favor of using `apply` or `call` directly within those operators, or it should be

[2015-12-03 21:12] blesh commented on #787
This issue now discusses too much, I've broken the issue into three separate issues based on the decisions that have come out of this.

Closing in favor of #876 #877 #878

[2015-12-03 21:12] #787 closed

[2015-12-03 21:17] #748 closed

[2015-12-03 21:17] #825 closed

[2015-12-03 21:20] zenparsing commented on #752
Sounds good.  I think we captured the arguments here very well.

[2015-12-03 21:22] blesh commented on #752
`<hug>@zenparsing</hug>`

[2015-12-03 21:53] blesh commented on #678
@staltz are you satisfied that this can be closed now?

[2015-12-03 23:42] benjamingr commented on #878
+1 I think this is important for consistency.

Just adding that the following also need a `thisArg`: [`some`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/some.md) [`find`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/find.md) [`findIndex`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/findindex.md

[2015-12-03 23:46] benjamingr commented on #877
It would be a terrific idea to make sure this method has as low overhead as possible - it needs to generate a fast method. It's also important that it returns a function for a regular Rx observable (no caching/etc) and the docs convey that behavior (unicast, which is the default anyway) explicitly.

More important than this is that we have an `observablifyAll` that converts an entire API from call

[2015-12-03 23:54] benjamingr commented on #876
lgtm.

Although I'd still rather see a generated function avoiding the closure, and all the objects/created and copying around here. I'd also like to see a benchmark with it - preferably https://github.com/petkaantonov/bluebird/tree/master/benchmark since it simulates exactly the sort of use case we're discussing here (which is why bluebird used it in the first place) that measures the overhead. I

[2015-12-03 23:54] trxcllnt commented on #752
"Return" just means the mechanism by which a value is communicated to the consumer. In (pull-based) interactive programming, we have language support with the `return` keyword. In (push-based) reactive programming, we don't have language support (yet), and must build this behavior with closures.

Side note: If we didn't have the `return` keyword, you could emulate its behavior with closures too.

[2015-12-04 00:03] benjamingr commented on #860
As an alternative, you can expose patching as separate functionality for observables.

[code]

Isn't that bad, it means the logic for adding the method to the observable prototype is kept in one place and we're exporting functions that can be used with `::`.

I don't feel strongly about it - just want to mention it's a viable alternative here.

[2015-12-04 00:15] david-driscoll commented on #877
My big concern when you're talking no caching is that you might suddenly introduce unexpected side-effects.  For example, `fs.writeFile`, if every subscription to an observable returned from the observable factory version of `writeFile` caused the file to be re-written that would make for some really interesting behavior.

[2015-12-04 00:16] trxcllnt commented on #868
@blesh same as the case for `merge`. `mergeScan(1)` is actually `concatScan()`.

[2015-12-04 00:22] blesh commented on #876
Can you elaborate here?

[2015-12-04 00:24] blesh commented on #868
@trxcllnt That's fair, I was just wondering more like "when would I use this"? That sort of use case.

[2015-12-04 00:32] blesh commented on #860
@benjamingr wouldn't that just be:

[code]

The sucky thing is no matter how you do this, if you want modular operators, you end up mutating the prototype.

The only other thing I can think of is some sort of static observable factory method to which you pass your operators and it gives you back a new instance of a subclass of Observable... something sort of like:

[code]

Still *kinda* gross, but

[2015-12-04 00:37] blesh commented on #877
@david-driscoll you can compose-in caching with things like `publishReplay` and `publishLast` (which we still need to implement, actually).

[2015-12-04 00:38] jeffbcross commented on #860
@benjamingr The primary motivation for the import-based-side-effect approach is that TypeScript 1.8 is planning to support re-opening and adding to types for modules that patch other modules. This is possible because imports must be static, whereas using a method to patch the prototype would not be.

Though I don't think something like `add` is bad.

[2015-12-04 00:40] blesh opened #883 "Implement `publishLast`"
Now that we have AsyncSubject #850, we need to add `publishLast`.

It's basically just:

[code]

[2015-12-04 00:50] kwonoj commented on #883
I'll give it a try on this.

[2015-12-04 01:10] david-driscoll commented on #877
I'm just trying to see where the side-effects would be valuable when you compare it to something like `promisify` which by it's very nature caches the results, because everything is just a promise.

I just look at it as, one invocation of a particular method produces one call to the callback.  In this case then every subscription would produce one call to the callback.

As long as it's documented

[2015-12-04 08:37] staltz commented on #678
Definitely can be closed.

[2015-12-04 10:05] benjamingr commented on #877
@david-driscoll it's just the model. Unicast means you can treat the returned observable like a function that subscribe invokes. Things like `retry` make sense. It's true that not all observables in all libraries act like this - but once you understand it it's pretty nice.

As for - "is it a useful default" I'm not sure - but no one is stopping you from mixing and matching.

As corobservify- I thi

[2015-12-04 10:08] benjamingr commented on #876
Yes - look at how promisify is implemented in bluebird. A function is generated for the new function and then the JIT gets to optimize it. Meaning bluebird promisifies at almost zero overhead while other libraries typically are a lot slower.

This is important if we expect it to be called per-request in servers.  On the client it's insignificant though.

[2015-12-04 13:50] david-driscoll commented on #877
@benjamingr  fair enough, just trying to understand the use case.  Thanks!

As long it gets well documented in the future, then it probably won't be an issue in the long run.

[2015-12-04 14:28] benjamingr commented on #877
Basically, my vision is that `Observable.observablifyAll` takes an API and returns that API converted to observables - with all methods that return streams return observables and all methods that take callbacks return observables.

[2015-12-04 16:18] #678 closed

[2015-12-04 16:26] blesh commented on #876
Ah, I see, Bluebird is actually building function via strings. That's what you meant by "generated function". That's an interesting approach, actually. Totally worth investigating for something like this. Thanks @benjamingr for pointing me to that. Hopefully I'll have time soon to try it with some perf tests.

[2015-12-04 17:21] jinroh opened #887 "catch operator regression"
Observables returned by the `catch` operator are not properly unsubscribed when used as inner-subscriptions.

Here is a small repro-code:

[code]

[code]
 It looks like it has been introduced in this commit 280f7eda0385d0dfca7cea474d46f8a6a8f07196.

[2015-12-04 17:38] staltz commented on #887
And fixed by #886 .

[2015-12-04 17:45] jinroh commented on #887
Haha ! I love this project. Thanks @staltz !

[2015-12-04 17:45] #887 closed

[2015-12-04 18:58] jeffbcross commented on #845
I'm taking this on

[2015-12-04 20:25] #845 closed

[2015-12-04 20:33] #860 closed

[2015-12-04 22:08] #883 closed

[2015-12-04 22:15] genaby commented on #752
As it was said: sync can be turned into async, but async to sync is impossible. Only that fact is enough to keep sync by default in all possible places. Isn't it obvious?

[2015-12-04 22:19] #868 closed

[2015-12-04 22:44] blesh opened #889 "The _helper_ `bindCallback` should probably be removed"
On operators with `thisArg`, we're using a util/helper called `bindCallback`. It has two problems:

1. it introduces a closure, which we're actively trying to avoid.
2. it's got the same name as the `bindCallback` method (formerly `fromCallback`).

Solution:

I think we should remove this everywhere and just use `apply` or `call` where appropriate.

[2015-12-04 22:45] kwonoj commented on #889
So for some of operator still has `thisArg` will directly apply context instead of using `bindCallback`?

[2015-12-04 22:47] blesh commented on #889
right... if you still need to have `thisArg`, it should just use `apply` or `call` directly.

[2015-12-04 22:54] #876 closed

[2015-12-04 23:41] benjamingr commented on #860
It's just all the code duplication that bothers me. I agree that TypeScript and other type systems are a good enough reason to include it statically though.

[2015-12-04 23:46] blesh opened #892 "package name wrong in CJS package.json after build_all"
It currently sets the name to `"name": "rxjs-es6" in the `dist/cjs/` directory. That needs to be `"name": "rxjs"` only.

In the `dist/es6/` directory, the name now needs to be set to `"name": "rxjs-es"`, it's also currently wrong.

[2015-12-04 23:46] blesh commented on #892
cc/ @robwormald @jeffbcross

[2015-12-05 00:12] blesh opened #894 "Observable.of and Observable.from must be on Observable"
Right now the Observable exported by `src/Observable` doesn't have `of` and `from` on it by default. It really should.

`from` is required for interop at the very least.

[2015-12-05 00:12] blesh commented on #894
cc/ @robwormald @jeffbcross

[2015-12-05 00:24] jeffbcross commented on #894
whatev

[2015-12-05 01:38] jeffbcross commented on #892
https://github.com/ReactiveX/RxJS/pull/895

[2015-12-05 01:39] jeffbcross commented on #892
FTR my change didn't introduce this behavior :).

[2015-12-05 08:37] TylorS opened #898 "TypeError: Scheduler.schedule is not a function"
I have some code here for Rx 4 that works just fine - http://jsbin.com/tijopu/edit?js,console

Yet the equivalent for Rx 5 throws an Error
[code]

A jsbin for the RxJS 5 (alpha 10) version is here - http://jsbin.com/jetule/5/edit?js,console

[2015-12-05 08:39] TylorS commented on #898
Also the same with the alpha 12 version - http://jsbin.com/jetule/11/edit?html,js,console

[2015-12-05 09:03] kwonoj commented on #898
RxJS5's `concatMap` doesn't have polymorphic behavior to accept observable directly, instead have strict interface of

[code]

modifying code to

[code]
would work. http://jsbin.com/nidiripeje/edit?html,js,console

[2015-12-05 09:12] TylorS commented on #898
Thank you @kwonoj for the information.

[2015-12-05 09:12] #898 closed

[2015-12-05 09:12] kwonoj opened #899 "Circular reference between Observable and others"
*Observable.ts*

[code]

*Subject.ts*
[code]

ends up with below snippet

[code]

[code]

Subject does not resolves reference to Observable.

[2015-12-05 09:13] kwonoj commented on #899
Not sure if https://github.com/ReactiveX/RxJS/issues/894 is related or not..

[2015-12-05 17:53] blesh commented on #899
It's probably #894. TypeScript is pretty good about hoisting dependencies that would otherwise be circular.

`import {Observable} from 'dist/cjs/Observable';` will just get you the bare-bones Observable without `from` and `of` right now.

[2015-12-05 17:54] blesh commented on #850
This can be closed now, I think.

[2015-12-05 17:54] #850 closed

[2015-12-05 18:12] kwonoj commented on #899
Did couple of try, seems #894 and this need to be updated both. even import `from` / `of` to observable, importing observable directly would not work due to this.

[2015-12-05 19:28] ivan-kleshnin commented on #752
@trxcllnt I'm asking because there is no clear terminology yet.

Matt Podwysocki here http://2014.jsconf.eu/speakers/matthew-podwysocki-async-and-streaming-js-are-we-doing-it-wrong.html presents a very similar division with `single <-> multiple` and `sync <-> async` axis.

So he calls ASYNC what you call PUSH and calls SYNC what you call PULL.
But you say there is such thing as SYNC PUSH. Which me

[2015-12-05 21:14] trxcllnt commented on #752
@ivan-kleshnin no conflict. The terms are meant to describe the relationship between the producer and consumer, not anything about events' location in the 4th dimension. Sync and async are more familiar to most people, but aren't the most precise in this instance.

[2015-12-06 02:46] kwonoj commented on #899
Changed subject to describe this more general, such as

- Observable <--> GroupedObservable
- Observable <--> CoreOperators <--> GroupedObservable ..(direction is not precise, just an example)

and lot of others.

This reference could possibly cause runtime reference resolve issue as described above and also noticeably increases build times.

Tried to solve this via simple ambient declaration but

[2015-12-07 02:08] ntilwalli commented on #899
@kwonoj Just a quick comment, dunno if it's relevant, I introduced this circular import with https://github.com/ReactiveX/RxJS/pull/863 and to deal with it I updated the KitchenSink and Rx files to move the Subject import before Observable. I made a comment to that effect in the discussion and in the checkin notes.  Until I reordered these imports, I was seeing the same error.

[2015-12-07 02:11] kwonoj commented on #899
@ntilwalli I assume top-level (Rx / Kitchensink) is also somewhat related, but not critical at this moment. This issue is specific for module-level import (i.e, import observable only, or something else) to make reference resolve failure to work with specific module. Once this is cleanly resolved, may able to visit top level module also using similar approaches.

[2015-12-07 12:54] DHainzl-Seekda commented on #706
It seems to be an issue with the "/" in the path name which is not correctly escaped by Nexus and not and ReactiveX issue.
It looks like it will be fixed in the next milestone (Milestone 7) of Nexus 3 ... https://issues.sonatype.org/browse/NEXUS-9452

My solution was to temporarily disable the custom registry url in my .npmrc, and as I currently only use it for testing it was a viable option, but

[2015-12-07 17:18] blesh commented on #706
@freeranger: As of right now you can install either the CommonJS or the ES6 versions of this library with `npm install rxjs` or `npm install rxjs-es` respectively.

@timothydowney  does the above also resolve your issues?

[2015-12-07 22:51] blesh opened #915 "Bike-shedding: `switchMapFirst` and `switchMap`"
At the very least, we need to change `switchMapFirst` to `switchFirstMap` to match our naming scheme.

But `switchFirst` doesn't really seem to name what it's doing.

Basically it takes the first Observable it gets and merges it, dropping all subsequent Observables it gets until the first one is complete, _then_ it takes another one.

Ideas I've had so far:

1. `tailDrop` or `dropTail` - https://e

[2015-12-07 22:52] blesh commented on #915
My initial thought is `pick`. I don't like `choose` right off, because it sounds like there should be some sort of predicate to decide whether or not to merge the incoming observable.  Also, `pick` is pretty terse.

The downside is I'm not sure `pick` describes anything much better than `switchFirst`, but at least it doesn't have the confusion of having "switch" in there.

[2015-12-07 22:53] blesh commented on #915
NOTE: I'd like to get decisions on this very quickly, as I don't want to break the API after beta release, if we can avoid it.

[2015-12-07 23:08] michaelbpaulson opened #916 "Bike-shedding: throttle -> ?"
Using real-world idea of what a throttle is makes it very confusing for the first time using the operator as it _blocks until time_ as oppose to letting events through based on time limit passed in.

I am fully ready to accept I am incorrect, but the first time I used throttle this is the expected behavior.

[code]
If the mouse was under continuous use then my expectation was 5 events / second.  I

[2015-12-07 23:23] blesh commented on #916
I think that RxJS 5 already does this. Earlier version of RxJS had `debounce` and `throttle` switched around.

Here is a demonstration of RxJS 5's `throttleTime`:  http://jsfiddle.net/81hox6cy/

Is this satisfactory?

[2015-12-07 23:24] michaelbpaulson commented on #916
http://i1.wp.com/i286.photobucket.com/albums/ll117/humaicons/GIFs/spongebobleaves.gif?resize=500%2C323

[2015-12-07 23:25] #916 closed

[2015-12-07 23:28] blesh commented on #916
😄

[2015-12-07 23:31] blesh commented on #899
@jeffbcross ran a circular dependency check on #912 and found it was green. So that PR is likely all we need to clear this issue.

Also, we're going to add some sort of circular dependency checking to the test build. (again, @jeffbcross)

[2015-12-07 23:41] jeffbcross commented on #915
My gut says `chooseFirst`.

[2015-12-07 23:42] jeffbcross commented on #899
PR for ci check: https://github.com/ReactiveX/RxJS/pull/917

[2015-12-07 23:52] jayphelps commented on #915
exhaust or drain.

[2015-12-07 23:58] kwonoj commented on #899
Cool news, then assume https://github.com/ReactiveX/RxJS/pull/909 can be close without merging? @blesh

[2015-12-08 00:04] blesh commented on #915
it's so focused on whatever observable it has that it ignores all incoming observables until that one observable completes. Then it drops it like it never existed at all and focuses on the very next observable it sees. It's obsessed with whatever observable it gets, so much so that the world around it fades away. Even if the observable it has _never_ emits a value, it'll sit there, staring at it..

[2015-12-08 00:06] jayphelps commented on #915
`scumbagObservable()`

[2015-12-08 00:35] #758 closed

[2015-12-08 00:36] #841 closed

[2015-12-08 01:17] #838 closed

[2015-12-08 01:28] blesh commented on #915
This minimum thing has been done.

[2015-12-08 01:33] blesh commented on #899
#912 closes this.

[2015-12-08 01:33] #899 closed

[2015-12-08 01:58] kwonoj commented on #892
I'm closing this issue since #895 is merged.

[2015-12-08 01:58] #892 closed

[2015-12-08 06:14] #465 closed

[2015-12-08 14:59] staltz commented on #915
I liked `exhaust` that @jayphelps suggested. Another option is `stick` as in "stick with this fella until he ends". Other options: `loyal`, `steadfast`, `stay`.

I don't like `pick` alone because it has the same problem as `choose`: both sound like they expect a predicate. To get the "*picks the first and drops the rest until the first is done*" you'd need an additional word, like `pickFirst`. Sam

[2015-12-08 17:43] wkwiatek opened #988 "Symbol shim is created as an object but should be a function"
Hey,

I had an issue with `zone.js` regarding checking whether `Symbol` exists in the browser or not and it turned out that `RxJS` is initializing `Symbol` as an object the real implementation resolves it as a function. This incompatibility may affect other libraries which relies on symbols (what happens with `zone.js`).

In the library code it's probably following line responsible for that: https

[2015-12-08 19:29] kwonoj commented on #894
Closing this issue per discussion of #922, importing into Observable creates circular dependencies. For now will require manual import until better solution comes in.

[2015-12-08 19:29] #894 closed

[2015-12-08 19:46] blesh opened #994 "Type checking errors and perf"
### Type checks, if we do them, should fail as soon as possible

I came across this one today: https://github.com/ReactiveX/RxJS/blob/43af805aee3d8c54824331943cc6c29573da63ed/src/operator/every.ts#L72-L74

Basically, the `every` operator is checking to see if `predicate` is a function, but not until the source nexts a value at it. That's like saying `[].every('trololololo')` is valid because `[]`

[2015-12-08 21:06] blesh opened #996 "Add tests to ScalarObservable-spec to cover thisArgs for filter, map, reduce, etc."
Just what it says. We're missing some tests there.

[2015-12-08 21:15] trxcllnt commented on #915
`brungYa` as in, "dance with the one that brung ya."

[2015-12-08 21:16] blesh opened #997 "Get rid of _isScalar property checking?"
It would perform better if all special handling of operators for scalar observables was done on their respective types. The types that *can* be scalar and benefit from special handling are:

- `ScalarObservable` (obvious)
- `PromiseObservable`: once the promise is resolved, operators can shortcut off the cached `value`.
- `AsyncSubject`: once completed with a value, the stored `value` can be used

[2015-12-08 21:19] blesh commented on #997
As an added benefit, it should reduce some dependencies in operators that are doing this sort of checking.

As a downside, it could add bulk to ScalarObservable, PromiseObservable, etc.

[2015-12-08 21:23] blesh commented on #915
LOL

[2015-12-08 21:24] blesh commented on #878
Reopening until #993 is merged.

[2015-12-08 21:25] trxcllnt commented on #997
@blesh I like the symbol approach better than the duck-typed pseudo-contract we have today. Total nitpick here, but I like the syntax:
[code]

[2015-12-08 21:27] blesh commented on #997
@trxcllnt simply having the `rxScalar` symbol wouldn't mean you have a value. it also has to return something. Perhaps this is a sign my design doesn't read fluently.

How about this?

[code]

[2015-12-08 21:50] trxcllnt commented on #997
@blesh ah, I see. I misunderstood. How about...
[code]
:trollface:

[2015-12-08 21:54] blesh opened #998 "Run tests in all major browsers and engines"
This needs to be run against:

- IE 9+,
- Chrome
- FF
- Safari
- Android
- iOS
- Node > 0.12

in an automated way. Currently we're only running against Node, and that's not good.

[2015-12-08 21:58] luisgabriel commented on #998
The idea here is to use a CI like [saucelabs](http://saucelabs.com)?

[2015-12-08 22:00] kwonoj commented on #998
Yes it is. I was trying this for some time but wanted to land https://github.com/ReactiveX/RxJS/pull/826 this before, so hold for a while. Requires two steps I assume,

- setup test environment using runner like `karma` can do browser test with existing spec
- setup travis pipeline to saucelab to run node test on travis as ci process, rest of browser test being pipelined to saucelabs.

[2015-12-08 22:03] kwonoj commented on #998
I'll try to spend couple of days to see if I can make land `karma` into current codebase quickly. That can be starting point.

[2015-12-08 22:08] luisgabriel commented on #996
I can work on this one.

[2015-12-08 22:13] blesh opened #999 "Errors with SymbolShim in some browsers"
According the the Angular core Slack, there is an issue in some browsers when trying to call `Symbol.for`. Namely in Safari 8 and all versions of IE.

I haven't reproduced this yet, but I can see/understand where the issue is. Such is the danger with DIY polyfills.

You can see that [Symbol is supported](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol) in mo

[2015-12-08 22:19] luisgabriel commented on #999
It seems to be the same problem as #988.

[2015-12-08 22:28] blesh commented on #988
This is related to #999 for sure. And also correct, it needs to be a class. :\ I did that.

[2015-12-08 23:33] blesh commented on #997
`done` has other connotations. (IteratorResult for example). I like `hasValue`.

[2015-12-08 23:49] #988 closed

[2015-12-08 23:49] #999 closed

[2015-12-08 23:59] ocombe opened #1003 "Observable.from --> object is not observable"
Is there a reason why we cannot create an Observable from an object?
It was possible before using Observable.of, but now with from it doesn't seem possible anymore ?

[2015-12-09 00:01] kwonoj commented on #1003
Would you able to share small snippet to describe issues you're experiencing?

[2015-12-09 00:03] ocombe commented on #1003
On second thought, this might be a problem with me using RxJS alpha 11 (because of Angular 2 currently locked down to this version) and being unable to use Observable.of
Are .of & .from different ?

[2015-12-09 00:03] blesh commented on #878
Closed by #993

[2015-12-09 00:03] #878 closed

[2015-12-09 00:04] kwonoj commented on #1003
: sort of.

`Observable.from = FromObservable.create;`

and

`Observable.of = ArrayObservable.of;`

currently. (Latest tot of RxJS5 at least).

[2015-12-09 00:05] e-oz commented on #839
Is it possible to use some kind of "CachingStrategy"? And implementating operator/method would decide when cache is valid... For HTTP it would be simple strategy: Get/Head/Options with 200 response are cacheable. Maybe with some invalidation delay.
For other kinds - other strategies. I think it's too broad problem to solve by universal code.

[2015-12-09 00:05] #889 closed

[2015-12-09 00:06] ocombe commented on #1003
Ok, so there's no way to use ArrayObservable.of on an Object (that is not an array) then ?

[2015-12-09 00:07] #915 closed

[2015-12-09 00:09] kwonoj commented on #1003
I still would like to ask usecases you're trying, in typical usecases I didn't see it's blocking my usage for instance

`Observable.of(1).subscribe(console.log)`

would work. Curious what object you're trying to pass.

[2015-12-09 00:13] kwonoj commented on #1003
: reason that it might have some of bugs couldn't be caught until. :)

[2015-12-09 00:13] ocombe commented on #1003
Sure, the code (just updated) is here: https://github.com/ocombe/ng2-translate/blob/master/src/translate.service.ts#L112

I'm returning an observable that can something be pending (because of an http request), and sometimes resolve immediately once the request has been made at least once (or when it's not pending).
The observable can be made of a promise, or the actual object return by the http re

[2015-12-09 00:15] blesh commented on #1003
@ocombe

`from` accepts any Iterable (Arrays, Strings, Generators, Custom Iteratables, etc), Promise, Observable, or "lowercase o" observable.

`of` takes a bunch of values and makes them into an Observable of those values.

If you want to observe an arbitrary object, that object needs to implement `Symbol.observable` and return a (lowercase "o") observable. That is an object with a subscribe meth

[2015-12-09 00:18] ocombe commented on #1003
I don't want to observe the object, I just need to return an observable what ever the status of my request is.
It's well explained in http://reactivex.io/documentation/operators/from.html :

[2015-12-09 00:18] blesh commented on #1003
@ocombe it's a little hard to follow the code you sent because it's very heavily abstracted. Perhaps it would be valuable to reduce the abstraction until you get it working, then factor your code out as necessary for testing? FWIW: Angular2's http.request() should just return an `Observable<Response>`

[2015-12-09 00:19] blesh commented on #1003
`Observable.of` will be a completely synchronous observable of whatever value you give it.

`Observable.from` converts from some type (Promise, Array, Iterable, Observable, lowercase-o observable) to an Rx.Observable.

[2015-12-09 00:25] ocombe commented on #1003
Yeah that's why I used the ArrayObservable.of in the end, and it works
fine, it's just weird to have use something called ArrayObservable to make
an Observable from any static value that is not always an array.

[2015-12-09 00:25] #722 closed

[2015-12-09 00:26] kwonoj commented on #1003
: Any reason for not using `Observable.of`? it's for generic interface for values.

[2015-12-09 01:57] kwonoj commented on #998
Seems https://github.com/ReactiveX/RxJS/issues/733 is related.

[2015-12-09 02:56] robwormald opened #1005 "Open gitter channel for RxJS"
Would be a good idea to activate a gitter channel like we have for angular - https://github.com/angular/angular - it helps keep the "how do i x" noise off the github issues and gives people a place to figure stuff out.

RxJava has one already under the same umbrella https://gitter.im/orgs/ReactiveX/rooms

[2015-12-09 02:57] kwonoj commented on #1005
Isn't https://gitter.im/Reactive-Extensions/RxJS does job? making it under /ReactiveX?

[2015-12-09 02:59] robwormald commented on #1005
oh hey, look at that. didn't know that was there :D might be worth adding to the README here then.

[2015-12-09 02:59] #1005 closed

[2015-12-09 06:47] ocombe commented on #1003
It's not available on alpha 11 and Angular 2 is locked down on this version
for now, I'll switch to that once they update their dependencies :-)

[2015-12-09 07:15] #1003 closed

[2015-12-09 07:18] ocombe commented on #1003
Thanks for the explanations anyway, I'll close this issue since it's not really an issue.
By the way, it would be really nice to have documentation for this project, the current docs in the repo are really really light when they are available at all (all the links on https://github.com/ReactiveX/RxJS/blob/master/doc/index.md are 404)

[2015-12-09 07:18] kwonoj commented on #1003
For document, totally agree. That's one of milestone should be achieved we're trying to push for.

[2015-12-09 07:19] ocombe commented on #1003
:+1:

[2015-12-09 09:01] staltz opened #1009 "Do we need project and thisArg for IteratorObservable?"
Currently, `Observable.from`, when given an iterator, will create `IteratorObservable`, passing null as values to `project` and `thisArg`.

**There is no other case where IteratorObservable is created**, which means `project` and `thisArg` are never used.

Can we take them away?

[2015-12-09 09:06] kwonoj commented on #1009
What about cases of someone import `IteratorObservable` directly and want to apply projection? `thisArg` could be removed though.

[2015-12-09 09:07] staltz commented on #1009
I was somewhat assuming that if it's not in `Rx.ts` or `Rx.KitchenSink.ts`, then people wouldn't want to import it directly.

[2015-12-09 09:36] robwormald opened #1010 "Type Definitions are empty for "add" modules"
The generated `d.ts` files that correspond to the "patch" operator and observable files are empty, so they are picked up by typescript as invalid modules and the compiler errors:
[code]

This means TS users are unable to do the desired `'import rxjs/add/operator/map' ` use case.

Workaround for angular2 users discovering this issue is to simply `'import rxjs/Rx'` which will add all the operators a

[2015-12-09 09:37] robwormald commented on #1010
cc @jeffbcross @IgorMinar

[2015-12-09 13:30] jeffbcross commented on #1010
What version of TypeScript shows this error?

[2015-12-09 18:38] staltz opened #1015 "Rename scan to fold?"
I don't have high hopes for this proposal, since due to conservatism there is a strong gravity to keep `scan`, but here goes nothing.

I've always scratched my head with "why is scan called scan?". The name doesn't convey its semantics properly.

`scan` is really just like `fold` from Functional Programming. `fold` is a very well establish name in FP community. Also Elm's `scan` is `foldp` as in "

[2015-12-09 18:39] mattpodwysocki commented on #1015
@staltz because it's exactly the same as Haskell's [`scanl`](https://www.haskell.org/hoogle/?hoogle=scanl) and that's where we got the name.

[2015-12-09 18:41] staltz commented on #1015
Ah, that's where it came from. Thanks, I finally know.

Anyway, since Haskell's `foldl` is JavaScript's `reduce`, why can't Haskell's `scanl` be JavaScript's `fold`?

[2015-12-09 18:48] blesh commented on #1015
I think `scan` is probably one of the more widely understood operators, honestly. I'd hate to rename it. When I've heard other people talk about Rx, they usually mention it in terms of "a reduce that emits its accumulated value every time".

[2015-12-09 18:48] mattpodwysocki commented on #1015
@staltz please, let's not fork the name to get people confused as to something that is well understood in other languages such as [Haskell](https://www.haskell.org/hoogle/?hoogle=scanl), Scala, [F#](https://msdn.microsoft.com/en-us/library/ee370366.aspx)

[2015-12-09 18:49] blesh commented on #1015
Also, FWIW: `flatMap` will remain as an alias forever, as far as I'm concerned, because it's pretty idiomatic. `mergeMap` is so named because it makes it easier for people to understand and it's more conventional.

[2015-12-09 20:07] jeffbcross commented on #1010
I reproduced this error with TS 1.7.2, but not 1.6.2. @robwormald is going to talk with TypeScript folks about the best way to solve this.

[2015-12-09 20:07] jeffbcross commented on #1010
Assigned to myself as a proxy @robwormald :)

[2015-12-09 20:10] blesh commented on #1010
@robwormald if you could please reference this issue in whatever discussion you have with the TypeScript people, I'd appreciate it. Just so the issues are linked.

[2015-12-09 21:51] vladimir-ivanov opened #1017 "empty *.d.ts definitions in e.g. rxjs/add/observable/from.d.ts in version 5.0.0-alpha-14"
trying to use rxjs with angular2 (which includes 5.0.0-alpha-14 internally) and getting this

import "rxjs/add/observable/form";

(18,8): error TS2656: Exported external package typings file
'/node_modules/rxjs/add/observable/from.d.ts' is not a module. Please contact the package author to update the package definition.

[2015-12-09 21:52] kwonoj commented on #1017
Is this issue https://github.com/ReactiveX/RxJS/issues/1010 ?

[2015-12-09 21:53] vladimir-ivanov commented on #1017
yes, closing, thank you

[2015-12-09 21:53] #1017 closed

[2015-12-09 23:04] robwormald commented on #1010
Confimed as a bug in Typescript:
[code]

[2015-12-09 23:05] robwormald commented on #1010
temporary workaround is to spoof an export into the patch modules to force *something* to be emitted in the `.d.ts` files:
[code]

[2015-12-10 03:48] #1010 closed

[2015-12-10 08:06] staltz commented on #1015
Oh well, this won't proceed, so carry on folks.

[2015-12-10 08:06] #1015 closed

[2015-12-10 13:24] jeffbcross opened #1030 "change script to add comments to all auto-patching operators to indicate generated file"
Since there is a script to generate all of the auto-patching operator modules inside the `add` folder whenever operators change, comments should be added to those files indicating that they should not be manually edited without updating the script.
i.e.
[code]

The script is located at `tools/generate-operator-patches.js` and the affected files are in `src/add*`.

[2015-12-10 20:32] kwonoj commented on #994
I have been briefly go through operators, and seems this can be closed for now after applying refactoring above.

[2015-12-10 21:02] luisgabriel opened #1040 "Update performance tests after scheduler renaming"
We need to update some performance tests to reflect the renaming discussed on #838.

[2015-12-10 21:03] kwonoj commented on #1040
+also includes reflect `scheduler` name changes where applicable.

[2015-12-10 21:17] kwonoj commented on #1040
Deleted comment incorrectly understand issue.

[2015-12-11 09:58] staltz opened #1041 "Repeat and retry bugging on synchronous sources"
This happens:
[code]

And this:
[code]

The bug manifests itself only for `repeat(x)` where `x >= 3`, and `retry(x)` where `x >= 2`.

[2015-12-11 09:58] staltz commented on #1041
I'm working on solving this.

[2015-12-11 11:25] staltz commented on #1041
It's a problem with multicast and refCount, since this works:

[code]

[2015-12-11 11:28] staltz commented on #1041
Seems highly related to #678. I suspect this happens because we reverted/refactored from callback-based connect() to synchronous connect.

[2015-12-14 18:03] blesh opened #1053 "Rename `sample` operators to `inspect`, reimplement `sample` operator"
Per some offline discussion with @headinthebox, @mattpodwysocki and @staltz... the current implementation of `sample` as discussed in #150 is probably incorrect.

Basically, in the original `sample` operator ala RxJS 4, the emission of a value meant that a new value had _arrived_ on the source. If the notifier notified, and a new value *hadn't* arrived, nothing would be emitted. This means the ver

[2015-12-14 18:10] staltz commented on #1053
I'd question the usefulness of both `inspect` and `sample` flavors, since we're just adding more operators.

[2015-12-14 18:16] staltz commented on #1053
@blesh There's also the issue with `sample`/`inspect` that the completion of the sampler Observable should "sample" the sampled Observable, like Erik mentioned. That might be important for beta.

[2015-12-14 18:21] blesh commented on #1053
:+1: good catch. I don't think I included this in my PR. I'll add that.

[2015-12-14 18:22] blesh commented on #1053
As long as `inspect` is in KitchenSink, and we're going with this modular design. I don't think it matters.

If it came down to removing one, though, I'd remove `inspect`. Only because it could be composed from `sample`, where the reverse isn't really possible.

[2015-12-14 18:23] staltz commented on #1053
I'm curious, how would `inspect` be written using `sample` and others?

[2015-12-14 18:29] scottsilvi commented on #706
Came across this after trying to install ng-2. Just had to comment out the registry in my `.npmrc`, and also set `always-auth` to `false` instead of `true`. Installed ng-2, with reactivex/rxjs, unapplied my changes to `.npmrc`, and was off & running.

[2015-12-14 18:36] blesh commented on #1053
Thinking quickly: Something like... `notifier.withLatestFrom(source.sample(notifier), (_, a) => a)`? That might not be _perfect_, but it's an approximation, I'd guess. The emitting on completion behavior of `sample` might make it weird, but you could compose around that too.

[2015-12-14 18:38] staltz commented on #1053
Why not just `notifier.withLatestFrom(source, (_, a) => a)`?

[2015-12-14 18:43] #1053 closed

[2015-12-14 18:45] blesh commented on #733
I'm going to close this in favor of #998.

We're supporting IE9+, Node 0.12+, and as many modern mobile browsers as we can test.

[2015-12-14 18:45] #733 closed

[2015-12-14 19:18] #996 closed

[2015-12-14 20:08] jeffbcross opened #1056 "ship umd and systemjs bundles with rxjs npm package"
Currently, we bundle RxJS with angular2 bundles, but we are removing all third-party dependencies from our bundles. We currently support UMD and System formats.

I propose creating a `bundles` folder in the root of the rxjs npm package.
 * `bundles/rxjs.js` (System register format)
 * `bundles/rxjs.umd.js`

I don't think there's any reason to do this with the `rxjs-es` package.

[2015-12-14 20:47] thunderkid opened #1057 "Subject.onNext not a function?"
I'm trying to get Rx Subjects to work following the RxJs docs. I'm using:

        import * as Rx from 'rxjs';
        var subject = new Rx.Subject();

        var subscription = subject.subscribe(
            function (x) {
                console.log('Next: ' + x);
            },
            function (err) {
                console.log('Error: ' + err);
            },
            function () {

[2015-12-14 20:50] blesh commented on #1057
Due to changes to accommodate the ES7 Observable spec, the API has changed for observables:

- `onNext` -> `next`
- `onError` -> `error`
- `onCompleted` -> `complete`

I apologize for any confusion. We're working on a migration strategy (probably documentation) to land during the early stages of beta.

[2015-12-14 20:56] blesh commented on #1053
I don't know? lol.

[2015-12-14 20:59] #1040 closed

[2015-12-14 22:57] blesh commented on #1057
@thunderkid I'm going to close this one for now, as it's not a bug, and I _hope_ that my previous comment addresses your concerns.

[2015-12-14 22:57] #1057 closed

[2015-12-14 23:13] thunderkid commented on #1057
Yes, that fixed it. Thanks. (btw I also noticed bufferWithTime doesn't seem to be there. I'm assuming it's been replaced with bufferTime.)

[2015-12-15 00:28] blesh commented on #1057
@thunderkid ... made this today... just for you: https://github.com/ReactiveX/RxJS/blob/master/MIGRATION.md

;)

It's a first go, so I expect it will be improved over the next month or so.

[2015-12-15 00:33] #1056 closed

[2015-12-15 00:59] thunderkid commented on #1057
Brilliant, thanks. That'll remove a bit of guesswork. What's the eta of the 5.0 stable release?

[2015-12-15 01:12] blesh opened #1060 "Roadmap to release (leaving Beta)"
This is just a start for a road map:

- [x] automated tests in all platforms
- [ ] update reactivex.io documentation
- [ ] updated migration documentation
- [ ] all operators and public APIs have inline docs
- [ ] PNG marble diagrams generated for every operator
- [ ] improved documentation on Schedulers, what they are and what they do.
- [ ] publish all Jasmine test helpers as separate global and

[2015-12-15 01:28] kwonoj commented on #1060
Maybe can add below?

- ensure type definition / signature for typescript interface would be correct for typescript-based consumers (also having logistics to test those)

[2015-12-15 08:40] pavadeli opened #1063 "Finally and share do not work as expected"
The `finally` operator has some problems when used in combination with `share`. Some combinations work as expected, some don't.

###### Interval with `finally` works as expected:
[code]
Console:
[code]

###### Interval with `finally` and `share` does not work (nothing in log):
[code]
Console:
[code]

###### Subject with `finally` and `share` works as expected:
[code]
Console:
[code]

###### Subjec

[2015-12-15 10:18] d3lm opened #1066 "Cannot find name 'Promise' in Observable.d.ts"
I am trying RxJS 5.0.0-beta.0 and have installed it via npm via `npm install rxjs@5.0.0-beta.0`. Now I would like to import Subject and Observable from rxjs and did the following `import {Observable, Subject} from 'rxjs';`. This throws the error that 'Promise' cannot be found in Observable.d.ts. Is this an issue with RxJS or did I forget something? This is the full error:

    node_modules\rxjs\Ob

[2015-12-15 10:32] pavadeli commented on #1063
The problem seems to be with `share` and not so much with `finally`. `Rx.Observable.merge` has the same kind of behaviour when combined with `share`.

###### `Rx.Observable.merge` with one child and `share` works as expected
[code]
Console:
[code]

###### `Rx.Observable.merge` with two children and `share` unsubscribe immediately
[code]
Console:
[code]

[2015-12-15 10:39] staltz commented on #1053
Seriously, I could run all `inspect` tests replaced with `withLatestFrom`. If everything works fine, we could remove `inspect`.

[2015-12-15 12:53] staltz commented on #1060
Maybe add "and their respective PNG diagrams" to this?

[2015-12-15 12:56] staltz commented on #1063
@blesh since I've been digging into share and ConnectableObservable, I volunteer to debug and fix this one, if it seems like a good priority in your opinion.

[2015-12-15 13:05] chicoxyzzy commented on #287
Should issue title be updated then?

[2015-12-15 13:11] jeffbcross opened #1067 "include license in bundles distributed in npm package"

[2015-12-15 13:13] jeffbcross opened #1068 "upgrade system-builder dependency for Rx.js bundle"
The Rx.js bundle currently uses an old version of system builder, the same version that angular/angular currently depends on. I used this version to ensure no mismatches between rxjs and angular. When https://github.com/angular/angular/issues/4354 lands, we can update the builder here, too.

[2015-12-15 13:14] jeffbcross opened #1069 "add tests for bundles"
The ideal would be to run the same suite of unit tests against each bundle. At the very least, a smoke screen test should be added to verify that the bundles export some of the correct symbols.

[2015-12-15 13:46] jeffbcross opened #1071 "Include System.register format bundle in dist/global"
Right now the System.register format bundle only gets generated during npm publish time, and only gets placed in `dist/cjs/bundles`. It should instead be created during the `npm run build_global` build step, and should be written to `dist/global/Rx.js`. Then the `.make-packages.js` publish step can just copy the files to `dist/cjs/bundles` as it does with the umd bundles.

[2015-12-15 14:06] filipesilva opened #1072 "CDN for beta.0 not working"
CDN for beta.0, as per readme, doesn't seem to work:
https://npmcdn.com/@reactivex/rxjs@5.0.0-beta.0/dist/global/Rx.js

Is this the new one? I poked around for a bit and it seems to be match
https://npmcdn.com/@reactivex/rxjs@5.0.0-beta.0/dist/global/Rx.umd.js

[2015-12-15 14:56] staltz commented on #1053
Just FYI, withLatestFrom needs also the addition of `last()` in order to get the completion semantics (almost) right:

[code]

I don't know how useful it is to have the completion semantics of `inspect`, but since we just introduced this operator, I suppose people don't depend on how `inspect` works. For that reason it's probably better to kill `inspect` and recommend instead `withLatestFrom` if a

[2015-12-15 15:29] headinthebox commented on #1053
Agreed.

[2015-12-15 15:43] d3lm commented on #1066
Was using RxJS with Typescript and had to `tsd install es6-shim`. Now its working.

[2015-12-15 15:43] #1066 closed

[2015-12-15 15:45] kwonoj commented on #1072
Think you just hit cases before this PR (https://github.com/ReactiveX/RxJS/pull/1070) lands in, points latter as you tried :)

[2015-12-15 15:49] kwonoj commented on #1072
I just checked in changes and believe issue's now resolved, closing it. Please feel free to reopen if it's required.

[2015-12-15 15:49] #1072 closed

[2015-12-15 16:54] filipesilva commented on #1072
Can confirm, CDN gets me the right file. Cheers!

[2015-12-15 17:59] blesh commented on #1053
I'm fine with that.

[2015-12-15 20:05] saneyuki opened #1075 "Implement Observable.amb (as Observable.race)"
We still don't have [`Observable.amb()`](http://reactivex.io/documentation/operators/amb.html) operator.

This operator is useful in these case to take a 1st returned value like `Promise.race()` with dispatching some operations optimistically.

[2015-12-15 20:12] blesh commented on #1066
Thanks for the issue and the resolution, @d3lm :)

[2015-12-15 20:14] blesh commented on #287
@chicoxyzzy Maybe? Updated to what?

[2015-12-15 20:15] blesh commented on #1075
I discussed this one with @trxcllnt a while back. I think we even postulated that it should be named `race` instead of `amb`.  @mattpodwysocki what are your thoughts?

[2015-12-15 20:17] kwonoj commented on #1066
Actually this has been asked before also, https://github.com/ReactiveX/RxJS/issues/592. Maybe better to update README to include typescript example, to notify type declaration for es6 shim is required? @blesh

[2015-12-15 20:18] blesh commented on #1060
done and done.

[2015-12-15 20:36] blesh commented on #1063
@pavadeli @staltz ... this appears to be a problem with `ConnectableObservable` breaking the subscription chain. Pretty much any flavor of `multicast`, `publish`, `share`, etc. breaks `finally` if `finally` is before the mutlicast.

[2015-12-15 20:37] blesh commented on #1063
I'm wondering if we ought to research moving away from the subscription chain, and back to a more traditional subscription composition? cc/ @trxcllnt

[2015-12-15 20:37] blesh commented on #1063
(yes, I know this is just one issue, but I worry there may be others)

[2015-12-15 21:10] TylorS opened #1076 "Issue with ReplaySubject as a subscriber when delay() is used (Beta.0)"
When using a ReplaySubject as a subscriber to another Observable, if `.delay()` is used in the Observable sequence the ReplaySubject never recieves any values.

Working verison without `delay()` - http://jsbin.com/gezaqe/85/edit
Non-working version with `delay()` - http://jsbin.com/gezaqe/edit?html,js,console

[2015-12-15 22:16] prabirshrestha opened #1078 "should pass --noEmitHelpers to tsc when compiling"
Currently the generated js code contains lot of duplicate `__extends` which can be seen here https://npmcdn.com/@reactivex/rxjs@5.0.0-beta.0/dist/global/Rx.umd.js

[code]

This should be avoided by using `tsc --noEmitHelpers`.

[2015-12-15 23:41] jeffbcross commented on #1030
Unassigning for now since I'll be offline for a few weeks.

[2015-12-15 23:43] chicoxyzzy commented on #287
@blesh something like "Implement new operators and old ones from RxJS 4"

[2015-12-15 23:51] luisgabriel commented on #1030
I can work on this one.

[2015-12-16 00:10] jeffbcross commented on #1030
@luisgabriel awesome! And to be clear, it's the script that should be updated to include comments in those files. I'll update the issue title to make it less ambiguous.

[2015-12-16 00:12] luisgabriel commented on #1030
@jeffbcross ok. ;)

[2015-12-16 01:42] mattpodwysocki commented on #1075
@blesh [`Observable.race`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/race) is ok with me given the `Promise.race`

[2015-12-16 07:16] tandu opened #1081 "debounceTime doesn't work with Subject"
We had a discussion here https://github.com/angular/angular/issues/5925. It seems that `throttleTime` works with `Subject` and `debounceTime` doesn't work with `Subject`.
`throttleTime`: http://jsfiddle.net/bo6ynqf7/1/
`debounceTime`: http://jsfiddle.net/8g968xh7/1/

[2015-12-16 07:46] kwonoj commented on #1081
Would you elaborate bit more detail of 'doesn't work'?  I tried this
http://jsfiddle.net/8g968xh7/2/ which has slightly modified such as below

[code]

and could see `debounceTime` emits. Does doesn't work means emitting behavior is not expected, or is it not emitting at all?

[2015-12-16 07:52] tandu commented on #1081
Hm, it seems that `sub.next()` is working for `throttleTime` but for `debounceTime` it should pass any value. So for `debounceTime` `sub.next()` is not fired but if you send anything like `sub.next(0)` or `sub.next('a')` it works as expected.

[2015-12-16 07:54] kwonoj commented on #1078
In case of babel, it also has similar option and requires to import common helper module on runtime. While typescript compiler option does not specifies detail (https://github.com/Microsoft/TypeScript/wiki/Compiler%20Options) it seems like works similar way - is that correct? At least by local tryout, giving noEmitHelper option makes cjs build throws

[code]

that helper function is not imported.

[2015-12-16 07:56] tandu commented on #1081
By doesn't work I meant it was not emitting at all.

[2015-12-16 07:57] kwonoj commented on #1081
Ah, that's currently expected behavior from implementation of `debounceTime()`. Looking at implementation,

[code]

it only emits if it explicitly have values to be emitted. So while subject emits `next` without any value, debounceTime simply skips it since there's no value. Feeling this need to be checked if this need to be changed or not.

[2015-12-16 08:06] chicoxyzzy commented on #1081
looks inconsistent

[2015-12-16 08:13] kwonoj commented on #1081
Behavior perspective it does. Few things to be considered are,

- `Subject::next()` requires value as paramater, it should not be skipped. So in case of above example, calling `next(any)` ensures operator behavior.

- Edge case in this issue is case of emitting `undefined` as value, since `next()` is same as `next(undefined)`. This is case shows different behavior compare to RxJS4.

[2015-12-16 08:23] pavadeli commented on #1063
@blesh Would that make debugging subscription and unsubscription behaviour a bit easier for mere mortals? In that case, yes, please... :innocent:

In the meantime, for anyone affected by this bug. The latest alpha that seems to work is *alpha.11*. Note: there have been some API changes since that version.
(I have not found an easy way to work around this bug. If anyone has an idea, please let me k

[2015-12-16 08:38] trxcllnt commented on #1063
@blesh I'm also running into this issue with `ConnectableObservable`. We should probably fix that before moving everything away from the shared subscription list.

[2015-12-16 09:08] staltz commented on #1081
@kwonoj debounceTime should have a hasValue-based implementation, like e.g. distinctUntilChanged:

[code]

So this bug is legit it seems.

[2015-12-16 09:09] kwonoj commented on #1081
@staltz , Yes, @mattpodwysocki suggested same approach in current PR (https://github.com/ReactiveX/RxJS/pull/1083#issuecomment-165037981). I'm updating PR to reflect suggestions.

[2015-12-16 09:12] staltz commented on #1063
@trxcllnt how do you reproduce your bug with `ConnectableObservable`?

[2015-12-16 09:15] staltz commented on #1063
By the way, we haven't merged #1042 yet, it could fix some of these problems.

[2015-12-16 12:15] staltz commented on #1063
After applying PR #1042, this works fine:

[code]
[code]

- - -

We still have a problem with this though:
[code]

Might be a problem in ArrayObservable or mergeAll.

[2015-12-16 12:41] pavadeli commented on #1063
@staltz Actually, that already worked in *beta.0*. Finally gets called on `complete`, but should also be called on `unsubscribe`. What about this case? We explicitly don't complete the source.
[code]

[2015-12-16 12:44] staltz commented on #1063
Ah, I see. Yeah, it looks like the problem comes from the shared subscription architecture.

[2015-12-16 14:45] staltz commented on #875
All done. Closed.

[2015-12-16 14:45] #875 closed

[2015-12-16 14:52] staltz commented on #1076
@TylorS is this a JSBin problem? I wasn't able to reproduce it. The "non-working" worked for me after I refreshed, cleared, and ran it.

I also don't see how is this related to ReplaySubject.
[code]

[2015-12-16 15:11] TylorS commented on #1076
I'm having a similar problem in a codebase as well. I could be wrong, but I felt my issue is with the ReplaySubject I'm trying to use to replicate the number$. I apologize, I wasn't very clear in my description of the issue.

I'm currently having no issues receiving values from number$ in either version, but replicatedNumber$ never logs it's values when `delay()` is present in the concatMap attach

[2015-12-16 15:28] staltz commented on #1076
Ok, now I can reproduce it. The minimal code to reproduce it is:

[code]

[2015-12-16 15:40] TylorS commented on #1076
I can confirm that your example causes the same issue. http://jsbin.com/gezaqe/91/edit?html,js,console

[2015-12-16 16:17] staltz commented on #1076
I think I figured the root cause.
@blesh seems to be shared subscriber issue again.

When `Observable.of(1,2,3)` completes, it unsubscribes, and those delayed message actions that were scheduled to happen (from the delay operator) will be cancelled. That's what I witnessed when looking at the debugger, although I'm curious why it didn't happen when I subscribe directly to `Rx.Observable.of(1, 2, 3

[2015-12-16 17:29] blesh opened #1085 "groupBy not using lift"
The current implementation of groupBy is no longer using `lift`. This actually muck with some other plans in the works for logging and debugging hooks.

GroupBy should be refactored to use `lift`.

[If you look at it](https://github.com/ReactiveX/RxJS/blob/6303558668016409315bfcd81b5b5f188a4cb174/src/operator/groupBy.ts#L25-L32) the `GroupByObservable` is really just a factory for a `Subscriber`.

[2015-12-16 17:54] trxcllnt commented on #1085
@blesh I noticed this too. I'm working through a fix for `ConnectableObservable`, but don't have time to update `groupBy` just yet.

[2015-12-16 18:15] #1081 closed

[2015-12-16 18:43] trxcllnt commented on #1063
@staltz @blesh here's my (possibly related) problem with ConnectableObservable:

[code]

[2015-12-16 19:21] prabirshrestha commented on #1078
Supporting external helpers library is part of TS v2.0 roadmap. https://github.com/Microsoft/TypeScript/wiki/Roadmap

Here are some of the issues discussing about it https://github.com/Microsoft/TypeScript/pull/2901, https://github.com/systemjs/builder/issues/178, https://github.com/Microsoft/TypeScript/issues/3364

If using webpack you can use the `imports-loader` to fix the `__extends` issue. ht

[2015-12-16 19:33] staltz commented on #1085
I did that. At the time groupBy wasn't passing tests at all, so I just followed how RxJS 4 implemented it.

[2015-12-16 19:54] kwonoj commented on #1078
First, I don't think bundler can be considered as option since library should work out of box. For example, as noted above CJS module should work without any additional import, or bundling before any consumer start to use it.

Given aspect typescript compiler has plan to support it, I'd like to suggest to close issue this for now until those logistics are landed in compiler support. RxJS5 is livin

[2015-12-16 22:37] prabirshrestha commented on #1078
I'm ok for closing this issue and revisiting the issue when typescript official supports runtime libs.

I havent tried it with rx but when I tested with one of my internal libs, I noticed that when gzipping the size is almost the same whether there are multiple `__extends` or a single `__extends`.

[2015-12-16 23:04] kwonoj commented on #1078
Thanks for confirmation. I'll close this for now, and reopen once typescript is ready to track further details of how to deliver this into RxJS. Appreciate once again, @prabirshrestha

[2015-12-16 23:04] #1078 closed

[2015-12-17 08:27] blesh commented on #1076
Yeah. I'm going to try to prioritize refactoring the subscriber scheme in another branch over the holidays. I was just talking with @trxcllnt about this this afternoon.

[2015-12-17 08:44] staltz commented on #1076
We can label this issue as bug.

[2015-12-17 08:45] kwonoj commented on #1076
Marked as bug.

[2015-12-17 14:14] pkozlowski-opensource opened #1089 "npm distribution and source maps"
Files distributed to npm got source maps (which is good!) but those source maps are pointing to source file that are not included. An example from `Operator.js.map`:

See this little `"sources":["../../src/Operator.ts"]` thingy here?

2 solutions I can think of:
* inline
* distribute sources

[2015-12-17 17:19] kwonoj commented on #1089
I considered inline source map one time and deferred those decision due to concern's of increasing general library size. Between 2 options suggested, leaning to inline source map though. Thanks for bringing this up, might need some investigations if there's any recommended patterns.

[2015-12-17 17:50] pkozlowski-opensource commented on #1089
@kwonoj thnx for looking into this one. I've got the same concerns with inlined source maps as you, but both options work for me.

[2015-12-17 18:00] david-driscoll commented on #1089
Isn't it possible to redirect the source map to a url, we could in theory
use the sourceMapUrl and sourceMapRoot and map directly to the specific
github commit.  It would take a build step to rebuild the source map urls
though.

On Thu, Dec 17, 2015 at 12:50 PM, Pawel Kozlowski <notifications@github.com>
wrote:

[2015-12-17 18:03] pkozlowski-opensource commented on #1089
@david-driscoll It is not only about having source maps in a browser but also available for consumption by bundlers like browserify or webpack.  I would much, much prefer having source maps as part of the npm distribution.

[2015-12-17 21:12] kwonoj commented on #1089
: Just clarifying once again to be crystal clear, I'm not plan to go ahead to inline source map for build to be deployed. It's just preference 'between..'. In current state, I'll try to spend some time and not sure which conclusion will be.

: I agree in @pkozlowski-opensource for this, if we're shipping source map I'd like to it served for all cases. Though it's interesting approach - wish it cou

[2015-12-18 01:38] robwormald commented on #1089
This should be easy enough to turn on purely for the dist steps that we build for our npm distributions, I think. Let's keep it simple!

[2015-12-18 01:46] robwormald commented on #1089
There's an option in the tscompiler config - `mapRoot` - that allows us to redirect the path @pkozlowski-opensource mentioned. so we could just copy the src/ dir to dist/cjs/src and remap to there. Thoughts? I'll do a quick PR if this is okay by y'all.

[2015-12-18 02:02] robwormald commented on #1089
#yolo

[2015-12-18 03:40] kwonoj commented on #1089
@robwormald so does angular2 deploys source as well as transpiled result + source maps?

[2015-12-18 11:31] pkozlowski-opensource commented on #1089
Yes. Actually multiple transpilation results (TS->ES6, TS->ES5, both with and without sourcemaps)

[2015-12-18 17:40] kwonoj commented on #1089
Maybe I was thinking in way too complex.. :) I'm fine with those approach too, but it's changing deployment build would like to hear some other opinions too. /cc @blesh

[2015-12-18 17:54] blesh opened #1095 "Remove or change ScalarObservable method optimizations?"
The optimizations done to ScalarObservable a while back had major performance improve improvements for those cases, but the downside as discussed at the time, was you'd not be able to use the say, `map` to reliably produce side-effects.

I just want to revisit this now that we're in beta.

Does it require too much mental overhead for the perf benefit?

Has anyone run into an issue with this so far

[2015-12-18 17:56] blesh commented on #287
Oh. I think the issues should be specific to people's requested and needed operators

[2015-12-18 19:10] trxcllnt commented on #1095
@blesh something that concerns me is the eager evaluation of ScalarObservables isn't in line with the overarching philosophy of lazy evaluation. Subscribing to an observable should re-execute its `subscribe` function every time, full-stop.

[2015-12-18 19:26] trxcllnt opened #1098 "Observable merge/merge-static default to queue scheduler"
cc: @blesh @staltz Why does `merge` use the `queue` scheduler [by default](https://github.com/ReactiveX/RxJS/blob/master/src/operator/merge-static.ts#L10)?

[2015-12-19 01:33] blesh commented on #1095
@trxcllnt the idea was that ScalarObservables are always a known value, and there for something like `Observable.of(2).map(x => x + 1)` could just be `Observable.of(3)`. It still doesn't give you a value unless you subscribe to it.

The danger here, of course, is that `x => x + 1` doesn't get executed when some people might expect it. So if they're trying to create side effects there, it will real

[2015-12-19 17:53] earlsioson opened #1100 "Observable.fromEvent does not pass all event arguments to selector"
In the following code, the third argument of eventEmitter.emit is undefined when returned from the selector function. To see if this was an rxjs 5.0 issue, I ran the same code using rx 4.0.7 and discovered that the third argument does return the value 'quux'. I checked both the ChangLog and Migration docs for more info on fromEvent but did not see anything that would help.

[code]

[2015-12-19 23:51] kwonoj commented on #1100
Yes, seems only first argument is emitted. Will try to look into to see if there's any suspicious..

[2015-12-20 07:51] earlsioson commented on #1100
Please review pull request https://github.com/ReactiveX/RxJS/pull/1101 for a potential fix.

[2015-12-20 17:11] HighOnDrive opened #1102 "Operators By Category Interface"
Presently the only new documentation site for RxJS v5 I know of is here: http://reactivex.io/RxJS. As someone learning RxJS I found the Operators By Category section on the older RxJS v4 site very useful: http://reactivex.io/documentation/operators.html

Maybe some speed dial search buttons for operators in specific categories could be added to the header of the new site? Looks like there would be

[2015-12-21 02:57] ovangle opened #1103 "Using add/observable contributions"
I'm wondering about the utility of the static methods contributed to `Observable` via add/observable. I can't seem to get them to work as expected.

main.js
[code]

Running this file via node gives

[code]

Am I missing something? The exports from add/operators work as expected, but none of contributed functions from add/observable seem to work.

[2015-12-21 02:59] ovangle commented on #1103
I'm wondering about the utility of the static methods contributed to `Observable` via add/observable. I can't seem to get them to work as expected.

main.js
[code]

Running this file via node gives

[code]

Am I missing something? The exports from add/operators work as expected, but none of contributed functions from add/observable seem to work.

[2015-12-21 03:09] ovangle commented on #1103
I fixed the problem, there was a typo in one of the requires, it should have been

[code]

[2015-12-21 03:09] #1103 closed

[2015-12-21 21:14] trxcllnt commented on #1102
@HighOnDrive We definitely want to include/update the docs for the new library. The decision trees also live in the [RxJS v4](https://github.com/Reactive-Extensions/RxJS) docs ([static](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/which-static.md) and [instance](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/which-instance.md)), but need to

[2015-12-21 22:00] HighOnDrive commented on #1102
@trxcllnt Sounds good, looking forward to the updates, will keep working with what is available. It will be fantastic to work with RxJS v5 in cycle.js.org, which just released a major new version, synergising dataflow and components in new and powerful ways.

[2015-12-23 19:00] blesh commented on #1076
The fixes for this bug should be covered in the changes @trxcllnt made over the last few days. I'd expect that PR to show up and land very shortly.

@trxcllnt, are there tests covering this bug, by chance? I'm fairly certain the changes to the Subscription scheme will fix the issue, but I'd like to be sure before I can close this after your changes are merged.

[2015-12-23 21:27] trxcllnt commented on #1076
@blesh just ran the minimal test as a script on my local machine and it worked (printed values 1, 2, 3 after 500ms).

[2015-12-27 14:49] roganov commented on #591
As I understood RAF scheduler is going to be available in this repo. What about others things such as `Rx.DOM.ajax`?

[2015-12-27 14:57] blesh commented on #591
@roganov that's the plan at this point. Since everything is modular, we can include other RxJS utilities in this repo. Ajax, web sockets, rxify helpers, etc.

[2015-12-27 17:12] kevinvandervlist commented on #1030
Three small things I happened to come across while doing [something unrelated](https://github.com/ReactiveX/RxJS/pull/1105):

a) On a fresh clone the generator fails because the following folder does not exist: ./src/operator/extended

b) The following files seem to be generated incorrectly (related to the kitchensink stuff?)
* src/add/operator/distinctUntilKeyChanged.ts
* src/add/operator/element

[2015-12-27 19:14] kwonoj commented on #1030
a / b can be discussed in PR #1097 directly - @luisgabriel , does current PR reflects this?

c - Think it depends on how we'll treat auto generated files. These files are not change frequently (mostly won't, unless adding / removing new operator) doesn't necessarily to be generated per build everytime.

[2015-12-27 19:57] frankbenoit commented on #736
is there a pattern that can be used today with 5.0.0-beta.0, to connect to a node callback function?

[2015-12-27 23:23] luisgabriel commented on #1030
I think `a` and `b` are being covered by #1097.

[2015-12-28 00:40] kwonoj commented on #1100
Closing this via PR #1101 .

[2015-12-28 00:40] #1100 closed

[2015-12-28 22:17] frankbenoit opened #1108 "Subject.asObservable() missing?"
Hi

either it is missing, or it is missing in the migration guide?

Frank

[2015-12-28 22:21] frankbenoit opened #1109 "Please add the waterfall"
Çan the waterfall be added to the lib?
See https://github.com/Reactive-Extensions/RxJS/issues/73

[2015-12-28 22:28] staltz commented on #1108
Missing in the migration guide. At least from my perspective it seems we are intentionally removing it instead of forgetting to add it. Is that correct @blesh @kwonoj @trxcllnt ?

[2015-12-28 22:31] staltz commented on #1109
I would not add this to RxJS 5 Core, because it can be trivially built with mergeMap/concatMap, and we should avoid adding more operators just for the sake of having more.

[2015-12-28 22:38] kwonoj commented on #1109
Agreed, since in RxJS 5 we're trying to not to expand api surface too much. If `waterfall` has convincible usecases of it'll be used quite commonly then it's feasible to add as operator though it can be composed via existing operator. @frankbenoit , would you able to elaborate more details for this need to be added as operator instead of composing via existing operator?

[2015-12-28 23:07] frankbenoit commented on #1109
I am to new to this rx concepts at all. I found this implementation very short, but not trivial.
Hence i thought it would be good to have it in the lib. Same as the other async functions like doWhilst, ...
However if it seems to be inappropriate, close this.

[2015-12-28 23:10] kwonoj commented on #1109
I don't think it's 'inappropriate' :) just trying to find balances between expanding api. @staltz, would you able to bring up small snippets in you mind via mergeMap/concatMap ? to @frankbenoit may able to see it also.

[2015-12-29 03:58] landuber opened #1110 "missing operator shareReplay"
Why is the shareReplay operator missing from this version of RxJS? Is there a specific reason for not implementing it?

[2015-12-29 04:36] blesh commented on #1110
It's not implemented because it's behavior differs from `share`, and there's still some debate about how it should behave. Specifically, retry and repeat should work with share, but won't work, or work with unexpected side effects when it comes to shareReplay.

There is discussion of a `cache` operator to meet the needs of `shareReplay`.

I'm on my phone or I'd link the above conversations. You ca

[2015-12-29 04:38] blesh commented on #1110
As you were just asking about "Why", and I've answered, I'm going to close the issue. Please feel free to reopen if you're unsatisfied.

[2015-12-29 04:38] #1110 closed

[2015-12-29 04:44] blesh commented on #1109
AFAICT, `x.waterfall(a, b, c)` is the same as `x.mergeMap(a).mergeMap(b).mergeMap(c)`

[2015-12-29 04:45] blesh commented on #1108
Yes. Unless there's a compelling reason to add it.

[2015-12-29 05:05] mattpodwysocki commented on #1108
@blesh of course there's a compelling reason to add it.  For example, exposing Subjects directly is usually a code smell, instead you want to hide the ability for the consumer of the API to send `next` calls, etc to it, so to call `asObservable` prevents that.

[2015-12-29 05:17] blesh commented on #1108
Fair, but is that a solid enough reason to add the weight to the type, though?

(honestly just playing devil's advocate)

[2015-12-29 05:19] mattpodwysocki commented on #1108
@blesh absolutely, as there is little to no overhead in doing so as in RxJS v4 [`asObservable`](https://github.com/Reactive-Extensions/RxJS/blob/master/src/modular/observable/asobservable.js)

[2015-12-29 05:24] blesh commented on #1108
Yep. Just want the consideration in the issue. I totally agree we should add it.

[2015-12-29 08:29] trxcllnt commented on #1109
I'm not sure if this was ever in the .NET version, but the [AS3 implementation](https://github.com/richardszalay/raix) called this method [`chain`](https://github.com/richardszalay/raix/blob/master/source/raix/src/raix/reactive/IObservable.as#L148) [(source)](https://github.com/richardszalay/raix/blob/master/source/raix/src/raix/reactive/AbsObservable.as#L631).

[code]

[2015-12-29 14:27] mgamsjager opened #1112 "Add throttleLast/inspect operator"
---

Trying out Angular2 with Rxjs beta0.

Copied from this http://jsfiddle.net/bo6ynqf7/3/

From my service:

[code]

When I substitute throttle with debounce then it works. Because beta0 isn't on the a CDN I can't provide a failing jsfiddle (sorry :( )

[2015-12-29 19:02] cburgdorf opened #1113 "Expose Observable.of as a standalone function"
Currently one has to import `import 'rxjs/add/observable/fromArray';` in order to get `Observable.of` which is pretty confusing. Can we make it so that `import 'rxjs/add/observable/of';` works?

[2015-12-29 19:03] kwonoj commented on #1112
Would you able to share some more details of doesn't work, doesn't it emit any values? or if it emits, doesn't it work as you've expected?

[2015-12-29 19:13] kwonoj commented on #1113
My assumption's https://github.com/ReactiveX/RxJS/pull/922#issuecomment-162967611 was intention for this which was not landed yet -

Will update once @blesh confirms my understanding's correct.

[2015-12-29 19:15] cburgdorf commented on #1113
I see. Thanks for the quick response.

[2015-12-29 19:33] cburgdorf opened #1114 "Difference between importing from 'rxjs/Observable' vs just 'rxjs'"
Does it make any difference whether I write `import {Observable} from 'rxjs/Observable';` or `import {Observable} from 'rxjs';`?

It seems as if `Observable`, `Subject` etc. are just re-expored for convenience but I like to double check if there isn't something that I'm overlooking.

[2015-12-29 19:42] cburgdorf commented on #1114
I think I did something entirely wrong that lead me to the assumption I could use `import {Observable} from 'rxjs'`. Closing.

[2015-12-29 19:42] #1114 closed

[2015-12-29 21:04] mgamsjager commented on #1112
Well it does emit values because the console get's filled with values. What does not work is the throttle itself. The value variables are keys that are entered in an input field. I would expect the throttle to slow down the speed at which the keys are logged to the console

[2015-12-29 21:06] trxcllnt commented on #1112
@kwonoj I'd venture a guess what @mgamsjager wants is (what I've been calling) `inspectTime`. Where `throttleTime` emits the value that triggers the `throttle` operation (the first event), I believe it's also valuable to have an operator that emits the *last value* that came in before the `throttle` delay completes. Here's a reference implementation:

[code]

[2015-12-29 21:24] kwonoj commented on #1112
Thanks @trxcllnt for fast reference implementation :)

Let's try to clarify issue if we're talking about unexpected behavior of operator or we do want new one as @trxcllnt assume.

In case of `throttleTime`, I'd expect it behaves

[code]

As above marble, that throttle takes one and drop emit from source while duration. Once duration's completes, it emits again then duration starts. @mgamsjager ,

[2015-12-29 21:25] kwonoj commented on #1112
Referencing current spec too. https://github.com/ReactiveX/RxJS/blob/master/spec/operators/throttleTime-spec.js#L35-L42

[2015-12-29 21:37] mgamsjager commented on #1112
Well bit of both. Given the way I use it is correct I would expect that when I enter a lot of input that some of it would not be emitted and not all input is logged to the console. This is not the case and works differently then the jsfiddle example with click events.

inspectTime looks the thing I want to be honest. I don't want that an array is filtered on every keyup event the user producing. I

[2015-12-29 21:44] kwonoj commented on #1112
Isn't behavior you wanted `debounce`? (I know you mentioned this in first comment, just wanted to confirm)

[2015-12-29 21:44] trxcllnt commented on #1112
@mgamsjager to be honest, the definition of `throttle` threw me off initially too. I believe it takes the first value, as it's supposed to approximate "throttling" the *producer*, which (when Rx is extended to include a back-pressure story) would only emit the event that *initiated* the throttle timeout. In a back-pressure world, `inspectTime` wouldn't tell the producer to shut up, but it would dr

[2015-12-29 21:51] staltz commented on #1112
Let me try to understand. I only speak marblesh.

**Throttle:**
[code]

**"InspectTime":**
[code]

**Debounce:**
[code]

[2015-12-29 21:52] trxcllnt commented on #1112
@staltz yes

[2015-12-29 21:53] kwonoj commented on #1112
Ahha, thanks for clarification.

[2015-12-29 21:53] staltz commented on #1112
Just in case this new operator gets materialized, a suggested name: ThrottleLast.

[2015-12-29 21:53] mgamsjager commented on #1112
@staltz thx for the clarification

[2015-12-29 21:57] trxcllnt commented on #1112
@staltz That's what I thought initially too, but thinking about a theoretical future RxJS with BP, `throttle` would pause the consumer until the timeout resolves, whereas `inspect` would let the consumer keep emitting, but ignore all but the last event before the timeout resolves. I'm just concerned about reusing a term that implies BP semantics for an operator that doesn't have them.

[2015-12-29 22:04] staltz commented on #1112
Yeah I get it, and I'm concerned a new name "inspect" when seen in a long list of operators would hint towards a new and unique operator, when in practices it's very similar to throttle.

[2015-12-29 22:25] kwonoj commented on #1112
Let's wrap up issue before proceed further discussions about details of new operator.

@mgamsjager - if you'd like to propose new operator (`inspect..`) to be included, would like to suggest change issue title to have better scope. Or either if you're ok with clarified behavior of current operator and would like to consider new operator in another chances, issue can be closed for now. Thoughts?

[2015-12-29 22:57] mgamsjager commented on #1112
The problem with debounceTime is that I get each value after the set time has passed which is not handy for this use case.
[code]

So the proposed inspectTime/throttleLast seems to be the proper way to handle this use case.

[2015-12-29 23:14] mgamsjager commented on #1112
My last comment kinda got me thinking. The debounce behaviour is very different then what you guys describe how it should work.

What it comes down to is that I made a very stupid mistake in my code. I initialised a new Subject() on each keyUp event and subscribed each time to that new observable.

Moved all that code to the constructor and just call the subject.next() on each keyUp event fixed it

[2015-12-29 23:42] blesh commented on #1109
@trxcllnt I can't imagine that is going to perform as well as just chaining the mergeMap operator to begin with. I suppose I can see the utility, I'm just unsure that it's worth us maintaining. I'm open to other thoughts on it though.

[2015-12-30 00:28] blesh commented on #1112
While @mgamsjager's issue has been resolved, it's probably worth investigating adding this operator, so I'm reopening the issue and renaming it.

[2015-12-30 00:33] blesh commented on #1114
@cburgdorf glad you got it straightened out. If you have any other issues let us know.

[2015-12-30 00:37] paulpdaniels commented on #1112
I'm somewhat confused. Isn't the proposed operator just [sample](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/sample.md)?

[2015-12-30 01:09] trxcllnt commented on #1112
@paulpdaniels not quite: `sample` schedules its timeout upon subscription, and emits the most recent value it has received when its timeout resolves. `inspect` would schedule its timeout *the first time it receives an event*, and emit the most recent event value it has received when the timeout resolves.

**Sample:**
[code]
**Inspect:**
[code]

[2015-12-30 08:35] saneyuki opened #1119 "Implement Observable<T>.catch()"
We still don't have [`Observable.catch()`](http://reactivex.io/documentation/operators/catch.html) operator. This is need to catch some error which can recover from a fatal.

[2015-12-30 08:36] saneyuki commented on #1119
s/`Observable<T>.error()`/Observable<T>.catch()/

[2015-12-30 08:38] saneyuki commented on #1119
oops. Sorry. I missed https://github.com/ReactiveX/RxJS/blob/master/src/operator/catch.ts

[2015-12-30 08:38] #1119 closed

[2015-12-30 11:58] frankbenoit commented on #1109
Here is my example code, using mergeMap and nedb.
As fromNodeCallback is not yet available, i need to do manual error passing.
Can this be written more elegant? Do i have problems in this code?
Could an RX internal waterfall implementation help here?

I marked waterfall relevant lines with (*)

    // delete an item from db, return the deleted item, after deletion.
    delete( id : string ): Rx.Ob

[2015-12-30 15:26] staltz commented on #1112
Yeah, I'm afraid no existing operator does this out of the box, not even Sample nor WithLatestFrom.

[2015-12-31 02:02] Nupf opened #1120 "from, concatMap & publish operators combined - child Observable not completing"
I believe I have found an edge case with publish & from: When publishing a child observable, concatMapping its parent values into Observable.from observables leads to the child not completing.

Running this with node 4.0 & RxJS 5.0.0-beta.0 logs only 'completed parent', not 'completed child'.
Interestingly, running the same code in a [jsbin](http://jsbin.com/behilopubi/1/edit?js,console) (RxJS 5.0

[2015-12-31 03:42] trxcllnt commented on #1120
@Nupf have you seen this behavior from the code currently checked into master?

[2015-12-31 05:44] blesh commented on #1109
@frankbenoit .. it looks mostly okay. You'd be better off returning an `Observable` in each of those `mergeMap` steps, rather than a `Subject` though. Subjects have additional overhead because they maintain a list of observers under the hood (because they multicast).

Also, it looks like you're using `Observable.of(0)` just to start the chain because you're not really using it. This means you coul

[2015-12-31 07:14] blesh commented on #1119
:) Side note: `catch` now also provides a second argument of the "caught" source observable, so you can do a retry like so:  `s1.catch((err, source) => source)`.

[2015-12-31 08:32] benjamingr opened #1121 "Optimize for single observer"
Continuing my discussion with @blesh from https://github.com/angular/angular/issues/5876

We're talking about cases like `clicks(myElement).map(fn1).filter(fn2).subscribe(...)`.

I wrote there:

I'd expect Rx to optimize this under the hood and not really create a new subscription/observable/observer until it has to (that is, I'd expect it to "forward" the original subscription and then copy on wr

[2015-12-31 08:46] blesh commented on #1121
cc/ @trxcllnt

This optimization is actually made a *little* trickier by the `lift` architecture we went with. If every operator had it's own Observable (the "pair" architecture we looked at originally), it would trivial implement `map` on those Observable types and have that cover the optimization by cloning the observable with the proper result selector.

With lift, this is more difficult becaus

[2015-12-31 09:53] frankbenoit opened #1122 "Interface Observer is not exported in rxjs"
Using this import:
    import * as Rx from 'rxjs';

    Rx.Observable<MyType> --> OK
    Rx.Observer<MyType> --> Error

Module '".../node_modules/rxjs/Rx"' has no exported member 'Observer'.

[2015-12-31 10:36] frankbenoit commented on #1109
@blesh I think this is relevant. Because if the sequence can be written in a good way, the waterfall is not needed in the lib.
Your fix removed half of the needed lines for creating/returning the subject.
So the pattern can be this:

    myAsyncFunc(): Observable<TypeC> {
        return Observable.create((o:Observer<TypeA>) => {
            ...
        }).mergeMap((x: TypeA) => Observable.create((

[2015-12-31 11:50] frankbenoit commented on #1109
At runtime, i get this error for mergeMap:

    Observable_1.Observable.create(...).mergeMap is not a function

This depends on the import. Using "import * as Rx from 'rxjs'" with Rx.Observable work. Using "import {Observable} from 'rxjs/Observable'" gives the error above at runtime.

[2015-12-31 15:03] Nupf commented on #1120
@trxcllnt: works with the current master branch (dist/es6/Rx.js) - Thanks.

[2015-12-31 15:03] #1120 closed

[2015-12-31 16:07] kwonoj commented on #1109
: Yes, it's expected to import operator separately as needed if you're importing core `Observable` only.
https://github.com/ReactiveX/RxJS#commonjs-via-npm

[2016-01-01 01:05] jhoguet commented on #1121
if this is too off-topic, please let me know and I will create another issue - that said, I was about to use the same title :)

I don't understand why the default is cold observables.

For instance...

[code]
outputs

But this is not what I would expect. I can fix this by using `.share()`
[code]
outputs

But why would I need to do that? Given that the Subject is pushing the same input, I should ge

[2016-01-01 06:13] trxcllnt commented on #1121
Yes, though I'm not sure I agree this is more difficult with `lift`. `lift` just creates the Observable (or async function) linked list so that upon subscription (aka invocation), the Operators can create the Subscriber linked-list (aka computation state).

The difficulty I see with `lift` is the same problem in any single-inheritance Class implementation (the "diamond problem"). Subclasses of Obs

[2016-01-03 15:33] Nupf opened #1124 "Subclassing Observable - Observable SubClasses extend Observable rather than MyObservable"
I want to subclass Observable and extend it.

The [documentation on this](https://github.com/ReactiveX/RxJS/blob/0a069933f4ba778b112b74b4698c4453c9b4e74a/doc/operator-creation.md) shows how to  subclass observable and extend it with custom operators, however I run into problems whenever an operator / static method of MyObservable returns an instance of a different class.

All other Observable clas

[2016-01-03 20:46] kwonoj commented on #1124
This is related with https://github.com/ReactiveX/RxJS/issues/642. Current modularity streategy does not correctly support extended definitions due to creation of observable (i.e, of, etcs..) always directly created `Observable` as you've mentioned above. It's not resolved 100% in current codebase and trying to find feasible way.

[2016-01-04 02:06] blesh commented on #1124
[code]

This wouldn't work on any type you subclassed in ES6.

Imagine this simplified form:

[code]

While `B` gets `A`'s static `of` method, it's not going to change the type returned by `of`, because it's not going to call different code to create a `B` instead of an `A`. This is because there really isn't an automatic way to have this type of psuedo higher-kinded typing in JavaScript. If you w

[2016-01-04 02:10] blesh commented on #1124
On the `ConnectableObservable` front. We _could_ implement something that dynamically creates that type by extending `this.constructor` or something with ES5 internal to the `publish` method, but if we did this, we'd end up creating a new class for each `publish` call. That's probably not going to optimize very well.

[2016-01-04 02:10] blesh commented on #1124
@Nupf does the above information help you?

[2016-01-04 02:13] kwonoj commented on #1124
While I was trying mixin approach in PR https://github.com/ReactiveX/RxJS/pull/643, I came to thought above scenario (maybe) possible in combination of enhanced typescript support (relates to https://github.com/ReactiveX/RxJS/issues/846). It was very vague idea at the moment and still not concrete clear due to known limitataions, reason bringing #642 is related. Even without direct static creator

[2016-01-04 02:15] blesh commented on #1122
Ah... just the TypeScript interface needs exported?  Makes sense.

As a temporary workaround, you can use the `@reactivex/rxjs` package from npm, and find the interface under `src`.

[2016-01-04 03:20] trxcllnt commented on #1124
This is what `let` is for. As long as your custom Observable subclass can accept a source and return an instance of itself, it will work:

[code]

[2016-01-04 12:43] staltz commented on #732
I guess this can be closed.

[2016-01-04 12:45] staltz commented on #1041
This can be closed, we have tests for it and everything seems green.

[2016-01-04 17:59] #1041 closed

[2016-01-04 17:59] #732 closed

[2016-01-04 19:58] Nupf commented on #1124
Thanks for taking the time.

@kwonoj: Thanks, I'll have a look at those.

@blesh: Yep, I was just hoping there was a way I didn't know about and/or I was just doing something wrong.

@trxcllnt: Thanks, I didn't know about that operator. As far as I can tell, it's waiting to be merged in #1105, so I can't test it but it looks like it merely invokes the provided function on the source observable

[2016-01-04 20:00] #1124 closed

[2016-01-04 20:47] kwonoj commented on #998
As referenced in PR #1023 , it's required to create official RxJS saucelabs account (https://saucelabs.com/) and configure travis environment values. By saucelabs account requires email account when creating account and it should not be my personal one, asking @blesh to create one.

[2016-01-04 20:47] #1122 closed

[2016-01-04 21:29] trxcllnt commented on #1124
@nupf ah, I was assuming `MyObservable.from` would be your own `from` implementation that returns an instance of `MyObservable`. You could also accept a source Observable in the constructor instead, and return `new MyObservable(o)` from the `let` selector.

[2016-01-04 21:52] #1067 closed

[2016-01-04 21:52] #1071 closed

[2016-01-04 23:57] Nupf commented on #1124
@trxcllnt I thought about that but ran into problems with ConnectableObservable / publish. Is that how you would have implemented it?

    class MyObservable extends Observable {
      constructor(observable) {
        super();
        this.source = observable;
      }
    }

It works great as long as the source observable only has a subscribe method. ConnectableObservable destroys the illusion.

[2016-01-05 18:42] blesh opened #1130 "Related functionality in other packages? Should we change the modular strategy?"
I'd like to keep everything in this repository. [Here's a decent article on the advantages of the monolithic repository](http://danluu.com/monorepo/). While, I don't want to go Full-Facebook on it and get crazy. I think it has merit on a smaller scale.

#### Whether or not they should be in separate npm packages is what we're talking about

The hard part of this is figuring out the best way to man

[2016-01-05 18:42] blesh commented on #1130
Related #1115

[2016-01-05 18:48] blesh commented on #1130
### Shorter summary:

- 3 different ways to deliver RxJS (CJS, ES6 and global files)
- 2 of those (CJS, ES6) mutate the prototype of Observable to add operators
- If RxJS-DOM is a separate package, it will probably have it's own copy of Observable under it's own `node_modules`, meaning calls to `ajax` would return an Observable with no operators.

[2016-01-05 18:58] blesh commented on #1130
I'm wondering if we need to move away from the `import "rxjs/add/something"` style of mutation and go to something where to get the `Observable` constructor you have to call a factory that you pass the desired operators to.

[2016-01-05 19:05] blesh commented on #1130
To elaborate. I mean something like:

[code]

where `Observable` is an observable with `map`, `filter` and `mergeMap` operators, and `ajax` is a function that returns an `Observable` created from the `Observable` constructor it was passed.

[2016-01-05 19:07] blesh commented on #1130
... we could also provide a fast-path for people that don't need this level of customization.

[2016-01-05 22:40] trxcllnt opened #1134 "Implement `pluck` operator"
edit: Implement [`Observable.prototype.pluck`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/pluck.md) from RxJS v4.

[2016-01-05 23:05] mattpodwysocki commented on #1134
@trxcllnt is this going to be consistent with RxJS v4 with a recursive pluck?

[2016-01-06 00:27] trxcllnt commented on #1134
@mattpodwysocki sorry for the empty initial description, was in the middle of something but wanted to capture the issue anyway. I see no reason not to be backwards-compatible here.

[2016-01-06 00:27] luisgabriel commented on #1134
@trxcllnt are you working on this? I can take it if not.

[2016-01-06 01:06] blesh commented on #1134
@luisgabriel ... I'm going to guess he is if he filed the issue. That's usually his thing.

[2016-01-06 01:30] blesh opened #1135 "Remove tryOrOnError from subscription"
Somehow we missed this, but in order to comply with the es-observable spec, and in order not to confuse RxJS 4 users more than we already have, errors thrown in the next handler shouldn't jump to the error handler:

[code]

It should just throw.

[2016-01-06 06:52] born2net opened #1137 "docs links broken"
as in
https://github.com/ReactiveX/RxJS/blob/master/doc/index.md

[2016-01-06 08:57] staltz commented on #1063
This issue can be closed, a test was added.

[2016-01-06 10:12] #1063 closed

[2016-01-06 18:18] luisgabriel commented on #1134
@blesh Sure, I was suspecting that. It's worth asking anyway. ;)

[2016-01-06 18:45] trxcllnt commented on #1134
@luisgabriel I have not. In the middle of another project at work, feel free to take the lead on this.

[2016-01-06 18:45] luisgabriel commented on #1134
@trxcllnt :+1:

[2016-01-06 20:26] trxcllnt commented on #1135
@blesh 100% disagree, as the proposed behavior is the source of developer confusion, inconsistent with RxJava, and isn't the proper dual implementation of Enumerable's pull-based error handling.

In the real world, users handle error side-effects in the subscription's `error` handler. Because errors thrown inside `next` haven't traditionally been caught and forwarded on to the `error` handler (exc

[2016-01-06 20:52] masaeedu opened #1139 "Type inference not working due to Observable<any> in `switchmap`"
The RxJS 5 beta has a new `switchMap` operator that is supposed to replace `flatMapLatest`. The signature for `switchMap`, on [line 76 of CoreOperators.ts](https://github.com/ReactiveX/RxJS/blob/master/src/CoreOperators.ts#L76), looks like this:

    switchMap?: <R>(project: ((x: T, ix: number) => Observable<any>), projectResult?: (x: T, y: any, ix: number, iy: number) => R) => Observable<R>;

Not

[2016-01-06 21:36] chrisprice opened #1140 "Strange behaviour of Observable.of([x]).map"
I have a use case for creating an observable of arrays and came across some odd behaviour. The map function is invoked twice when using ```Observable.of(x)``` but not when using ```Observable.from([x])```. Is this expected?

[code]

[code]

However, swapping ```Observable.of([42])``` for ```Observable.from([[42]])``` as below, doesn't trigger the failure.

[code]